#page-cv{
	width: 1072px;
	float: left;
}
#form-cv{
	float: left;
	background: #fff;
	position: relative;	
	font-size: 14px;
	line-height: 24px;
	color:#494949;
}
#form-cv *{box-sizing:border-box !important}
#form-cv .h3{
    font-size:14px
}
#form-cv p{
	margin-top: 0;
	margin-bottom: 12px
}
/*#sortable .cvo-block{
	margin-bottom: 15px;
}*/

#cv-right .block {
     margin-bottom: 0px!important; 
}
h1{
	color:#fff;
}
#cv-main{
	width: 100%;
	display: table;
	margin:10px auto;
	margin-top: 0px
}
#cv-top{	
	min-height: 200px;
	width: 100%;
	color: #fff;		
	position: relative;	
}
#cv-content{
	width: 62%;
	min-height: 1055px;
	display: block;
	position: relative;
	float: left;
}
#cv-content .cvo-block {
    position: relative;
    padding: 5px 10px;
}
#cv-right{
	width: 37.8%;
	min-height: 1055px;
	display: block;
	background: #2e73b6;
	/*border-right:2px solid #ddd;*/
	position: relative;
	float: left;
}
#cv-right .ctbx {
	padding-bottom: 0;
	margin:0;
}
.skill{
	margin-top: 15px
}

#cv-top h1{
	font-size: 42px;    
    font-weight: 500;
    text-transform: capitalize;       
    color:#312f31;
    margin-bottom: 5px
}
#cv-top h2{
	font-size: 30px;
	font-weight: normal;
	margin-top: 10px;
	text-transform: uppercase;
	/*float: right;*/
	color: #2e73b6;
	font-weight: 500;
}
.box-01 p{	
	
}
.box-01{
	margin:auto;	
	overflow: hidden;	
	padding-top: 50px;
	margin-bottom: 15px;
	padding: 30px 15px 20px;
}
#cv-content .ir{
	
}
#cv-content p{
	margin-bottom: 5px
}
#cv-content .ir a{
	color: #2ebb2f
}
#cv-right .h3, #cv-content .head{
	font-size: 18px;
	text-transform: uppercase;
    background: #2e73b6;  
    color: #ffffff;    
    font-weight: 500;
    margin-top: 0;
    padding: 5px;
}

#cv-content .head{
	    margin-top: 10px;
}




#cv-content h3{	
	font-weight: normal;
    font-size: 14px;
    color: #237a5f;
    text-transform: uppercase;
    margin-bottom: 0;line-height:24px
}

#cv-content .h3{
	color:#333;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 0;line-height:24px
}
#cv-content span[contenteditable]{
	display: inline-block;
	padding-right: 8px;
}

#cv-right .h3:first-child{
	margin-top: 0
}
.ctbx{
	margin-bottom: 15px;
	position: relative;
}
.ctbx .r5 .h3{
	text-transform: uppercase;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}
#cvo-profile-avatar-wraper{
	float: left;
	padding:15px;
	width: 37.8%;
	background: #2e73b6;text-align:center
}
#cvo-profile-avatar-wraper #cvo-profile-avatar{
	padding: 0;
	border:0;
	display: table;
	width: 200px;
	height: 200px;
	margin:0 auto

}
#line-seperate {
    height: 25px;
    background-color: #e3ecec;
}
.bar-exp span {
    display: block;
    height: 8px;
    background: #237a5f;
}
.bar-exp{
	background: #cecece;
	width: 50%;
	margin-top: 8px;margin-bottom:12px
}
.bar-value-exp{
	width: 50%
}
.skill-name{
	float: left;
}
.icoweb label{
	width: 35%;
	margin-right: 0;
	float: left;
}
#cv-right .icoweb span{
	display: block;
}
#cv-right .icoweb i.fa{
	width: 20px;
    height: 20px;
    text-align: center;
    line-height: 17px;
    color: #ffffff;
    vertical-align: top;
    font-size: 14px;
    margin-top: 2px;
    margin-right: 5px;
    background: #2e73b6;
    border: solid 1px #ffffff;
    border-radius: 50%;float:left
}
.icoweb{
	margin-bottom: 12px !important;
	color: #ffffff;
}
#cv-content .cvo-block{

}
#cv-right .box-contact{
    padding-left: 25px;
    width: 95%;
}
.box-contact{
	background: #2e73b6
}
.block{padding: 0 10px;}
.cvo-skillrate-value[value="1"]{width:20%}
.cvo-skillrate-value[value="2"]{width:40%}
.cvo-skillrate-value[value="3"]{width:60%}
.cvo-skillrate-value[value="4"]{width:80%}
.cvo-skillrate-value[value="5"]{width:100%}
em[contenteditable]{display:inline-block}
span.date{font-weight:normal;font-style:italic;padding:0 10px;float:right}
span.exp-date{float:right}
@media screen and (max-width: 790px) {
    #cv-top{width:100%;text-align:center;float:none}
    #cvo-profile-avatar-wraper{float:none;margin:0;width:100%}
    #cvo-profile-avatar-wraper img{margin:0 auto}
    #cv-top h1,#cv-top h2{float:none;width:90%;margin:10px auto}
    #cv-right{width:100%;min-height:100px;float:none;margin-left:0;padding-right:0}
    #cv-content{width:100%;float:none;min-height:100px;float:none;margin-left:0}
    .box-contact{position:relative !important;top:0;width:100%}
    .icoweb{width:100%}
    .box-01{padding-top:0;margin-bottom:0}
}