#banner-header-second {
    color: #8fb1be !important;
}

.info-heading {
    color: #8fb1be !important
}

.progress-bar {
    border: 1px solid #8fb1be !important;
}

.progress-core {
    background: #8fb1be !important;
}