#banner-header-second {
    color: #9500fe !important;
}

.info-heading {
    color: #9500fe !important
}

.progress-bar {
    border: 1px solid #9500fe !important;
}

.progress-core {
    background: #9500fe !important;
}