#banner-header-second {
    color: #fe5e00 !important;
}

.info-heading {
    color: #fe5e00 !important
}

.progress-bar {
    border: 1px solid #fe5e00 !important;
}

.progress-core {
    background: #fe5e00 !important;
}