.cv-main {
    background: url("/MyCV/templates/1075/images/bg1075-2.jpg") !important;
}

#head-name {
    color: #008838 !important;
}

#head-underline-decor::after, #head-underline-decor::before {
    border-bottom: 2px solid #009e5f !important;
}

.col-left::after {
    border-right: 2px solid #009e5f !important;
}

.title-head {
    color: #008837 !important;
}

#education [name="edu.name"], .sub-div-head, #certifications [name="cer.name"], 
#activities [name="act.name"], #awards [name="award.name"], #skills .sub-div [data-x-id="name"] {
    color: #00a64b !important;
}

#logo-decor div {
    background: url("/MyCV/templates/1075/images/head2.png") !important;
}