<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" id="cv-css" href="/MyCv/templates/1081/css/mausac.css?v=29">
<link rel="stylesheet" id="cv-scheme-css" href="/MyCv/templates/1081/colors/08a59d.css">
<link rel="stylesheet" id ="cv-font-size-css" href="/MyCv/templates/1081/font-sizes/font_normal.css?v=1">
<link rel="stylesheet" id ="cv-font" href="/MyCv/templates/1081/fonts/roboto_condensed.css">


<div id="form-cv" data-x-name="parrent">
	<div page='1' class="page pagemax bgpage">
		<div data-x-name="col-parrent" data-x-col="1" class="page_col1">
			<div class="height-curent">
				<div data-x-name = "item" data-x-id="info" class="top-banner">
					<div class="cimg">
						<img src="/MyCv/templates/1081/images/anh-the-3x4.jpg" data-x-id="ava">
					</div>
					<div class="dvinfo1">
						<div class="dvinfosub">
							<div class="namecv" data-x-rel= "name">
								<p data-x-id="name" class="txt-name" contenteditable="true">
									JODY THÁI PHẠM
								</p>
							</div>
							<div class="pos-em" data-x-rel="job">
								<span data-x-id ="job" contenteditable="true" class="txtpos txt-job">NHÂN VIÊN KINH DOANH</span>
								<span class="posp"></span>
							</div><!-- pos-em -->
						</div>
					</div>
					<div class="bxinfo2">
						<div class="dvinfosub2">
							<div  data-x-rel="dob" class="icoweb txtline1">
							    <i class="fa fa-gift icoweb_left" aria-hidden="true"></i>
								<p data-x-id ="dob"  contenteditable="true" class="icoweb_right txt-content">20/08/1994</p>
							</div>
							<div data-x-rel="email" class="icoweb txtline2">
						    	<i class="fa fa-envelope icoweb_left" aria-hidden="true"></i>
								<p data-x-id ="email" contenteditable="true" class="icoweb_right txt-content">ttrang112@gmail.com</p>
							</div>
							<div  data-x-rel="tel" class="icoweb txtline3">
						    	<i class="fa fa-phone icoweb_left" aria-hidden="true"></i>
								<p data-x-id ="tel" contenteditable="true" class="icoweb_right txt-content">0909 009 009</p>
							</div>
							<div data-x-rel="web" class="icoweb txtline5">
								<i class="fa fa-globe icoweb_left" aria-hidden="true"></i>
								<p data-x-id ="web" contenteditable="true" class="icoweb_right txt-content">linkweb.com</p>
							</div>
							<div data-x-rel="add" class="icoweb txtline4">
							    <i class="fa fa-map-marker icoweb_left" aria-hidden="true"></i>
								<p data-x-id ="add" contenteditable="true" class="icoweb_right txt-content">01 Trường Sơn, P.4, Q. Tân Bình,  TP. HCM</p>
							</div>
						</div>
					</div><!-- dvinfo2 -->
				</div><!-- end top-banner -->
			</div>
		</div>
		<div class="flexbox">
		  	<div data-x-name="col-parrent" data-x-col="2" class="col1 col page_col2">
		  		<div class="height-curent">
					<div data-x-name= "content" class="height_content">
						<span class="spempty"></span>
							<div data-x-name = "group-item" class="groupItem">
							<div class="bxitem" data-x-name="item" data-x-id="skill">
								<div data-x-name="head" class="htitle2">
									<p data-x-id="tit" contenteditable="true" class="tit">Kỹ năng</p>
								</div>
								<div data-x-name="list-item" class="bxinfo3">
									<div class="subdv" data-x-name="sub-item">
										<p class="txtline txt-content" data-x-id="name" contenteditable="true">Laravel</p>
										<div class="cvo-skillrate-bar val_skill">
											<div data-x-id="val" value="1" class="cvo-skillrate-value progressBar_skill"></div>
										</div>
	                                </div>
									
								</div>
							</div>
							<div class="bxitem itemCer" data-x-name="item" data-x-id="cer">
								<div data-x-name="head" class="htitle2">
									<p  data-x-id="tit" contenteditable="true" class="tit">Chứng chỉ</p>
								</div>
								<div data-x-name="list-item" class="bxinfo3">
									<div data-x-name="sub-item" class="subdv2">
										<p class="mart" data-x-id="time" contenteditable="true" >12/2012</p>
										<div class="subcont">
											<p class="txt5" data-x-id="name" contenteditable="true" >
												TOEIC<br>
												750 điểm. Có thể: 
											</p>
											<div data-x-id="des" contenteditable="true" data-x-bullet="●" class="lst2 txt-content">
												Viết business và support email.</br>
												● Đọc và viết tài liệu tham khảo<br>
												● Nghe, nói và take note khi thảo luận công việc qua các buổi họp, call với khách hàng.<br>
											</div>
										</div>
									</div>
									<div data-x-name="sub-item" class="subdv2">
										<p class="mart" data-x-id="time" contenteditable="true" >12/2012</p>
										<div class="subcont">
											<p class="txt5" data-x-id="name" contenteditable="true" >
												TOEIC<br>
												750 điểm. Có thể: 
											</p>
											<div data-x-id="des" contenteditable="true" data-x-bullet="●" class="lst2">
												Viết business và support email.</br>
												● Đọc và viết tài liệu tham khảo<br>
												● Nghe, nói và take note khi thảo luận công việc qua các buổi họp, call với khách hàng.<br>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div data-x-name="item" data-x-id="skill_ta" class="bxitem item_skill_ta">
								<div data-x-name="head" class="htitle2">
									<p data-x-id="tit" contenteditable="true" class="tit">Ngôn ngữ</p>
								</div>
								<div data-x-name="list-item" class="bxinfo3">
									<div data-x-name="sub-item" class="txtline6">
										<p data-x-id="name" contenteditable="true" class="txt3">English</p>
										<div class="cvo-skillrate-bar radialProgressBar">
						              		<div class="cvo-skillrate-value overlay" data-x-id="val" value ="1"></div>
						            	</div>
									</div>
									<div data-x-name="sub-item" class="txtline6">
										<p data-x-id="name" contenteditable="true" class="txt3">English</p>
										<div class="cvo-skillrate-bar radialProgressBar">
						              		<div class="cvo-skillrate-value overlay" data-x-id="val" value ="2"></div>
						            	</div>
									</div>
									<div data-x-name="sub-item" class="txtline6">
										<p data-x-id="name" contenteditable="true" class="txt3">English</p>
										<div class="cvo-skillrate-bar radialProgressBar">
						              		<div class="cvo-skillrate-value overlay" data-x-id="val" value ="3"></div>
						            	</div>
									</div>
									<div data-x-name="sub-item" class="txtline6">
										<p data-x-id="name" contenteditable="true" class="txt3">Spanish</p>
										<div class="cvo-skillrate-bar radialProgressBar">
						              		<div class="cvo-skillrate-value overlay" data-x-id="val" value ="4"></div>
						            	</div>
									</div><!-- end txtline6 -->
									<div data-x-name="sub-item" class="txtline6">
										<p data-x-id="name" contenteditable="true" class="txt3">German</p>
										<div class="cvo-skillrate-bar radialProgressBar">
						              		<div class="cvo-skillrate-value overlay" data-x-id="val" value ="5"></div>
						            	</div>
									</div>
								</div>
							</div>
							<div data-x-name="item" data-x-id="ref" class="bxitem itemref">
								<div data-x-name="head" class="htitle2">
									<p data-x-id="tit" contenteditable="true" class="tit">Tham khảo</p>
	                            </div>
	                            <div data-x-name="list-item" class="bxinfo3">
									<div data-x-name="sub-item" class="subdv2">
										<div data-x-id="name"  contenteditable="true" class="txt-content">
											Đỗ việt anh<br>
											<i>Nhân viên kinh doanh</i><br>
											<b><i>Công ty CP xây dựng và phát triển</i></b>
										</div>
									</div>
									<div data-x-name="sub-item" class="subdv2">
										<div data-x-id="name" contenteditable="true" class="txt-content">
											Đỗ việt anh<br>
											<i>Nhân viên kinh doanh</i><br>
											<b><i>Công ty CP xây dựng và phát triển</i></b>
										</div>
									</div>
								</div>
							</div>
							<div data-x-name="item" data-x-id="tar" class="bxitem itemTar">
								<div data-x-name="head" class="htitle2">
									<p data-x-id="tit" contenteditable="true" class="tit">Mục tiêu</p>
	                            </div>
								<div data-x-name="list-item" class="bxinfo3">
									<p data-x-id="name" contenteditable="true" class="namesub txt-content">
	                            		Chịu được áp lực trong công việc
	                            	</p>
								</div>
							</div>
							<div data-x-name="item" data-x-id="award" class="bxitem itemAward">
							    <div data-x-name="head" class="htitle2">
									<p data-x-id="tit" contenteditable="true" class="tit">Giải thưởng</p>
							    </div>
							    <div data-x-name="list-item" class="bxinfo3">
							        <div data-x-name="sub-item" class="subdv2">
							            <div data-x-id="name"  contenteditable="true" class="name_subitem txt-content">Giải thưởng 1</div>
							            <span data-x-id="time" contenteditable="true" class="time_subitem txt-content">2016</span>
							        </div>
							        
							    </div>
							</div>
						</div>
					</div>
				</div>
		  	</div>
		  	<div data-x-name="col-parrent" data-x-col="3" class="col2 col page_col3">
		  		<div class="height-curent">
					<div data-x-name= "content" class="height_content">
		  				<span class="spempty"></span>
						<div data-x-name = "group-item" class="groupItem">
							<div data-x-name="item" data-x-id="more" class="bxitem">
								<div data-x-name="head" class="htitle3">
									<p data-x-id="tit" contenteditable="true" class="tit">Giới thiệu</p>
								</div>
									<div data-x-id="name" class="txt-content" contenteditable="true" style="margin-top: 10px;">
										Đạt chứng nhận CPA Việt Nam và chứng chỉ Kế toán trưởng với hơn 10 năm kinh nghiệm trong lĩnh vực kế toán và tài chính. Có kinh nghiệm trong kế toán, tính thuế và báo cáo cho khách hàng và tổ chức kinh doanh. Có kinh nghiệm chuyên môn với nhiều chương trình phần mềm kế toán phổ biến nhất (MISA, FAST). Đạo đức nghề nghiệp tốt, cam kết lưu giữ hồ sơ chính xác và toàn vẹn. Mong muốn tham gia nhóm các kế toán viên và giúp cải thiện tài chính của tổ chức.
									</div>
							</div>
							<div data-x-name="item" data-x-id="exp" class="bxitem">
								<div data-x-name="head" class="htitle4">
									<p data-x-id="tit" contenteditable="true" class="tit">Kinh nghiệm làm việc</p>
								</div>
								<div data-x-name="list-item" class="bxinfo3">
									<div data-x-name="sub-item" class="subdv2">
										<div class="txt2">
											<p data-x-id="start" contenteditable="true">10/2016</p>
											<p class="space_time">-</p>
											<p data-x-id="end" contenteditable="true">03/2018</p>
										</div>
										<div class="contright">
											<p class="txt1" data-x-id="name"  contenteditable="true" >FRONT-END DEVELOPER  </p>
											<p data-x-id="pos" contenteditable="true" class="txt4">VietCV 2 </p>
											<div data-x-id="des"  contenteditable="true" data-x-bullet="●" class="lst txt-content">
												Chịu trách nhiệm làm việc với nhiều dự án cùng lúc, thiết kế các trang web hấp dẫn, tương tác hàng ngày với các bạn thiết kế đồ họa, back-end developer và nhóm tiếp thị. <br>
												● Phát triển và duy trì chức năng front-end của các trang web. <br>
											</div>
										</div>
									</div>
								
								</div>
							</div>
							<div data-x-name="item" data-x-id="edu" class="bxitem">
								<div data-x-name="head" class="htitle5">
									<p data-x-id="tit" contenteditable="true" class="tit">Học vấn</p>
								</div>
								<div data-x-name="list-item" class="bxinfo3">
									<div data-x-name="sub-item" class="subdv2">
										<div class="txt2">
											<p data-x-id="start" contenteditable="true">10/2016</p>
											<p class="space_time">-</p>
											<p data-x-id="end" contenteditable="true">03/2018</p>
										</div>
										<div class="contright">
											<p class="txt1" data-x-id="name" contenteditable="true" >FRONT-END DEVELOPER  </p>
											<p data-x-id="cat" contenteditable="true" class="txt4">VietCV 2 </p>
											<div data-x-id="des" contenteditable="true" data-x-bullet="●" class="lst txt-content">
												Chịu trách nhiệm làm việc với nhiều dự án cùng lúc, thiết kế các trang web hấp dẫn, tương tác hàng ngày với các bạn thiết kế đồ họa, back-end developer và nhóm tiếp thị. <br>
												● Phát triển và duy trì chức năng front-end của các trang web. <br>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div data-x-name="item" data-x-id="pro" class="bxitem itemPro">
								<div data-x-name="head" class="htitle6">
									<p data-x-id="tit" contenteditable="true" class="tit">Dự án</p>
								</div>
								<div data-x-name="list-item" class="bxinfo3">
									<div data-x-name="sub-item" class="subdv2">
										<div class="txt2">
											<p data-x-id="start" contenteditable="true">10/2016</p>
											<p class="space_time">-</p>
											<p data-x-id="end" contenteditable="true">03/2018</p>
										</div>
										<div class="contright">
											<p class="txt1" data-x-id="name" contenteditable="true" >FRONT-END DEVELOPER</p>
											<div class="txt6">
												<p data-x-label="pro.tech" class="txt_label">Công nghệ:</p>
												<p data-x-id="tech" contenteditable="true" class="txt_cmt">html</p>
											</div>
											<div class="txt7">
												<p data-x-label="pro.pos" class="txt_label">Vị trí:</p>
												<p data-x-id="pos" contenteditable="true" class="txt_cmt">VietCV 2 </p>
											</div>
											<div class="bxitem_des">
												<div data-x-label="pro.des" class="txt_label" style="margin-bottom: 10px;">Chi tiết:</div>
												<div data-x-id="des"  contenteditable="true" data-x-bullet="●" class="lst txt-content">
													Chịu trách nhiệm làm việc với nhiều dự án cùng lúc, thiết kế các trang web hấp dẫn, tương tác hàng ngày với các bạn thiết kế đồ họa, back-end developer và nhóm tiếp thị. <br>
													● Phát triển và duy trì chức năng front-end của các trang web. <br>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div data-x-name="item" data-x-id="act" class="bxitem">
								<div data-x-name="head" class="htitle7">
									<p data-x-id="tit" contenteditable="true" class="tit">Hoạt động</p>
								</div>
								<div data-x-name="list-item" class="bxinfo3">
									<div data-x-name="sub-item" class="subdv2">
										<div class="txt2">
											<p data-x-id="start" contenteditable="true">10/2016</p>
											<p class="space_time">-</p>
											<p data-x-id="end" contenteditable="true">03/2018</p>
										</div>
										<div class="contright">
											<p class="txt1" data-x-id="name" contenteditable="true" >FRONT-END DEVELOPER  </p>
											<p data-x-id="pos" contenteditable="true" class="txt4">VietCV 2 </p>
											<div data-x-id="des"  data-x-bullet="●" contenteditable="true" class="lst txt-content">
												Chịu trách nhiệm làm việc với nhiều dự án cùng lúc, thiết kế các trang web hấp dẫn, tương tác hàng ngày với các bạn thiết kế đồ họa, back-end developer và nhóm tiếp thị. <br>
												Phát triển và duy trì chức năng front-end của các trang web. <br>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		  	</div>
		</div>
	</div>
</div>
<div id = 'page' class="page pagemax bgpage" style="display: none">
	<div data-x-name="col-parrent" data-x-col="1" class="page_col1">
		<div class="height-curent"></div>
	</div>
	<div class="flexbox">
	  	<div data-x-name="col-parrent" data-x-col="2" class="col1 col page_col2">
	  		<div class="height-curent">
				<div data-x-name= "content" class="height_content"></div>
				<div id="cv-watermark">© <a href="https://joboko.com/" target="_blank"></a></div>
			</div>
		</div>
		<div data-x-name="col-parrent" data-x-col="3" class="col2 col page_col3">
	  		<div class="height-curent">
				<div data-x-name= "content" class="height_content"></div>
			</div>
		</div>
	</div>
</div>