/* Default color */
@import '../cv.css?v=2.2.1';
#group-header {
    background-color: #0ead69;
}
.cvo-education-title,
.cvo-activity-position,
.cvo-experience-position,
.cvo-award-title,
.cvo-certification-title {
    color: #0ead69;
}
.cvo-skillrate-value {
    background-color: #0ead69;
}
ul#interest-table li:before {
    color: #0ead69;
}
