@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
body.page-preview,body.page-view,body.page-viewdemo{background:url(/images3/bg-cv/3.jpg) no-repeat;background-size:cover;background-attachment:fixed}
body.page-preview .xbgcv.xbgcv1{position:fixed;z-index:99;right:0;bottom:0;width:150px;height:150px;background:url(/images3/bg-cv/7.2.png) no-repeat;background-size:cover}
#cv-document{--fixed-size:0px;font-size:10px}
#cv-document *{box-sizing:border-box}
#cv-document #cv-watermark a:after{content:"Joboko.com"}
#cv-document .page:last-child #cv-watermark{position:absolute;right:1em;bottom:2em}
#cv-document .relative{position:relative}
#cv-document .inline-block{display:inline-block}
#cv-document .content{border-left-width:1px;border-left-style:solid;padding:.7em 0 1.1em 3em}
#cv-document [contenteditable] ul, #cv-document [contenteditable] ol {
    margin-left: 18px
}
#cv-document [contenteditable] ol li {
    list-style: auto;
}
#cv-document [contenteditable] ul li {
    list-style-type: disc
}
/*#cv-document .bullet::before{content:attr(data-x-bullet);margin-right:.25em}*/
#cv-document .page{display:flex}
#cv-document .page__inner{display:flex;flex-direction:column;padding:4.4em 0 0}
#cv-document .bottom{flex-grow:1;padding:3.9em 4em 0 3.9em}
@media screen and (max-width:767px){
#cv-document .bottom{padding:2em 2em 0}
}
#cv-document .full-width{position:relative;flex-wrap:wrap;display:flex;margin-top:-4.4em;padding:7.6em 3.8em 0;background-repeat:no-repeat;background-position:left -3.4em top -7.4em;background-size:32.5em 60.2em}
@media screen and (max-width:767px){
#cv-document .full-width{padding:4em 2em}
}
#cv-document .full-width__left{width:48%}
@media screen and (max-width:767px){
#cv-document .full-width__left{width:100%}
}
#cv-document .full-width__right{width:52%}
@media screen and (max-width:767px){
#cv-document .full-width__right{width:100%}
}
#cv-document .two-up{flex-wrap:wrap;display:flex}
#cv-document .two-up__left{width:48%;padding:1.1em 3.5em 1.1em 3.9em}
@media screen and (max-width:767px){
#cv-document .two-up__left{width:100%;padding:1em 2em}
}
#cv-document .two-up__left-item{margin-bottom:2.5em}
#cv-document .two-up__right{width:52%;padding:1.1em 4em 1.1em 2.7em}
@media screen and (max-width:767px){
#cv-document .two-up__right{width:100%;padding:1em 2em}
}
#cv-document .two-up__right-item{margin-bottom:2.8em}
#cv-document .h1,#cv-document .h2,#cv-document .h3,#cv-document .h4,#cv-document .h5,#cv-document .h6,#cv-document h1,#cv-document h2,#cv-document h3,#cv-document h4,#cv-document h5,#cv-document h6,#cv-document p{margin:0}
#cv-document .cvo-skillrate-radial::after{font-weight:700}
#cv-document .regular{font-weight:400}
#cv-document .light{font-weight:300}
#cv-document .medium{font-weight:500}
#cv-document .semi-bold{font-weight:600}
#cv-document .bold{font-weight:700}
#cv-document .black{font-weight:900}
#cv-document .uppercase{text-transform:uppercase}
#cv-document .heading{margin-bottom:1.3em}
#cv-document .heading__title{position:relative;border-bottom-width:1px;border-bottom-style:solid;padding-bottom:.7em;padding-left:3em}
#cv-document .heading__title::before{content:"";position:absolute;top:0;left:0;width:.3em;height:2.2em}
#cv-document .heading__title::after{content:"";position:absolute;top:0;left:.6em;width:1.2em;height:2.2em}
#cv-document .heading--no-bd{margin-bottom:.9em}
#cv-document .heading--no-bd .heading__title{border-bottom:none;padding-bottom:0}
#cv-document .avatar{position:relative;z-index:2;overflow:hidden;margin-top:.5em;margin-right:3.8em;margin-bottom:4em}
@media screen and (max-width:767px){
#cv-document .avatar{margin:0 auto 3em;max-width:30em}
}
#cv-document .avatar__wrapper{justify-content:center;align-items:center;display:flex;width:100%;height:38em;padding:0 .5em}
#cv-document .avatar__wrapper img{width:100%;height:37em}
#cv-document .info-main{position:relative;padding:4em 0 4em;text-align:right}
@media screen and (max-width:767px){
#cv-document .info-main{padding:3em 0 0;text-align:center}
}
#cv-document .info-main::before{content:"";position:absolute;top:0;bottom:0;left:-.5em;width:1em;pointer-events:none}
@media screen and (max-width:767px){
#cv-document .info-main::before{content:none}
}
#cv-document .info-main__title{position:relative;margin:0 0 .9em}
#cv-document .info-main__text{position:relative;z-index:5;margin-right:-3.8em;margin-left:-4.3em;padding:.7em 3.8em .7em 4.3em}
@media screen and (max-width:767px){
#cv-document .info-main__text{margin-right:-2em;margin-left:-2em;padding:.7em 2em}
}
#cv-document .info-main__text::before{content:"";position:absolute;z-index:2;top:0;left:-4em;width:4em;height:4em}
@media screen and (max-width:767px){
#cv-document .info-main__text::before{content:none}
}
#cv-document .info-main__text::after{content:"";position:absolute;z-index:2;top:4em;left:-4em;width:4em;height:2.1em;background-repeat:no-repeat}
@media screen and (max-width:767px){
#cv-document .info-main__text::after{content:none}
}
#cv-document .info-detail{margin-left:2.5em}
@media screen and (max-width:767px){
#cv-document .info-detail{margin-left:0}
}
#cv-document .info-detail__item{display:flex;margin-bottom:.8em}
#cv-document .info-detail__item:last-child{margin-bottom:0}
#cv-document .info-detail__item-icon{position:relative;flex-shrink:0;margin-right:2em;min-width:1.2em;text-align:center}
#cv-document .skill{margin-top:1.9em}
#cv-document .skill__item{margin-bottom:1.8em}
#cv-document .skill__item:last-child{margin-bottom:0}
#cv-document .skill__item-title{margin-top:.5em}
#cv-document .skill-ta{margin-top:1.4em}
#cv-document .skill-ta__item{margin-bottom:.5em}
#cv-document .skill-ta__item:last-child{margin-bottom:0}
#cv-document .skill-th{margin-top:1.4em}
#cv-document .skill-th__item{margin-bottom:.5em}
#cv-document .skill-th__item:last-child{margin-bottom:0}
#cv-document .cvo-skillrate{align-items:center;display:flex}
#cv-document .cvo-skillrate>span{margin:0 1px 0 .3em;border-width:1px;border-style:solid;border-radius:50%;border-radius:.3em;width:2.2em;height:1em;transform:skewX(335deg)}
#cv-document .cvo-skillrate-radial{position:relative;border-radius:50%;width:9em;height:9em;text-align:center}
#cv-document .cvo-skillrate-radial::after{content:"";position:absolute;top:1px;right:-3.2777777778em}
#cv-document .cvo-skillrate-radial[value="1"]::after{content:"20%"}
#cv-document .cvo-skillrate-radial[value="2"]::after{content:"40%"}
#cv-document .cvo-skillrate-radial[value="3"]::after{content:"60%"}
#cv-document .cvo-skillrate-radial[value="4"]::after{content:"80%"}
#cv-document .cvo-skillrate-radial[value="5"]::after{content:"100%"}
#cv-document .action__item{margin-bottom:1.2em}
#cv-document .action__item:last-child{margin-bottom:0}
#cv-document .action__item-pos{margin-bottom:.3em}
#cv-document .action__item-date{display:inline-block;margin-bottom:1.4em;padding:0 .9em;letter-spacing:.8px}
/*#cv-document .action__item-text br{content:"";display:block;margin-top:.1333333333em}*/
#cv-document .certification{margin-top:-.4em}
#cv-document .certification__item{margin-bottom:1.6em}
#cv-document .certification__item:last-child{margin-bottom:0}
#cv-document .certification__item-title{margin-bottom:.5em}
#cv-document .certification__item-date{display:inline-block;padding:0 .9em;letter-spacing:.8px}
#cv-document .education__item{margin-bottom:1.2em}
#cv-document .education__item:last-child{margin-bottom:0}
#cv-document .education__item-date{display:inline-block;margin-bottom:1.4em;padding:0 .9em;letter-spacing:.8px}
#cv-document .education__item-pos{margin-bottom:.3em}
#cv-document .education__item-cat{margin-bottom:.2em}
/*#cv-document .education__item-text br{content:"";display:block;margin-top:.1333333333em}*/
#cv-document .experience__item{margin-bottom:1.2em}
#cv-document .experience__item:last-child{margin-bottom:0}
#cv-document .experience__item-pos{margin-bottom:.3em}
#cv-document .experience__item-date{display:inline-block;margin-bottom:1.4em;padding:0 .9em;letter-spacing:.8px}
/*#cv-document .experience__item-text br{content:"";display:block;margin-top:.1333333333em}*/
#cv-document .hobby{flex-wrap:wrap;justify-content:space-between;display:flex}
#cv-document .hobby__item{position:relative;margin-bottom:.3em;width:41%;padding-left:2.4em}
#cv-document .hobby__item:last-child{margin-bottom:0}
#cv-document .hobby__item:nth-child(even){margin-left:auto}
#cv-document .hobby__item::before{content:"";position:absolute;top:.5em;left:0;width:1.5em;height:1em}
#cv-document .references__item{margin-bottom:.6em}
#cv-document .references__item:last-child{margin-bottom:0}
/*#cv-document .target br{content:"";display:block;margin-top:.4666666667em}*/
#cv-document .advantage{margin-top:1.4em}
#cv-document .advantage__item{margin-bottom:.5em}
#cv-document .advantage__item:last-child{margin-bottom:0}
#cv-document .project{margin-bottom:6rem}
#cv-document .project__item{position:relative;margin-bottom:2em}
#cv-document .project__item::after{content:"";position:absolute;top:0;right:0;bottom:0;left:0;border-width:1px;border-style:solid;pointer-events:none}
#cv-document .project__item:last-child{margin-bottom:0}
#cv-document .project__item-head{flex-wrap:wrap;justify-content:space-between;display:flex;margin-top:1.1em;padding:1.1em 1.5em}
#cv-document .project__item-title{position:relative;margin-right:2em;padding:0 2.1em 0 0}
#cv-document .project__item-title::before{top:.8em;left:.2em}
#cv-document .project__item-title::after{content:"";position:absolute;top:1px;right:0;bottom:1px;width:1px}
#cv-document .project__item-time{flex-shrink:0}
#cv-document .project__item-table{width:100%;border-collapse:collapse}
#cv-document .project__item-table .tr{display:flex}
#cv-document .project__item-table .td,#cv-document .project__item-table .th{border-width:1px 1px 0 1px;border-style:solid;padding:.8em 1.3em;vertical-align:top}
#cv-document .project__item-table .th{border-right:none;border-left-style:solid;width:21%}
@media screen and (max-width:767px){
#cv-document .project__item-table .th{width:30%}
}
#cv-document .project__item-table .td{border-right-style:solid;width:79%;padding-left:1.8em}
@media screen and (max-width:767px){
#cv-document .project__item-table .td{width:70%}
}
#cv-document .project__item-table .tr:first-child .td,#cv-document .project__item-table .tr:first-child .th{border-top-style:solid}
#cv-document .project__item-table .tr:last-child .td,#cv-document .project__item-table .tr:last-child .th{border-bottom-width:1px;border-bottom-style:solid}
#cv-document .cletter{border-width:1px;border-style:solid;padding:1.5em}
/*#cv-document .cletter br{content:"";display:block;margin-top:.4em}*/
#cv-document [contentEditable] *{font-size:1em!important}
[contenteditable]:focus{outline:1pt dashed #77a5cc!important;cursor:text}
[contentEditable=true]:empty{outline:1pt dashed #fc4b08!important}
[contenteditable=true]:empty:before{content:attr(placeholder)!important}
#cv-document span.x_add.fa.fa-plus-circle,#cv-document span.x_del.fa.fa-remove{min-width:70px!important}
#cv-document .height-curent>[data-x-name=group-item]{padding-bottom:30px}
.template-special .x_hide{display: flex !important;}

#cv-document .inline {display:inline;min-width: 1em;}
#cv-document .inline:empty {display:inline-block}