.itemInfo .nameInfo,  .itemInfo .jobInfo,.itemInfo .icoweb i{
	color: #000000;
}
.icon_tit {
	color: #000000;
    border-bottom: 5px solid #7a7a7a;
}
.itemEdu .subName , .itemExp .subName,.itemAct .subName{
	color: #000000;
}

.tit-item .border_tit {    
    border-bottom: 2px solid #000000;
}