.itemInfo .nameInfo,  .itemInfo .jobInfo,.itemInfo .icoweb i{
	color: #159978b5;
}
.icon_tit {
	color: #159978b5;
    border-bottom: 5px solid #159978b5 !important;
}
.itemEdu .subName , .itemExp .subName,.itemAct .subName{
	color: #159978b5;
}

.tit-item .border_tit {    
    border-bottom: 2px solid #159978b5;
}