#form-cv{
	font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}


#cv-document .h1,#cv-document .h2,#cv-document .h3,#cv-document .h1,#cv-document .h4,#cv-document .h5
{
  font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}


#cv-document .fa {
        font: normal normal normal 14px/1 FontAwesome ;
}


