/* Default color */
@import '../cv.css';
#group-header {
    background-color: #9f224e;
}
.cvo-block-header span {
    color: #9f224e;
}
.cvo-education-school,
.cvo-experience-company,
.cvo-activity-organization {
    color: #9f224e;
}
.cvo-skillrate-value {
    background-color: #9f224e;
}
#cvo-profile .contact-item-label {
    color: #9f224e;
}