#cvo-body {
    font-size: 10pt;
}
#cvo-header h1 {
    font-size: 22pt;
}
.block-title h3 {
    font-size: 13pt;
}
.block-content h4 {
    font-size: 12pt;
}
.cvo-document #skill-table .row {
    font-size: 10pt;
    line-height: 14pt;
}
.project_title h4 {
    font-size: 11pt;
    line-height: 15pt;
}
