/* -----------------ma mau #9b9b9b  -------*/
.sub_info .info {
	border-left: 41px solid #9b9b9b;
}
.sub-item-left {
    border-left: 12px solid #9b9b9b;
}
.sub-item-left {
    border-left: 12px solid #9b9b9b;
}
.block-special .block_content{
	border-left: 12px solid #9b9b9b;
}
.resume-color{ color:#9b9b9b}
@media screen and (max-width: 470px) {
	.sub-item-left {
    	border-left: 7px solid #9b9b9b;
    }
}
@media screen and (max-width: 680px) {
	.sub_info .info{
		border-left: 15px solid #9b9b9b;
	}
}
@media screen and (max-width: 470px) {
	.sub_info .info{
		border-left: 7px solid #9b9b9b;
	}
}