#cv-document {
  --text-color: #231f20;
  --bottom-line-color: #ba6b3f;
  --date-color: #231f20;
  --info-main-text-background-color: #ba6b3f;
  --heading-color: #ba6b3f;
  --avatar-background-color: #ba6b3f;
}