.icoweb i.fa{
    color: #004d4d!important;
}
.cv-left{
    background: #004d4d!important;
}
.box-name{        
    background: #004d4d;
}
.cv-content h3{ 
    color: #004d4d;
}
.cv-content .head{color:#004d4d}