.icoweb i.fa{
    color: #2a6598 !important;
}
.cv-left{
    background: #2a6598 !important;
}
.box-name{        
    background: #2a6598;
}
.cv-content h3{ 
    color: #2a6598;
}
.cv-content .head{color:#2a6598}
.bar-exp{background-color:#fff}
.bar-exp span{background-color:#2a6598}