
.icoweb i.fa{
    color: #4d2600!important;
}
.cv-left{
    background: #4d2600!important;
}
.box-name{        
    background: #4d2600;
}
.cv-content h3{ 
    color: #4d2600;
}
.cv-content .head{color:#4d2600}