
.icoweb i.fa{
    color: #602020!important;
}
.cv-left{
    background: #602020!important;
}
.box-name{        
    background: #602020;
}
.cv-content h3{ 
    color: #602020;
}
.cv-content .head{color:#602020}