.icoweb i.fa{
    color: #ff6d86 !important;
}
.cv-left{
    background: #ff6d86 !important;
}
.box-name{        
    background: #ff6d86;
}
.cv-content h3{ 
    color: #ff6d86;
}
.cv-content .head{color:#ff6d86}
.bar-exp{background-color:#fff}
.bar-exp span{background-color:#ff6d86}