.title-head[data-x-id=tit],
.title-head [data-x-id=tit]
{
    font-size: 19px !important;
    /* font-weight: bold; */
    
}
#cv-document .btx span{
    font-size: 14px;
    margin-bottom: 5px;
}
#cv-document .txt-skill{
    font-size: 14px;
}

#cv-document .txt-content{
    font-size: 13px;
}

#cv-document .txt-job{
    font-size: 17px;
}
#cv-document .txt-name{
    font-size: 27px;
}

