#page-cv{
	width: 1072px;
	float: left;
}
#form-cv{
	float: left;
	position: relative;
	background: #fff;
	font-size: 14px;
	line-height: 24px;
	color:#494949;
	border: solid 1px #cc0000;
	padding: 30px 10px;
}
#form-cv *{box-sizing:border-box !important}
#form-cv .h3{
    font-size:14px
}
#form-cv p{
	margin-top: 0;
	margin-bottom: 12px
}
#sortable .cvo-block{
	margin-bottom: 10px
}
#cv-main{
	display: table;
}
#cv-top{	
	border-right: solid 1px #ffffff;
}
#cv-content{
	width: 59.6%;
	min-height: 1200px;
	float: left;
	position: relative;
	border-left: solid 1px #ffffff;
	padding-left: 5px;
	/*background: #333e51;*/
		/*color: #ffffff;*/
}
#cv-content .cvo-block {
    position: relative;
    padding: 5px 10px;
}
#cv-right{
	width: 39.6%;
	min-height: 863px;
	float: right;	
	position: relative;
	border-right: solid 1px #ffffff;


}

/*p.skill-name input{
	color:#fff;
}*/
#cv-right .ctbx {
	padding-bottom: 0;
	margin:0;
}
.skill{
	margin-top: 15px
}


#cv-top h1{
	font-size: 32px;	
	margin:0;
	padding:5px 10px 5px 10px;
	line-height: normal;
	text-transform: uppercase;
	text-align: center;
	text-shadow: -2px 2px #a6a7a8;
    font-weight: 700;
}

#cv-top h1 span{
	padding: 0px;
	color: #232323;

}

#cv-top h2{
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 12px;
	color: #7c7a79;
	text-align: center;
	font-style: italic;
	text-transform: capitalize;
}
.box-01 p{		
    overflow: hidden;
}
.box-01{		
	overflow: hidden
}
#cv-content .ir{
	
}
#cv-content p{
	margin-bottom: 5px
}
#cv-content .ir a{
	color: #2ebb2f
}
#cv-right .h3, #cv-content .head{
	font-size: 18px;
    /*color: #fff;*/
    font-weight: bold;
    margin-top: 0;
    text-transform: uppercase;
}

#cv-content h3{	
	font-weight:bold;font-size:14px;line-height:30px;margin-bottom:10px
}

#cv-right .h3 span{
	padding: 0px 15px;
	margin: 5px 0px;
}

#cv-right .h3{
	text-align: right;
	border-bottom: solid 3px #bf0909;
}


#cv-content .head{
	border-bottom: solid 3px #cc0000;
}
#cv-content span[contenteditable]{
	display: inline-block;
	/*background: #333e51;*/
	padding-right: 10px;
	padding-left: 10px;
	
	/*color: #ffffff;*/
}

#cv-right .h3:first-child{
	margin-top: 0
}
.ctbx{
	margin-bottom: 25px;
	position: relative;
}
.ctbx .r5 .h3{
	text-transform: uppercase;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}
#cvo-profile-avatar-wraper{	
	padding:15px 0px 0px;
	text-align:center
}
#cvo-profile-avatar-wraper #cvo-profile-avatar{
	padding: 0;
	border:0;
	width: 200px;
	height: 200px;
	margin: 0 auto;
}
#line-seperate {
    height: 25px;
    /*background-color: #e3ecec;*/
}
.bar-exp span {
    display: block;
    height: 8px;
    background-color:#cd3301;
    /*background: #7c7a79;*/
}
.bar-exp{
	/*background: #e3ecec*/
    margin-bottom:12px
}
.icoweb label{
	display: block;
	color:#627e88;
}
#cv-right .icoweb span{
	display: block;
}

.box-contact{
	padding:15px!important;
}

#sortable .icoweb i.fa{
	width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    margin-right: 10px;
    margin-top: 2px;
}
.exp-content{
	padding-left: 15px;
}

.head i.fa, .h3 i.fa{
	font-size: 12px;
	border: solid 1px #7c7a79;
	border-radius: 50%;
	color: #7c7a79;
	/*background: white;*/
	margin-bottom: 5px;
	text-align: center;
	padding: 4px;
}
.block{padding: 0 10px;}
.cvo-skillrate-value[value="1"]{width:20%}
.cvo-skillrate-value[value="2"]{width:40%}
.cvo-skillrate-value[value="3"]{width:60%}
.cvo-skillrate-value[value="4"]{width:80%}
.cvo-skillrate-value[value="5"]{width:100%}
em[contenteditable]{display:inline-block}
span.date{font-weight:normal;font-style:italic;padding:0 10px;float:right}
span.exp-date{float:right}
#cv-right .icoweb i.fa {
    color: #CD3301;
    float: left;
}
@media screen and (max-width: 790px) {
    #cv-top{width:100%;text-align:center;float:none}
    #cvo-profile-avatar-wraper{float:none;margin:0}
    #cv-top h1,#cv-top h2{float:none;width:90%;margin:10px auto}
    #cv-right{width:100%;min-height:100px;float:none}
    #cv-content{width:100%;float:none;min-height:100px;float:none}

}


