body.page-preview,body.page-view,body.page-viewdemo{background:url(/images3/bg-cv/3.jpg) no-repeat;background-size:cover;background-attachment:fixed}
body.page-preview .xbgcv.xbgcv1{position:fixed;z-index:99;right:0;bottom:0;width:150px;height:150px;background:url(/images3/bg-cv/7.2.png) no-repeat;background-size:cover}
#cv-document{font-size:10px}
#cv-document *{box-sizing:border-box}
#cv-document #cv-watermark a:after{content:"Joboko.com"}
#cv-document .page:last-child #cv-watermark{position:absolute;right:1em;bottom:2em}
#cv-document .relative{position:relative;z-index:5}
#cv-document .inline-block{display:inline-block}
#cv-document .inline{display:inline}
#cv-document .flex-column{flex-direction:column;display:flex;height:100%}
#cv-document [data-x-name=item]{width:100%}
#cv-document .no-outline{outline:0}
#cv-document .no-outline:hover{box-shadow:none;outline:0}
#cv-document .mt-auto{margin-top:auto}
#cv-document .content{position:relative;margin-bottom:7em}
#cv-document .heading{position:relative;margin-bottom:.8em}
#cv-document .datetime{margin-bottom:1.8em}
#cv-document .page{display:flex}
#cv-document .page__inner{display:flex}
#cv-document .two-up{flex-wrap:wrap;display:flex;width:100%}
#cv-document .two-up__left{width:calc(100% - 35.8em);padding:5.1em 2.8em 0 5.1em}
@media screen and (max-width:767px){
#cv-document .two-up__left{order:1;width:100%;padding-right:2em;padding-left:2em}
}
#cv-document .two-up__right{width:35.8em;padding:0 2.3em}
@media screen and (max-width:767px){
#cv-document .two-up__right{width:100%;padding:0 2em}
}
#cv-document .two-up__right-inner{position:relative;height:100%;padding:4.5em 2em 0}
#cv-document .two-up__right-inner::before{content:"";position:absolute;z-index:5;top:0;right:0;bottom:0;left:0}
#cv-document .h1,#cv-document .h2,#cv-document .h3,#cv-document .h4,#cv-document .h5,#cv-document .h6,#cv-document h1,#cv-document h2,#cv-document h3,#cv-document h4,#cv-document h5,#cv-document h6,#cv-document p{margin:0}
#cv-document .regular{font-weight:400}
#cv-document .light{font-weight:300}
#cv-document .medium{font-weight:500}
#cv-document .bold{font-weight:700}
#cv-document .black{font-weight:900}
#cv-document .italic{font-style:italic}
#cv-document .uppercase{text-transform:uppercase}
#cv-document .avatar{position:relative;justify-content:center;align-items:center;display:flex;margin-bottom:6.3em}
#cv-document .avatar::after,#cv-document .avatar::before{content:"";position:absolute}
#cv-document .avatar::before{right:-4.3em;bottom:-3.6em;left:-4.3em;height:3.5em}
@media screen and (max-width:767px){
#cv-document .avatar::before{right:-4em;left:-4em}
}
#cv-document .avatar::after{z-index:10;right:-2.6em;bottom:-4.4em;left:-2.6em;height:3em}
#cv-document .avatar img{position:relative;z-index:20;width:25.6em;height:32em}
#cv-document .avatar>span::after,#cv-document .avatar>span::before{content:"";position:absolute;z-index:1;bottom:-3em;transform:rotate(45deg) skew(22deg,22deg);width:3em;height:3em}
#cv-document .avatar>span::before{left:-2.8em}
#cv-document .avatar>span::after{right:-2.8em}
#cv-document .info-main{margin-bottom:4.3em}
#cv-document .info-main__text{position:relative;padding:.6em 0 .4em}
#cv-document .info-main__text::before{content:"";position:absolute;top:0;right:-2.8em;bottom:0;left:-5.1em}
@media screen and (max-width:767px){
#cv-document .info-main__text::before{right:-2em;left:-2em}
}
#cv-document .info-detail{position:relative;z-index:15;margin-bottom:2.9em}
#cv-document .info-detail__item{position:relative;z-index:4;align-items:center;display:flex;margin-bottom:-.8em}
#cv-document .info-detail__item:last-child{margin-bottom:0}
#cv-document .info-detail__item:nth-child(2){z-index:3}
#cv-document .info-detail__item:nth-child(3){z-index:2}
#cv-document .info-detail__item:nth-child(4){z-index:1}
#cv-document .info-detail__item-icon{position:relative;flex-shrink:0;justify-content:center;align-items:center;display:flex;margin-right:1.5em;border-width:.2em;border-style:solid;border-radius:50%;width:3.9em;height:3.9em;text-align:center}
#cv-document [contentEditable] *{font-size:1em!important}
[contenteditable]:focus{outline:1pt dashed #77a5cc!important;cursor:text}
[contentEditable=true]:empty{outline:1pt dashed #fc4b08!important}
[contenteditable=true]:empty:before{content:attr(placeholder)!important}
#cv-document span.x_add.fa.fa-plus-circle,#cv-document span.x_del.fa.fa-remove{width:70px!important}
#cv-document .datetime{
 display:none;
}