#cv-document{font-size:10px}
#cv-document .icon-phone{display:block;width:1.1em;height:1.1em;background:var(--icon-phone) no-repeat center/contain}
#cv-document .icon-birthday{display:block;width:1.2em;height:1.2em;background:var(--icon-birthday) no-repeat center/contain}
#cv-document .icon-email{display:block;width:1.2em;height:.9em;background:var(--icon-email) no-repeat center/contain}
#cv-document .icon-facebook{display:block;width:1.3em;height:1.3em;background:var(--icon-facebook) no-repeat center/contain}
#cv-document .icon-mark{display:block;width:1em;height:1.4em;background:var(--icon-mark) no-repeat center/contain}
#cv-document .icon-info{display:block;width:2.1em;height:2em;background:var(--icon-info) no-repeat center/contain}
#cv-document .icon-edu{display:block;width:2.5em;height:1.8em;background:var(--icon-edu) no-repeat center/contain}
#cv-document .icon-cer{display:block;width:1.5em;height:1.9em;background:var(--icon-cer) no-repeat center/contain}
#cv-document .icon-skill{display:block;width:1.8em;height:1.8em;background:var(--icon-skill) no-repeat center/contain}
#cv-document .icon-skill-ta{display:block;width:1.8em;height:1.8em;background:var(--icon-skill-ta) no-repeat center/contain}
#cv-document .icon-award{display:block;width:1.5em;height:2em;background:var(--icon-award) no-repeat center/contain}
#cv-document .icon-ref{display:block;width:1.5em;height:1.8em;background:var(--icon-ref) no-repeat center/contain}
#cv-document .icon-hob{display:block;width:1.9em;height:1.6em;background:var(--icon-hob) no-repeat center/contain}
#cv-document .icon-skill-th{display:block;width:2em;height:1.9em;background:var(--icon-skill-th) no-repeat center/contain}
#cv-document .icon-advantage{display:block;width:1.8em;height:2em;background:var(--icon-advantage) no-repeat center/contain}
#cv-document .icon-exp{display:block;width:1.8em;height:1.5em;background:var(--icon-exp) no-repeat center/contain}
#cv-document .icon-act{display:block;width:1.9em;height:1.8em;background:var(--icon-act) no-repeat center/contain}
#cv-document .icon-more{display:block;width:2em;height:2em;background:var(--icon-more) no-repeat center/contain}
#cv-document .icon-cletter{display:block;width:1.9em;height:1.8em;background:var(--icon-cletter) no-repeat center/contain}
#cv-document .icon-pro{display:block;width:2em;height:2em;background:var(--icon-pro) no-repeat center/contain}
#cv-document .icon-tar{display:block;width:2em;height:2em;background:var(--icon-tar) no-repeat center/contain}
#cv-document *{box-sizing:border-box}
#cv-document #cv-watermark a:after{content:"Joboko.com"}
#cv-document #cv-watermark,#cv-document #cv-watermark a{text-decoration:none;color:var(--color-text)}
#cv-document .page:last-child #cv-watermark{position:absolute;right:3.2em;bottom:1.6em}
#cv-document .column-left-item:hover,#cv-document .column-right-item:hover,#cv-document [data-x-id=info]:hover{box-shadow:none;outline:0}
#cv-document .relative{position:relative}
#cv-document .inline-block{display:inline-block}
#cv-document .inline{display:inline}
#cv-document .no-outline{outline:0}
#cv-document .no-outline:hover{box-shadow:none;outline:0}
#cv-document [contenteditable] ol,#cv-document [contenteditable] ul{margin:0;padding:0}
#cv-document [contenteditable] ol,#cv-document [contenteditable] ul{margin-left:18px}
body.page-preview,body.page-view,body.page-viewdemo{background:url(/images3/bg-cv/3.jpg) no-repeat;background-size:cover;background-attachment:fixed}
body.page-preview .xbgcv.xbgcv1{position:fixed;right:0;bottom:0;z-index:99;width:150px;height:150px;background:url(/images3/bg-cv/7.2.png) no-repeat;background-size:cover}
#cv-document .page--background{position:relative;background:var(--background-4) no-repeat left top,linear-gradient(to right,var(--background-color-2),var(--background-color-2)) no-repeat left bottom/100% 1.2em,var(--background-2) no-repeat left bottom,var(--background-3) no-repeat right bottom,var(--background-color);color:var(--text-color)}
@media screen and (max-width:767px){
#cv-document .page--background{background:var(--background-color)}
}
#cv-document .page--background:first-child{background:linear-gradient(to right,var(--background-color-2),var(--background-color-2)) no-repeat left bottom/100% 1.2em,var(--background-2) no-repeat left bottom,var(--background-3) no-repeat right bottom,var(--background-color)}
#cv-document .page--background:first-child .page-inner::before{content:"";position:absolute;top:0;right:2.2em;width:34.5em;height:28.4em;background:var(--background-1) no-repeat right top;pointer-events:none;z-index: 1;}
@media screen and (max-width:767px){
#cv-document .page--background:first-child .page-inner::before{content:none}
}
#cv-document .page--background:first-child .page-inner::after{content:"";position:absolute;top:0;right:0;z-index:1;width:34.5em;height:30.4em;background:var(--background-5) no-repeat right top;pointer-events:none}
@media screen and (max-width:767px){
#cv-document .page--background:first-child .page-inner::after{content:none}
}
#cv-document .page-inner{position: relative;padding:4.5em 4.5em 0 4.4em}
@media screen and (max-width:767px){
#cv-document .page-inner{padding-right:0;padding-left:0}
}
#cv-document .two-columns{display:flex;flex-wrap:wrap}
#cv-document .column-left{width:25.8em}
@media screen and (max-width:767px){
#cv-document .column-left{width:100%;padding-right:1.2em;padding-left:1.2em}
}
#cv-document .column-right{width:calc(100% - 25.8em);padding-left:5.7em}
@media screen and (max-width:767px){
#cv-document .column-right{width:100%;padding-right:1.2em;padding-left:1.2em}
}
#cv-document .two-columns--top .column-left{width:50%}
@media screen and (max-width:767px){
#cv-document .two-columns--top .column-left{width:100%}
}
#cv-document .two-columns--top .column-right{width:50%;padding-left:5.7em}
@media screen and (max-width:767px){
#cv-document .two-columns--top .column-right{width:100%}
}
#cv-document .column-left .column-item{margin-bottom:2.7em}
#cv-document .column-right .column-item{margin-bottom:2.7em}
#cv-document .h1,#cv-document .h2,#cv-document .h3,#cv-document .h4,#cv-document .h5,#cv-document .h6,#cv-document h1,#cv-document h2,#cv-document h3,#cv-document h4,#cv-document h5,#cv-document h6,#cv-document p{margin:0}
#cv-document .fw-regular{font-weight:400}
#cv-document .fw-light{font-weight:300}
#cv-document .fw-medium{font-weight:500}
#cv-document .fw-semi-bold{font-weight:600}
#cv-document .fw-bold{font-weight:700}
#cv-document .fw-black{font-weight:900}
#cv-document .fs-italic{font-style:italic}
#cv-document .text-uppercase{text-transform:uppercase}
#cv-document .text-capitalize{text-transform:capitalize}
#cv-document .heading{position:relative;display:inline-flex;align-items:center;border-radius:1.75em;margin-bottom:1.5em;padding:.7em 1.4em .6em .9em;background-color:var(--heading-background-color);color:var(--heading-color)}
#cv-document .heading-title{padding-top:.1em;letter-spacing:1px}
#cv-document .heading-icon{position:relative;top:-.2em;display:flex;flex-shrink:0;align-items:center;min-width:2.5em;min-height:2em;margin-right:.7em}
#cv-document .column-left .heading{margin-bottom:1.2em}
#cv-document .avatar{position:relative;z-index:5;display:flex;justify-content:center;align-items:center;border-radius:50%;width:17.5em;height:17.5em;margin:1.7em 2.7em 2.6em auto;background-color:var(--avatar-background-color)}
@media screen and (max-width:767px){
#cv-document .avatar{margin-bottom:1em;margin-right:auto}
}
#cv-document .avatar img{border-radius:50%;width:16.5em;height:16.5em;margin:0}
#cv-document .info-main{margin-top:1.4em;margin-bottom:2.7em}
#cv-document .info-main .item-title{margin-bottom:.8em}
#cv-document .info-main .item-text{position:relative;padding:.8em 0}
#cv-document .info-main .item-text::before{content:"";position:absolute;top:0;right:-39.7em;bottom:0;left:-4.4em;z-index:0;background-color:var(--info-main-background);pointer-events:none}
@media screen and (max-width:767px){
#cv-document .info-main .item-text::before{right:-1.2em;left:-1.2em}
}
#cv-document .info-main .item-text>*{position:relative;z-index:2}
#cv-document .info-detail{position:relative;margin-bottom:3em}
#cv-document .info-detail .item{display:flex;align-items:flex-start;margin-bottom:.8em}
#cv-document .info-detail .item:last-child{margin-bottom:0}
#cv-document .info-detail .item-icon{position:relative;top:.2em;z-index:2;display:flex;flex-shrink:0;justify-content:center;align-items:center;border-radius:50%;min-width:1.4em;min-height:1.3em;text-align:center}
#cv-document .info-detail .item-text{position:relative;z-index:2;width:calc(100% - 2.3em);padding:0 0 0 .9em}
#cv-document .skill .item{margin-bottom:.3em}
#cv-document .skill .item:last-child{margin-bottom:0}
#cv-document .skill-th .item{position:relative;display:flex;margin-bottom:.6em;padding-left:.9em}
#cv-document .skill-th .item:last-child{margin-bottom:0}
#cv-document .skill-th .item::before{content:"";position:absolute;top:.8em;left:0;border-radius:50%;width:.4em;height:.4em;background-color:var(--text-color)}
#cv-document .skill-th .item:last-child{margin-bottom:0}
.xicon{display:inline-block;width:4.4em;height:4.4em;background-repeat:no-repeat;background-size:contain!important;background-position:center;vertical-align:middle}
.xicon.sport{background-image:var(--xicon-sport)!important}
.xicon.gym{background-image:var(--xicon-gym)!important}
.xicon.football{background-image:var(--xicon-football)!important}
.xicon.yoga{background-image:var(--xicon-yoga)!important}
.xicon.cook{background-image:var(--xicon-cook)!important}
.xicon.climb{background-image:var(--xicon-climb)!important}
.xicon.swim{background-image:var(--xicon-swim)!important}
.xicon.book{background-image:var(--xicon-book)!important}
.xicon.music{background-image:var(--xicon-music)!important}
.xicon.movie{background-image:var(--xicon-movie)!important}
.xicon.game{background-image:var(--xicon-game)!important}
.xicon.travel{background-image:var(--xicon-travel)!important}
.xicon.puzzle{background-image:var(--xicon-puzzle)!important}
.xicon.camera{background-image:var(--xicon-camera)!important}
.xicon.word{background-image:var(--xicon-word)!important}
.xicon.excel{background-image:var(--xicon-excel)!important}
.xicon.powerpoint{background-image:var(--xicon-powerpoint)!important}
.xicon.outlook{background-image:var(--xicon-outlook)!important}
.xicon.illustrator{background-image:var(--xicon-illustrator)!important}
.xicon.uiux{background-image:var(--xicon-uiux)!important}
.xicon.indesign{background-image:var(--xicon-indesign)!important}
.xicon.organizational{background-image:var(--xicon-organizational)!important}
.xicon.search{background-image:var(--xicon-search)!important}
.xicon.dataanalysis{background-image:var(--xicon-dataanalysis)!important}
.xicon.report{background-image:var(--xicon-report)!important}
.xicon.management{background-image:var(--xicon-management)!important}
.xicon.communicate{background-image:var(--xicon-communicate)!important}
.xicon.plan{background-image:var(--xicon-plan)!important}
.xicon.talk{background-image:var(--xicon-talk)!important}
.xicon.photoshop{background-image:var(--xicon-photoshop)!important}
.xicon.canva{background-image:var(--xicon-canva)!important}
.xicon.wordpress{background-image:var(--xicon-wordpress)!important}
#cv-document .column-right .action .item{margin-bottom:2em}
#cv-document .column-right .action .item:last-child{margin-bottom:0}
#cv-document .column-right .action .item-wrap{display:flex;justify-content:space-between;align-items:center}
#cv-document .column-right .action .item-date{flex-shrink:0;margin-left:1.5em;color:var(--date-color)}
#cv-document .certification .item{margin-bottom:.5em}
#cv-document .certification .item:last-child{margin-bottom:0}
#cv-document .certification .item-title{margin-bottom:.2em}
#cv-document .certification .item-date{color:var(--date-color)}
#cv-document .column-left .action .item,#cv-document .column-left .education .item,#cv-document .column-left .experience .item{margin-bottom:2em}
#cv-document .column-left .action .item:last-child,#cv-document .column-left .education .item:last-child,#cv-document .column-left .experience .item:last-child{margin-bottom:0}
#cv-document .column-left .action .item-title,#cv-document .column-left .education .item-title,#cv-document .column-left .experience .item-title{margin-bottom:.5em}
#cv-document .column-left .action .item-position,#cv-document .column-left .education .item-position,#cv-document .column-left .experience .item-position{margin-bottom:.2em}
#cv-document .column-left .action .item-date,#cv-document .column-left .education .item-date,#cv-document .column-left .experience .item-date{margin-bottom:.1em;color:var(--date-color)}
#cv-document .column-right .education .item,#cv-document .column-right .experience .item{margin-bottom:2em}
#cv-document .column-right .education .item:last-child,#cv-document .column-right .experience .item:last-child{margin-bottom:0}
#cv-document .column-right .education .item-title,#cv-document .column-right .experience .item-title{margin-bottom:.2em}
#cv-document .column-right .education .item-wrap,#cv-document .column-right .experience .item-wrap{display:flex;justify-content:space-between;align-items:center;border-bottom:1px dashed var(--text-color);margin-bottom:.8em;padding-bottom:.5em}
#cv-document .column-right .education .item-date,#cv-document .column-right .experience .item-date{flex-shrink:0;margin-left:1.5em;color:var(--date-color)}
#cv-document .hobby{display:flex;flex-wrap:wrap;margin-top:.3em;margin-right:4em;gap:12px}
@media screen and (max-width:767px){
#cv-document .hobby{margin-right:0}
}
#cv-document .hobby .item{position:relative;width:calc(33.3333333333% - 8px);margin-bottom:.7em;text-align:center}
#cv-document .hobby .item:last-child{margin-bottom:0}
#cv-document .hobby .item-icon{display:flex;justify-content:center;margin-bottom:1em}
#cv-document .hobby .item-icon .xicon{width:3.8em;height:3.8em}
#cv-document .target{position:relative;z-index:3;min-height:10em;margin-bottom:2.7em;text-align:justify}
#cv-document .project .item{margin-bottom:2em}
#cv-document .project .item:last-child{margin-bottom:0}
#cv-document .project .item-head{display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;margin-bottom:.8em}
#cv-document .project .item-date{flex-shrink:0;margin-left:1.5em;color:var(--date-color)}
#cv-document .project .item-table{position:relative;width:100%;border-collapse:collapse}
#cv-document .project .item-table::after{content:"";position:absolute;top:0;right:0;bottom:0;left:0;border-width:1px;border-style:solid;border-color:var(--project-border-color);pointer-events:none}
#cv-document .project .item-table .tr{display:flex}
#cv-document .project .item-table .td,#cv-document .project .item-table .th{border-width:1px 1px 0 1px;border-style:dashed;border-color:var(--project-border-color);padding:1em;vertical-align:top}
#cv-document .project .item-table .th{border-right:none;border-left:none;width:28.5%}
#cv-document .project .item-table .td{border-right:none;width:71.5%}
#cv-document .project .item-table .td ul{list-style:none;margin-left:0}
#cv-document .project .item-table .tr:first-child .td,#cv-document .project .item-table .tr:first-child .th{border-top:none}
#cv-document .project .item-table .tr:last-child .td,#cv-document .project .item-table .tr:last-child .th{border-bottom:none;border-bottom-width:1px}
#cv-document .advantage .item{position:relative;display:flex;padding-left:.9em}
#cv-document .advantage .item::before{content:"";position:absolute;top:.8em;left:0;border-radius:50%;width:.3em;height:.3em;background-color:var(--text-color)}
#cv-document .advantage .item:last-child{margin-bottom:0}
#cv-document .award .item{margin-bottom:.5em}
#cv-document .award .item:last-child{margin-bottom:0}
#cv-document .award .item-title{margin-bottom:.2em}
#cv-document .award .item-date{color:var(--date-color)}
#cv-document [contentEditable] *{font-size:1em!important}
[contenteditable]:focus{outline:1pt dashed #77a5cc!important;cursor:text}
[contentEditable=true]:empty{outline:1pt dashed #fc4b08!important}
[contenteditable=true]:empty:before{content:attr(placeholder)!important}
#cv-document span.x_add.fa.fa-plus-circle,#cv-document span.x_del.fa.fa-remove{width:70px!important}
#cv-document .height-curent>[data-x-name=group-item]{padding-bottom:3em}
#cv-document .haicham:not(:empty):after{content:":"}
#cv-document .cletter {text-align:justify}
#cv-document .skill .item-title [contenteditable="true"] [data-placeholder] {display:inline}
#cv-document [contenteditable] ol, #cv-document [contenteditable] ul{margin-left: 0!important}