#form-cv{
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
}
#cv-document .regular {
	font-weight: 700 !important;
}

#cv-document .medium {
	font-weight: 700 !important;
}