#form-cv{
	color: #3ebe1e;
}
[data-x-name="parrent"] .page{
	background: #3ebe1e;
}

.cv-content{
	color: #26a307;
}
.cv-content .head{
	background: #3ebe1e;
}
.box-contact i.fa{
    color: #3ebe1e !important;
    background-color: #fff;
}
.cv-content{
	background: #fff;
}
#cv-box-ava img{
	border: solid 2px #fff;
}
.bar-exp span {
    background: #26a307;
}