#form-cv{
	
	color:#445372;
}
[data-x-name="parrent"] .page{
	background: #445372;
}
.cv-content{
	color: #445372;
}
.cv-content .head{
	background: #445372;
}
.box-contact i.fa{
    color: #445372!important;background-color: #d8d8d8;
}
.cv-content{
	background: #d8d8d8;
}
#cv-box-ava img{
	border: solid 2px #d8d8d8;
}
.bar-exp span {
    background: #a6a6a6;
}