body.page-preview,body.page-view,body.page-viewdemo{background:url(/images3/bg-cv/3.jpg) no-repeat;background-size:cover;background-attachment:fixed}
body.page-preview .xbgcv.xbgcv1{position:fixed;z-index:99;right:0;bottom:0;width:150px;height:150px;background:url(/images3/bg-cv/7.2.png) no-repeat;background-size:cover}
#cv-document{font-size:10px}
#cv-document *{box-sizing:border-box}
#cv-document #cv-watermark a:after{content:"Joboko.com"}
#cv-document .page:last-child #cv-watermark{position:absolute;right:1em;bottom:2em}
#cv-document .relative{position:relative}
#cv-document .inline-block{display:inline-block}
#cv-document .inline{display:inline}
#cv-document .no-outline{outline:0}
#cv-document .no-outline:hover{box-shadow:none;outline:0}
#cv-document .icon-phone{display:block;width:1em;height:1em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-birthday{display:block;width:1.2em;height:1.2em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-email{display:block;width:1.2em;height:.9em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-facebook{display:block;width:1.1em;height:1.1em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-mark{display:block;width:1em;height:1.4em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-tar{display:block;width:1.6em;height:1.6em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-edu{display:block;width:1.9em;height:1.4em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-hob{display:block;width:1.5em;height:1.7em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-cer{display:block;width:1.4em;height:1.6em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-award{display:block;width:1.3em;height:1.8em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-ref{display:block;width:1.4em;height:1.7em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-advantage{display:block;width:1.9em;height:1.6em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-skill-th{display:block;width:1.8em;height:1.7em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-skill-ta{display:block;width:1.6em;height:1.6em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-exp{display:block;width:1.9em;height:1.6em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-skill{display:block;width:1.6em;height:1.7em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-act{display:block;width:1.6em;height:1.5em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-more{display:block;width:1.8em;height:1.8em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-cletter{display:block;width:1.7em;height:1.6em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-pro{display:block;width:1.6em;height:1.6em;background-repeat:no-repeat;background-size:contain}
#cv-document .page__inner{padding:5.3em 0 0}
#cv-document .full-width{padding:0 4em 0 7.1em}
@media screen and (max-width:767px){
#cv-document .full-width{padding:0 1.5em 0 3em}
}
#cv-document .full-width__item{margin-bottom:2.3em}
#cv-document .two-up{flex-wrap:wrap;align-items:flex-end;display:flex;margin-bottom:5.3em}
#cv-document .two-up__left{width:50%;padding:0 2em 0 4em}
@media screen and (max-width:767px){
#cv-document .two-up__left{margin-bottom:2em;width:100%;padding:0 1.5em}
}
#cv-document .two-up__right{width:50%;padding:0 4em}
@media screen and (max-width:767px){
#cv-document .two-up__right{width:100%;padding:0 1.5em}
}
#cv-document .h1,#cv-document .h2,#cv-document .h3,#cv-document .h4,#cv-document .h5,#cv-document .h6,#cv-document h1,#cv-document h2,#cv-document h3,#cv-document h4,#cv-document h5,#cv-document h6,#cv-document p{margin:0}
#cv-document .cvo-skillrate-radial::after{font-weight:500}
#cv-document .regular{font-weight:400}
#cv-document .light{font-weight:300}
#cv-document .medium{font-weight:500}
#cv-document .semi-bold{font-weight:600}
#cv-document .bold{font-weight:700}
#cv-document .black{font-weight:900}
#cv-document .italic{font-style:italic}
#cv-document .uppercase{text-transform:uppercase}
#cv-document .capitalize{text-transform:capitalize}
#cv-document .heading{position:relative;align-items:flex-end;display:flex;margin-bottom:.8em}
#cv-document .heading::after{content:"";flex-grow:1;display:flex;height:.4em;margin-bottom:.6em}
#cv-document .heading__icon{position:absolute;top:0;left:-3.1em;justify-content:center;align-items:center;display:flex;width:2em;height:2em}
@media screen and (max-width:767px){
#cv-document .heading__icon{left:-2.5em}
}
#cv-document .heading__title{flex-shrink:0;letter-spacing:.13em;padding-right:1.5em}
#cv-document .avatar{position:relative;z-index:5;justify-content:center;align-items:center;display:flex;overflow:hidden;margin:0 auto 2em;border-radius:50%;width:15.4em;height:15.4em}
#cv-document .avatar img{border-radius:50%;width:14.6em;height:14.6em}
#cv-document .info-main{position:relative}
#cv-document .info-main::before{content:"";position:absolute;top:-6em;left:0;width:3.8em;height:3.8em}
#cv-document .info-main::after{content:"";position:absolute;top:-8.5em;left:3.8em;width:2.5em;height:2.5em}
#cv-document .info-main__title{margin:0 0 .6em}
#cv-document .info-detail__item{justify-content:flex-end;align-items:flex-start;display:flex;padding:.2em 0;text-align:right}
#cv-document .info-detail__item:last-child{padding-bottom:0}
#cv-document .info-detail__item:first-child{padding-top:0}
#cv-document .info-detail__item-icon{position:relative;flex-shrink:0;justify-content:center;align-items:center;display:flex;width:1.2em;margin-top:.4em}
#cv-document .info-detail__item-content{width:calc(100% - 1.2em);padding-right:1em}
#cv-document .skill__item{margin-bottom:.5em}
#cv-document .skill__item:last-child{margin-bottom:0}
#cv-document .skill__item-title{padding:1em 1.4em;border-radius:.2em}
#cv-document .skill__item-title div:first-of-type:not(:empty)::after{content:": "}
#cv-document .skill .inline{vertical-align:top}
#cv-document .skill__item-title .inline:last-child p{display: inline;}
#cv-document .skill-ta__item{position:relative;padding-left:1.8em}
#cv-document .skill-ta__item::before{content:"";position:absolute;top:.8em;left:0;width:.4em;height:.4em}
#cv-document .skill-th__item{position:relative;padding-left:1.8em}
#cv-document .skill-th__item::before{content:"";position:absolute;top:.8em;left:0;width:.4em;height:.4em}
#cv-document .cvo-skillrate{display:flex;align-items:center}
#cv-document .cvo-skillrate>span{margin-left:.7em;width:1.2em;height:1.2em;border-radius:50%}
#cv-document .cvo-skillrate-radial{position:relative;width:5.6em;height:5.6em;text-align:center;border-radius:50%}
#cv-document .cvo-skillrate-radial::before{content:"";position:absolute;top:50%;left:50%;transform:translate3d(-50%,-50%,0);display:flex;justify-content:center;align-items:center;height:4.6em;width:4.6em;border-radius:50%}
#cv-document .cvo-skillrate-radial::after{content:"";position:absolute;top:50%;left:50%;transform:translate3d(-50%,-50%,0)}
#cv-document .cvo-skillrate-radial[value="1"]::after{content:"20%"}
#cv-document .cvo-skillrate-radial[value="2"]::after{content:"40%"}
#cv-document .cvo-skillrate-radial[value="3"]::after{content:"60%"}
#cv-document .cvo-skillrate-radial[value="4"]::after{content:"80%"}
#cv-document .cvo-skillrate-radial[value="5"]::after{content:"100%"}
#cv-document .cvo-skillrate-progress{display:flex}
#cv-document .cvo-skillrate-progress>span{position:relative;display:flex;width:20%;max-width:4.8em;height:.6em}
#cv-document .cvo-skillrate-progress>span:first-child{border-radius:99.9em 0 0 99.9em}
#cv-document .cvo-skillrate-progress>span:last-child{border-radius:0 99.9em 99.9em 0}
#cv-document .cvo-skillrate-progress>span::after,#cv-document .cvo-skillrate-progress>span::before{content:"";position:absolute;z-index:1}
#cv-document .cvo-skillrate-progress>span::before{top:-1px;left:-1px;right:-1px;bottom:-1px;box-sizing:content-box;border-width:1px;border-style:solid;border-radius:0 99.9em 99.9em 0}
#cv-document .cvo-skillrate-progress>span::after{display:none;top:50%;right:0;transform:translate3d(0,-50%,0);width:1.2em;height:1.2em;border-radius:50%}
.xicon{display:inline-block;width:5.2em;height:5em;background-repeat:no-repeat;background-size:auto!important;background-position:center;vertical-align:middle}
#cv-document .action__item{padding-bottom:1.2em}
#cv-document .action__item:last-child{padding-bottom:0}
#cv-document .action__item-wrapper{justify-content:space-between;align-items:center;display:flex;margin-bottom:5px}
#cv-document .action__item-date{flex-shrink:0;margin-left:1.5em}
#cv-document .certification__item{justify-content:space-between;align-items:center;display:flex;margin-bottom:.6em}
#cv-document .certification__item:last-child{margin-bottom:0}
#cv-document .certification__item-date{flex-shrink:0;margin-left:1.5em}
#cv-document .education__item{padding-bottom:1.2em}
#cv-document .education__item:last-child{padding-bottom:0}
#cv-document .education__item-wrapper{justify-content:space-between;align-items:center;display:flex;margin-bottom:5px}
#cv-document .education__item-date{flex-shrink:0;margin-left:1.5em}
#cv-document .experience__item{padding-bottom:1.2em}
#cv-document .experience__item:last-child{padding-bottom:0}
#cv-document .experience__item-wrapper{position:relative;margin-bottom:1em;border-left-width:.4em;border-left-style:solid;padding:.6em 1.3em .5em 1.6em}
#cv-document .experience__item-wrapper::before{content:"";position:absolute;top:calc(50% - .2em);left:-.2em;transform:rotate(45deg);transform-origin:center;width:.4em;height:.4em}
#cv-document .experience__item-inner{justify-content:space-between;align-items:center;display:flex}
#cv-document .experience__item-date{flex-shrink:0;margin-left:1.5em}
#cv-document .hobby__item-title>div::before{content:"-";margin-right:1em;display:inline-block}
#cv-document .references__item{margin-bottom:.6em}
#cv-document .references__item:last-child{margin-bottom:0}
#cv-document .target>*{line-height:1.57}
#cv-document .project__item{margin-bottom:2em}
#cv-document .project__item:last-child{margin-bottom:0}
#cv-document .project__item-head{flex-wrap:wrap;display:flex;margin-bottom:.4em}
#cv-document .project__item-title{position:relative}
#cv-document .project__item-title::before{content:"|";display:inline-block;margin:0 10px;font-size:1.2em;color:#a6a8ab}
#cv-document .project__item-time{flex-shrink:0;letter-spacing:1px}
#cv-document .project__item-table{width:100%;border-collapse:collapse;position: relative;}
#cv-document .project__item-table::after{content:'';position: absolute;top: 0;right: 0;bottom: 0;left: 0;border-width: 1px;border-style: solid;pointer-events:none;}
#cv-document .project__item-table .tr{display:flex}
#cv-document .project__item-table .td,#cv-document .project__item-table .th{border-width:1px 1px 0 1px;border-style:dashed;padding:1em 1.6em;vertical-align:top}
#cv-document .project__item-table .th{border-right:none;border-left:none;width:21.5%}
@media screen and (max-width:767px){
#cv-document .project__item-table .th{width:35%}
}
#cv-document .project__item-table .td{border-right:none;width:78.5%}
@media screen and (max-width:767px){
#cv-document .project__item-table .td{width:65%}
}
#cv-document .project__item-table .tr:first-child .td,#cv-document .project__item-table .tr:first-child .th{border-top:none}
#cv-document .project__item-table .tr:last-child .td,#cv-document .project__item-table .tr:last-child .th{border-bottom-width:1px;border-bottom:none}
#cv-document .more__item{margin-bottom:.6em}
#cv-document .more__item:last-child{margin-bottom:0}
.award__item{justify-content:space-between;align-items:center;display:flex;margin-bottom:.6em}
.award__item:last-child{margin-bottom:0}
.award__item-date{flex-shrink:0;margin-left:1.5em}
#cv-document .cletter{border-width:1px;border-style:dashed;border-radius:0 1em 1em 1em;padding:.7em 1.4em 1.1em}
#cv-document .cletter br{content:"";display:block;margin-top:.2857142857em}
#cv-document [contentEditable] *{font-size:1em!important}
[contenteditable]:focus{outline:1pt dashed #77a5cc!important;cursor:text}
[contentEditable=true]:empty{outline:1pt dashed #fc4b08!important}
[contenteditable=true]:empty:before{content:attr(placeholder)!important}
#cv-document span.x_add.fa.fa-plus-circle,#cv-document span.x_del.fa.fa-remove{width:70px!important}
#cv-document .height-curent>[data-x-name=group-item]{padding-bottom:3em}
.template-special .x_hide{display:block}