body.page-preview,body.page-view,body.page-viewdemo{background:url(/images3/bg-cv/3.jpg) no-repeat;background-size:cover;background-attachment:fixed}
body.page-preview .xbgcv.xbgcv1{position:fixed;z-index:99;right:0;bottom:0;width:150px;height:150px;background:url(/images3/bg-cv/7.2.png) no-repeat;background-size:cover}
#cv-document{font-size:10px}
#cv-document *{box-sizing:border-box}
#cv-document #cv-watermark a:after{content:"Joboko.com"}
#cv-document .page:last-child #cv-watermark{position:absolute;right:1em;bottom:2em}
#cv-document .relative{position:relative}
#cv-document .inline-block{display:inline-block}
#cv-document .inline{display:inline}
#cv-document .no-outline{outline:0}
#cv-document .no-outline:hover{box-shadow:none;outline:0}
#cv-document .content{position:relative;flex-grow:1;padding-left:2.1em}
#cv-document .content::before{content:"";position:absolute;top:.2em;bottom:0;left:-.2em;width:.2em}
#cv-document .bullet::before{content:attr(data-x-bullet);margin-right:.25em}
#cv-document .page--background:first-child .two-up{margin-top:-7em}
#cv-document .page__inner{padding:7em 0 0}
@media screen and (max-width:767px){
#cv-document .page__inner{overflow:hidden}
}
#cv-document .two-up{flex-wrap:wrap;display:flex}
#cv-document .two-up__left{width:36.4em}
@media screen and (max-width:767px){
#cv-document .two-up__left{margin-bottom:2em;width:100%}
}
#cv-document .two-up__left-head{position:relative;padding:.5em 4em 5.4em}
@media screen and (max-width:767px){
#cv-document .two-up__left-head{padding-right:2.5em;padding-left:2.5em}
}
#cv-document .two-up__left-head::before{content:"";position:absolute;top:0;right:0;bottom:0;left:0;pointer-events:none;-webkit-clip-path:polygon(0 0,100% 36.4em,100% calc(100% - 4.4em),0 100%);clip-path:polygon(0 0,100% 36.4em,100% calc(100% - 4.4em),0 100%)}
#cv-document .two-up__left-item{display:flex;margin-bottom:4em}
#cv-document .two-up__left-group{padding:0 2.8em 0 3.7em}
@media screen and (max-width:767px){
#cv-document .two-up__left-group{padding-right:2.5em;padding-left:2.5em}
}
#cv-document .two-up__right{width:calc(100% - 36.4em)}
@media screen and (max-width:767px){
#cv-document .two-up__right{width:100%}
}
#cv-document .two-up__right-head{align-items:flex-start;display:flex}
#cv-document .two-up__right-item{display:flex;margin-bottom:4em}
#cv-document .two-up__right-group{padding:4em 4.7em 0 4.7em}
@media screen and (max-width:767px){
#cv-document .two-up__right-group{padding-right:2.5em;padding-left:2.5em}
}
#cv-document .h1,#cv-document .h2,#cv-document .h3,#cv-document .h4,#cv-document .h5,#cv-document .h6,#cv-document h1,#cv-document h2,#cv-document h3,#cv-document h4,#cv-document h5,#cv-document h6,#cv-document p{margin:0}
#cv-document .cvo-skillrate-radial::after{font-weight:500}
#cv-document .regular{font-weight:400}
#cv-document .light{font-weight:300}
#cv-document .medium{font-weight:500}
#cv-document .bold{font-weight:700}
#cv-document .black{font-weight:900}
#cv-document .italic{font-style:italic}
#cv-document .uppercase{text-transform:uppercase}
#cv-document .heading{display:flex;margin-bottom:1em}
#cv-document .heading__title{letter-spacing:.2em}
#cv-document .heading__title>*{transform:rotate(180deg);-ms-writing-mode:tb-rl;writing-mode:vertical-rl;text-orientation:mixed}
#cv-document .heading-02{position:relative;z-index:2;margin-bottom:10em;min-height:33.8em;padding:3.8em 3.4em 2.8em 0}
#cv-document .heading-02::before{content:"";position:absolute;top:0;right:0;bottom:0;left:0;-webkit-clip-path:polygon(0 0,100% 0,100% 100%,0 calc(100% - 8em));clip-path:polygon(0 0,100% 0,100% 100%,0 calc(100% - 8em))}
#cv-document .heading-02__inner{position:relative;display:inline-block}
#cv-document .heading-02__inner::before{content:"";position:absolute;z-index:3;top:-.7em;right:-.5em;bottom:-1.2em;left:0;-webkit-clip-path:polygon(0 0,100% 5.5em,100% 100%,0 calc(100% - 5.4em));clip-path:polygon(0 0,100% 5.5em,100% 100%,0 calc(100% - 5.4em))}
#cv-document .heading-02__title{position:relative;z-index:5;min-height:26.8em;padding:6.6em 1.4em 5em .3em;letter-spacing:.4em;-webkit-clip-path:polygon(0 0,100% 5.1em,100% 100%,0 calc(100% - 4.9em));clip-path:polygon(0 0,100% 5.1em,100% 100%,0 calc(100% - 4.9em))}
#cv-document .heading-02__title>div{-ms-writing-mode:tb-rl;writing-mode:vertical-rl;text-orientation:mixed}
#cv-document .avatar{position:relative;z-index:2;justify-content:center;align-items:center;display:flex;margin:9.3em 0 2.5em .2em;width:26.4em;height:32.6em}
@media screen and (max-width:767px){
#cv-document .avatar{margin:8em auto 4em}
}
#cv-document .avatar img{position:relative;width:25.2em;height:31.4em}
#cv-document .avatar__border{position:absolute;top:-6.6em;right:-6.1em;display:flex;width:27.8em;height:27.8em}
#cv-document .avatar__border::after,#cv-document .avatar__border::before{content:"";position:absolute;border-width:.5em .5em 0 0;border-style:solid}
#cv-document .avatar__border::before{top:2.2em;right:2.2em;opacity:.1;width:23.4em;height:23.4em}
#cv-document .avatar__border::after{top:4.6em;right:4.6em;opacity:.2;width:18.8em;height:18.8em}
#cv-document .avatar__border>span{opacity:.3;border-width:.5em .5em 0 0;border-style:solid;width:100%;height:100%}
#cv-document .info-main__title{margin:0 0 .8em}
#cv-document .info-main__text{position:relative;padding:.6em 0}
#cv-document .info-main__text::before{content:"";position:absolute;z-index:2;top:0;right:-5em;bottom:0;left:-4em}
#cv-document .info-main__text::after{content:"";position:absolute;top:-1.4em;right:-6.1em;border-width:1.5em 1.1em;border-style:solid;width:0;height:0}
#cv-document .info-main__text>*{position:relative;z-index:5}
#cv-document .info-detail{margin-bottom:4.8em}
#cv-document .info-detail__item{display:flex;transform:rotate(-7deg) translate(4.2em,1em);transform-origin:left;margin-bottom:.5em;max-width:calc(100% - 7em)}
@media screen and (max-width:767px){
#cv-document .info-detail__item{transform:rotate(-7deg) translate(2.5em,1em)}
}
#cv-document .info-detail__item:last-child{margin-bottom:0}
#cv-document .info-detail__item-icon{position:relative;flex-shrink:0;margin-right:1em;min-width:1.5em;text-align:center}
#cv-document .skill{padding-right:1.8em}
#cv-document .skill__item{margin-bottom:2.5em}
#cv-document .skill__item:last-child{margin-bottom:0}
#cv-document .skill__item-title{margin-bottom:1.1em}
#cv-document .skill-ta__item{align-items:flex-start;display:flex;margin-top:1px;margin-bottom:2.1em}
#cv-document .skill-ta__item:last-child{margin-bottom:0}
#cv-document .skill-ta__item-content{flex-shrink:0;margin-top:1px;margin-right:1.7em}
#cv-document .skill-ta__item-title{line-height:1}
#cv-document .cvo-skillrate{width:18.4em;height:1.1em}
#cv-document .cvo-skillrate-progress{display:flex;border-width:.2em;border-style:solid;border-radius:1em;height:.7em}
#cv-document .cvo-skillrate-progress>span{position:relative;border-radius:1em}
#cv-document .cvo-skillrate-progress>span::after{content:"";position:absolute;top:50%;right:-.2em;transform:translateY(-50%);border-width:.2em;border-style:solid;border-radius:1em;width:1em;height:1.6em}
#cv-document .cvo-skillrate-progress[value="1"]>span{width:20%}
#cv-document .cvo-skillrate-progress[value="2"]>span{width:40%}
#cv-document .cvo-skillrate-progress[value="3"]>span{width:60%}
#cv-document .cvo-skillrate-progress[value="4"]>span{width:80%}
#cv-document .cvo-skillrate-progress[value="5"]>span{width:100%}
#cv-document .action__item{margin-bottom:1.2em}
#cv-document .action__item:last-child{margin-bottom:0}
#cv-document .action__item-title{margin-bottom:1px;letter-spacing:1px}
#cv-document .action__item-pos{margin-bottom:.4em;letter-spacing:.8px}
#cv-document .action__item-date{display:inline-block;margin-bottom:1.4em;padding:0 2.8em 0 1em;letter-spacing:1px;-webkit-clip-path:polygon(0 0,calc(100% - 2.2em) 0,100% 100%,0 100%);clip-path:polygon(0 0,calc(100% - 2.2em) 0,100% 100%,0 100%)}
#cv-document .action__item-text br{content:"";display:block;margin-top:.1333333333em}
#cv-document .education__item{margin-bottom:1.2em}
#cv-document .education__item:last-child{margin-bottom:0}
#cv-document .education__item-title{margin-bottom:1px;letter-spacing:1px}
#cv-document .education__item-pos{margin-bottom:.4em;letter-spacing:.8px}
#cv-document .education__item-date{display:inline-block;margin-bottom:1.4em;padding:0 2.8em 0 1em;letter-spacing:1px;-webkit-clip-path:polygon(0 0,calc(100% - 2.2em) 0,100% 100%,0 100%);clip-path:polygon(0 0,calc(100% - 2.2em) 0,100% 100%,0 100%)}
#cv-document .education__item-cat{margin-bottom:.2em}
#cv-document .education__item-text br{content:"";display:block;margin-top:.1333333333em}
#cv-document .experience__item{margin-bottom:1.2em}
#cv-document .experience__item:last-child{margin-bottom:0}
#cv-document .experience__item-title{margin-bottom:1px;letter-spacing:1px}
#cv-document .experience__item-pos{margin-bottom:.4em;letter-spacing:.8px}
#cv-document .experience__item-date{display:inline-block;margin-bottom:1.4em;padding:0 2.8em 0 1em;letter-spacing:1px;-webkit-clip-path:polygon(0 0,calc(100% - 2.2em) 0,100% 100%,0 100%);clip-path:polygon(0 0,calc(100% - 2.2em) 0,100% 100%,0 100%)}
#cv-document .experience__item-text br{content:"";display:block;margin-top:.1333333333em}
#cv-document .content{margin-left:3.333em}
#cv-document .heading{flex-shrink:0;width:3.333em}
#cv-document .heading+.content{margin-left:0}
#cv-document .hobby__item{position:relative;margin-bottom:.6em;padding-left:1.6em}
#cv-document .hobby__item:last-child{margin-bottom:0}
#cv-document .hobby__item::before{content:"";position:absolute;top:.8em;left:0;width:.6em;height:.6em;border-radius:50%}
#cv-document .references__item{margin-bottom:.6em}
#cv-document .references__item:last-child{margin-bottom:0}
#cv-document .target{flex-grow:1;min-height:46.2em;padding:8.9em 4em 4.2em 4.8em}
@media screen and (max-width:767px){
#cv-document .target{min-height:48em;padding:3em 3em 4em}
}
#cv-document .target__content:not(:focus)::first-letter{font-size:1.7647058824em;line-height:1;font-weight:700}
#cv-document .target__border{position:absolute;right:.7em;bottom:.2em;display:flex;width:22.2em;height:21.8em}
#cv-document .target__border::after,#cv-document .target__border::before{content:"";position:absolute;border-width:0 .5em .5em 0;border-style:solid}
#cv-document .target__border::before{right:2.3em;bottom:2.3em;opacity:.1;width:11.8em;height:23.4em}
#cv-document .target__border::after{right:4.7em;bottom:4.7em;opacity:.2;width:4em;height:18.8em}
#cv-document .target__border>span{opacity:.2;border-width:0 .5em .5em 0;border-style:solid;width:100%;height:100%}
#cv-document .target br{content:"";display:block;margin-top:.7058823529em}
#cv-document .cletter{border-width:1px 1px 1px 0;border-style:solid;padding:1.5em 2.3em 3.9em}
#cv-document .cletter::before{top:0;bottom:0;left:0}
#cv-document .cletter br{content:"";display:block;margin-top:1.4em}
#cv-document .project{padding:0}
#cv-document .project::before{z-index:5;top:0;bottom:0;left:0}
#cv-document .project__item{position:relative;margin-bottom:2em}
#cv-document .project__item::after{content:"";position:absolute;top:0;right:0;bottom:0;left:0;border-width:1px;border-style:solid;pointer-events:none}
#cv-document .project__item:last-child{margin-bottom:0}
#cv-document .project__item-head{padding:.6em 1.4em .4em}
#cv-document .project__item-time{flex-shrink:0}
#cv-document .project__item-table{width:100%;border-collapse:collapse}
#cv-document .project__item-table .tr{display:flex}
#cv-document .project__item-table .td,#cv-document .project__item-table .th{border-width:1px 1px 0 1px;border-style:solid;padding:1.2em 1.4em;vertical-align:top}
#cv-document .project__item-table .th{border-right:none;border-left:none;width:33.5%}
#cv-document .project__item-table .td{border-right:none;width:66.5%;padding-left:1.5em}
#cv-document .project__item-table .tr:first-child .td,#cv-document .project__item-table .tr:first-child .th{border-top-style:solid}
#cv-document .project__item-table .tr:last-child .td,#cv-document .project__item-table .tr:last-child .th{border-bottom:none}
#cv-document .certification__item{margin-bottom:1.3em}
#cv-document .certification__item:last-child{margin-bottom:0}
#cv-document .certification__item-title{margin-bottom:2px}
#cv-document [contentEditable] *{font-size:1em!important}
[contenteditable]:focus{outline:1pt dashed #77a5cc!important;cursor:text}
[contentEditable=true]:empty{outline:1pt dashed #fc4b08!important}
[contenteditable=true]:empty:before{content:attr(placeholder)!important}
#cv-document span.x_add.fa.fa-plus-circle,#cv-document span.x_del.fa.fa-remove{width:70px!important}

.template-special .x_hide{display: flex !important;}
#cv-document .inline {display:inline;min-width: 1em;}
#cv-document .inline:empty {display:inline-block}