#cv-right{
	background: #1fbc89;
}
#cv-top h2{
	color: #1fbc89;
}
#cv-right .h3, #cv-content .head{
    background: #1fbc89;  
}
#cvo-profile-avatar-wraper{
	background: #1fbc89;
}
#cv-right .icoweb i.fa{
    background: #1fbc89;
}
.box-contact{
	background: #1fbc89
}