#cv-right{
	background: #9f224e;
}
#cv-top h2{
	color: #9f224e;
}
#cv-right .h3, #cv-content .head{
    background: #9f224e;  
}
#cvo-profile-avatar-wraper{
	background: #9f224e;
}
#cv-right .icoweb i.fa{
    background: #9f224e;
}
.box-contact{
	background: #9f224e
}