#cv-right{
	background: #a9ac77;
}
#cv-top h2{
	color: #a9ac77;
}
#cv-right .h3, #cv-content .head{
    background: #a9ac77;  
}
#cvo-profile-avatar-wraper{
	background: #a9ac77;
}
#cv-right .icoweb i.fa{
    background: #a9ac77;
}
.box-contact{
	background: #a9ac77
}