#cv-right{
	background: #ff5964;
}
#cv-top h2{
	color: #ff5964;
}
#cv-right .h3, #cv-content .head{
    background: #ff5964;  
}
#cvo-profile-avatar-wraper{
	background: #ff5964;
}
#cv-right .icoweb i.fa{
    background: #ff5964;
}
.box-contact{
	background: #ff5964
}