.cv-content .head,.cv-content h3,.cv-content span.exp-date{	
    color: #446600;
}
.bar-exp span {
    background: #446600;
}
.cvo-block .h3 i , .cvo-block  .head i{
    color: #446600;
    border: 2px solid #446600;
}
span.box-content, .cv-box-content.experience{
	border-left: solid 2px #446600;
}
#cv-top{	
	background:#446600;
}
#form-cv{
    border:solid 1px #446600;
}

#cv-mid{
background-color: #d4e08f;
}