.cv-content .head,.cv-content h3,.cv-content span.exp-date{	
    color: #ee7f23;
}
.bar-exp span {
    background: #ee7f23;
}
.cvo-block .h3 i , .cvo-block  .head i{
    color: #ee7f23;
    border: 2px solid #ee7f23;
}
span.box-content, .cv-box-content.experience{
	border-left: solid 2px #ee7f23;
}
#cv-top{	
	background:#ee7f23;
}
#form-cv{
    border:solid 1px #ee7f23;
}

#cv-mid{
background-color: #f6c47a;
}
