#cv-document .text-bottom{background-color:#292929;color:#fff}
#cv-document .text-bottom::before{border-color:#c6c6c6}
#cv-document .page{background-color:#fff;color:#000}
#cv-document .two-up::before{background-color:#ececec}
#cv-document .two-up::after{background-color:#292929}
#cv-document .full-width{border-top-color:#164883}
#cv-document .avatar{background-color:#fff}
#cv-document .info-detail__item i{background-color:#292929;color:#fff}