.text-size .font-size-1 {
    font-size: 26px;
}

.text-size .font-size-2 {
    font-size: 18px;
}

.text-size .font-size-3 {
    font-size: 16px;
}

.text-size .font-size-4 {
    font-size: 14px;
}

.text-size .font-size-5 {
    font-size: 14px;
}
.page-pro-2 .info-name {
	font-size: 26px;
}
.page-pro-2 .ml_ttl .ml_ttl_inner {
	font-size: 24px;
}
.fa-circle {
	font-size: 7px !important;
}


