.top1 {background-image: url(../images/img8_green.png);}
/*.text3 {border-top: 4px solid #11a87d;}*/
.cv-content div hr{border-top: 3px solid #11a87d;}
.box1 .caption {background-image: url(../images/img4_green.png); background-color: #11a87d;}
.bg-page .bot1 {background-image: url(../images/img6_green.png);}