.top1 {background-image: url(../images/img8_xanh.png);}
/*.text3 {border-top: 4px solid #2291bc;}*/
.cv-content div hr{border-top: 3px solid #2291bc;}
.box1 .caption {background-image: url(../images/img4_xanh.png); background-color: #2291bc;}
.bg-page .bot1 {background-image: url(../images/img6_xanh.png);}