.top1 {background-image: url('../images/img8.png');}
/*.text3 {border-top: 4px solid #ed5587;}*/
.cv-content div hr{border-top: 3px solid #ED5587;}
.box1 .caption {background-image: url(../images/img4.png); background-color: #ed5587;}
.bg-page .bot1 {background-image: url(../images/img6.png);}