/* Font large */
#cvo-body {
    font-size: 15px;
}
#cvo-profile-fullname {
    font-size: 42px;
    line-height: 1em;
}
.cvo-block-header span {
    font-size: 18px;
}
#cvo-profile-title {
    font-size: 17px;
}