body.page-preview,body.page-view,body.page-viewdemo{background:url(/images3/bg-cv/3.jpg) no-repeat;background-size:cover;background-attachment:fixed}
body.page-preview .xbgcv.xbgcv1{position:fixed;z-index:99;right:0;bottom:0;width:150px;height:150px;background:url(/images3/bg-cv/7.2.png) no-repeat;background-size:cover}
#cv-document{font-size:10px}
#cv-document *{box-sizing:border-box}
#cv-document #cv-watermark a:after{content:"Joboko.com"}
#cv-document #cv-watermark{position:absolute;bottom:2.9230769231em;left:4em}
@media screen and (max-width:767px){
#cv-document #cv-watermark{left:2em}
}
#cv-document .relative{position:relative;z-index:5}
#cv-document .inline-block{display:inline-block}
#cv-document .inline{display:inline}
#cv-document .no-outline{outline:0}
#cv-document .no-outline:hover{box-shadow:none;outline:0}
#cv-document .mt-auto{margin-top:auto}
#cv-document .content{position:relative}
#cv-document .datetime{margin-bottom:14px}
#cv-document .page__inner{padding:4.8em 5.8em 0 5.2em}
@media screen and (max-width:767px){
#cv-document .page__inner{padding-right:2em;padding-left:2em}
}
#cv-document .full-width__item{margin-bottom:3em}
#cv-document .two-up{flex-wrap:wrap;display:flex;margin-top:-.6em;margin-bottom:3.7em}
@media screen and (max-width:767px){
#cv-document .two-up{padding:0}
}
#cv-document .two-up__left{width:15.8em}
@media screen and (max-width:767px){
#cv-document .two-up__left{width:100%}
}
#cv-document .two-up__right{width:calc(100% - 15.8em);padding-left:4.5em}
@media screen and (max-width:767px){
#cv-document .two-up__right{width:100%;padding-left:0}
}
#cv-document .h1,#cv-document .h2,#cv-document .h3,#cv-document .h4,#cv-document .h5,#cv-document .h6,#cv-document h1,#cv-document h2,#cv-document h3,#cv-document h4,#cv-document h5,#cv-document h6,#cv-document p{margin:0}
#cv-document .cvo-skillrate-radial::after{font-weight:500}
#cv-document .regular{font-weight:400}
#cv-document .light{font-weight:300}
#cv-document .medium{font-weight:500}
#cv-document .semi-bold{font-weight:600}
#cv-document .bold{font-weight:700}
#cv-document .black{font-weight:900}
#cv-document .uppercase{text-transform:uppercase}
#cv-document .capitalize{text-transform:capitalize}
#cv-document .italic{font-style:italic}
#cv-document .heading{margin-bottom:1.9em;border-bottom-width:1px;border-bottom-style:solid}
#cv-document .heading__title{position:relative;padding-bottom:.7em;letter-spacing:1px}
#cv-document .heading__title::after{content:"";position:absolute;right:0;bottom:-1.5px;left:0;height:.2em}
#cv-document .avatar{position:relative;z-index:2;justify-content:center;align-items:center;display:flex;overflow:hidden;width:15.8em;height:19.6em}
@media screen and (max-width:767px){
#cv-document .avatar{margin:0 auto}
}
#cv-document .avatar img{width:15.8em;height:19.6em}
#cv-document .info-main{margin-top:2.3em;margin-bottom:2.7em}
#cv-document .info-main__title{margin:0 0 1em}
#cv-document .info-main__text{border-bottom-width:1px;border-bottom-style:solid}
#cv-document .info-main__text>div{position:relative;padding-bottom:1.4em}
#cv-document .info-main__text>div::after{content:"";position:absolute;right:0;bottom:-.15em;left:0;height:.2em}
#cv-document .info-detail{align-items:center;display:flex;border-top-width:1px;border-top-style:solid;border-bottom-width:1px;border-bottom-style:solid;width:100%}
@media screen and (max-width:767px){
#cv-document .info-detail{flex-wrap:wrap;align-items:flex-start}
}
#cv-document .info-detail__item{position:relative;display:flex;margin-right:2em;padding:1.2em 2.4em 1.2em 0;letter-spacing:.6px}
@media screen and (max-width:767px){
#cv-document .info-detail__item{margin-right:1em;padding-right:1em;letter-spacing:0}
}
#cv-document .info-detail__item::after{content:"";position:absolute;top:.9em;right:0;width:1px;height:2.2em}
#cv-document .info-detail__item:last-child{margin-right:0;padding-right:0}
#cv-document .info-detail__item:last-child::after{content:none}
#cv-document .info-detail__item-icon{position:relative;flex-shrink:0;margin-right:.8em;min-width:1.2em;text-align:center}
#cv-document .info-detail__item-icon>i{line-height:1}
#cv-document [contentEditable] *{font-size:1em!important}
[contenteditable]:focus{outline:1pt dashed #77a5cc!important;cursor:text}
[contentEditable=true]:empty{outline:1pt dashed #fc4b08!important}
[contenteditable=true]:empty:before{content:attr(placeholder)!important}
#cv-document span.x_add.fa.fa-plus-circle,#cv-document span.x_del.fa.fa-remove{width:70px!important}