body.page-preview,body.page-view,body.page-viewdemo{background:url(/images3/bg-cv/3.jpg) no-repeat;background-size:cover;background-attachment:fixed}
body.page-preview .xbgcv.xbgcv1{position:fixed;z-index:99;right:0;bottom:0;width:150px;height:150px;background:url(/images3/bg-cv/7.2.png) no-repeat;background-size:cover}
#cv-document{font-size:10px}
#cv-document *{box-sizing:border-box}
#cv-document #cv-watermark a:after{content:"Joboko.com"}
#cv-document #cv-watermark{position:absolute;bottom:2.75em;right:2.5833333333em}
@media screen and (max-width:767px){
#cv-document #cv-watermark{left:2em}
}
#cv-document .relative{position:relative}
#cv-document .inline-block{display:inline-block}
#cv-document .inline{display:inline}
#cv-document .no-outline{outline:0}
#cv-document .no-outline:hover{box-shadow:none;outline:0}
#cv-document .content{border-left-width:1px;border-left-style:solid;padding:.7em 0 1.1em 3em}
#cv-document .education__item-text, #cv-document .experience__item-text, #cv-document .action__item-text, #cv-document .target, #cv-document .more, #cv-document .cletter {
    line-height: 24px
}
/*#cv-document .bullet::before{content:attr(data-x-bullet);margin-right:.25em}
#cv-document .bullet-dot{position:relative;padding-left:17px}
#cv-document .bullet-dot::before{content:"";position:absolute;top:8px;left:0;display:inline-block;margin-right:0;border-radius:50%;width:6px;height:6px}
#cv-document .bullet-dot br{content:"";position:relative;display:block}
#cv-document .bullet-dot br::before{content:"";position:absolute;top:8px;left:-17px;display:inline-block;margin-right:0;border-radius:50%;width:6px;height:6px}
@media screen and (max-width:767px){
#cv-document .bullet-dot br::before{left:-20px}
}*/
#cv-document .page--background{position:relative}
#cv-document .page--background::after{content:"";position:absolute;top:0;bottom:0;left:0;width:4.4em;pointer-events:none}
#cv-document .page__inner{padding:4.5em 4.4em 0 6.9em}
@media screen and (max-width:767px){
#cv-document .page__inner{padding-right:2em;padding-left:4em}
}
#cv-document .full-width__item{margin-bottom:1.8em}
#cv-document .two-up{flex-wrap:wrap;display:flex;margin-top:-3.3em;margin-bottom:2.4em}
@media screen and (max-width:767px){
#cv-document .two-up{padding:0}
}
#cv-document .two-up__left{width:calc(100% - 16em)}
@media screen and (max-width:767px){
#cv-document .two-up__left{width:100%}
}
#cv-document .two-up__right{width:16em}
@media screen and (max-width:767px){
#cv-document .two-up__right{width:100%}
}
#cv-document .h1,#cv-document .h2,#cv-document .h3,#cv-document .h4,#cv-document .h5,#cv-document .h6,#cv-document h1,#cv-document h2,#cv-document h3,#cv-document h4,#cv-document h5,#cv-document h6,#cv-document p{margin:0}
#cv-document .cvo-skillrate-radial::after{font-weight:500}
#cv-document .regular{font-weight:400}
#cv-document .light{font-weight:300}
#cv-document .medium{font-weight:500}
#cv-document .semi-bold{font-weight:600}
#cv-document .bold{font-weight:700}
#cv-document .black{font-weight:900}
#cv-document .uppercase{text-transform:uppercase}
#cv-document .capitalize{text-transform:capitalize}
#cv-document .heading{position:relative;align-items:flex-end;display:flex;margin-bottom:1.3em}
#cv-document .heading::after{content:"";flex-grow:1;opacity:.5;margin-bottom:.5em;margin-left:2.3em;height:.2em}
#cv-document .heading__title{flex-shrink:0;max-width:85%;letter-spacing:1px}
#cv-document .heading__symbol{margin-right:.4545454545em}
#cv-document .avatar{position:relative;z-index:2;justify-content:center;align-items:center;display:flex;overflow:hidden;border-width:3px;border-style:solid;width:16.4em;height:20.4em}
@media screen and (max-width:767px){
#cv-document .avatar{margin:0 auto}
}
#cv-document .avatar img{border-width:1px;border-style:solid;width:13.4em;height:16.8em}
#cv-document .info-main{position:relative;margin-right:3em;margin-bottom:1.5em;padding-top:4.1em;padding-bottom:1.7em}
@media screen and (max-width:767px){
#cv-document .info-main{margin-right:0}
}
#cv-document .info-main::before{content:"";position:absolute;top:-1.2em;right:-23.4em;bottom:0;left:-6.9em}
@media screen and (max-width:767px){
#cv-document .info-main::before{right:-2em;left:-4em}
}
#cv-document .info-main__title{position:relative;z-index:5;margin:0 0 1.1em}
#cv-document .info-main__text{position:relative;z-index:5}
#cv-document .info-detail{flex-wrap:wrap;align-items:flex-start;display:flex;margin-right:3em}
@media screen and (max-width:767px){
#cv-document .info-detail{margin-right:0}
}
#cv-document .info-detail__item{position:relative;align-items:flex-start;display:flex;margin:.7em 0;width:33%;padding-right:10px}
@media screen and (max-width:767px){
#cv-document .info-detail__item{width:40%}
}
#cv-document .info-detail__item:nth-child(even){width:67%}
@media screen and (max-width:767px){
#cv-document .info-detail__item:nth-child(even){width:60%}
}
#cv-document .info-detail__item-icon{position:relative;flex-shrink:0;margin-right:1.2em;min-width:1.2em;text-align:center}
#cv-document .info-detail__item-icon>i{line-height:1}
#cv-document .skill{padding-top:.3em}
#cv-document .skill__item{position:relative;margin-bottom:.6em;padding-left:2.2em}
#cv-document .skill__item::before{content:"";position:absolute;top:.6em;left:1px;border-radius:50%;width:.7em;height:.7em}
#cv-document .skill__item:last-child{margin-bottom:0}
#cv-document .skill-ta{display:flex;flex-wrap:wrap;justify-content:space-between}
#cv-document .skill-ta__item{width:45%;margin-top:.5em;margin-bottom:1.7em}
@media screen and (max-width:767px){
#cv-document .skill-ta__item{width:100%}
}
#cv-document .skill-ta__item-content{margin-bottom:1.1em}
#cv-document .skill-th__item{position:relative;margin-bottom:.9em;padding-left:2.2em}
#cv-document .skill-th__item::before{content:"";position:absolute;top:.6em;left:1px;border-radius:50%;width:.7em;height:.7em}
#cv-document .skill-th__item:last-child{margin-bottom:0}
#cv-document .cvo-skillrate{align-items:center;display:flex}
#cv-document .cvo-skillrate>span{flex-shrink:0;margin-right:1.1em;border-width:1px;border-style:solid;border-radius:50%;width:1.2em;height:1.2em}
@media screen and (max-width:767px){
#cv-document .cvo-skillrate>span{margin-right:.7em}
}
#cv-document .action{padding-top:.5em}
#cv-document .action__item{align-items:flex-start;display:flex;margin-bottom:1.2em}
#cv-document .action__item:last-child{margin-bottom:0}
#cv-document .action__item-title{margin-bottom:.5em}
#cv-document .action__item-date{position:relative;flex-shrink:0;margin-bottom:1em;width:15em;padding-bottom:2.1em;text-align:center}
@media screen and (max-width:767px){
#cv-document .action__item-date{width:12em}
}
#cv-document .action__item-date::after{content:"";position:absolute;bottom:0;left:50%;transform:translateX(-50%);width:1.1em;height:1.2em}
#cv-document .action__item-content{width:calc(100% - 15em);padding-left:.8em}
@media screen and (max-width:767px){
#cv-document .action__item-content{width:calc(100% - 12em)}
}
#cv-document .education__item{margin-bottom:.5em}
#cv-document .education__item:last-child{margin-bottom:0}
#cv-document .education__item-title{margin-bottom:.1em}
#cv-document .education__item-wrap{align-items:flex-start;display:flex;margin-bottom:.5em}
#cv-document .education__item-date{position:relative;flex-shrink:0;display:flex;margin-left:1.5em;padding-left:1.5em}
#cv-document .education__item-date::before{content:"";position:absolute;top:50%;left:0;transform:translateY(-50%);width:1px;height:1.6em}
#cv-document .education__item-date>div:nth-child(2){margin:0 3px}
#cv-document .experience__item{margin-bottom:1.9em}
#cv-document .experience__item:last-child{margin-bottom:0}
#cv-document .experience__item-wrap{align-items:flex-start;display:flex;margin-bottom:1px}
#cv-document .experience__item-pos{margin-bottom:.7em}
#cv-document .experience__item-date{position:relative;flex-shrink:0;margin-left:1.5em;padding-left:1.5em;display:flex}
#cv-document .experience__item-date::before{content:"";position:absolute;top:50%;left:0;transform:translateY(-50%);width:1px;height:1.6em}
#cv-document .experience__item-date>div:nth-child(2){margin:0 3px}
#cv-document .hobby{flex-wrap:wrap;justify-content:space-between;display:flex;padding-top:.1em}
#cv-document .hobby__item{position:relative;margin-bottom:.7em;width:46%;padding-left:2.2em}
@media screen and (max-width:767px){
#cv-document .hobby__item{width:100%}
}
#cv-document .hobby__item::before{content:"";position:absolute;top:.6em;left:1px;border-radius:50%;width:.7em;height:.7em}
#cv-document .hobby__item:last-child{margin-bottom:0}
#cv-document .references__item{margin-bottom:1.5em}
#cv-document .references__item:last-child{margin-bottom:0}
/*#cv-document .target br{content:"";display:block;margin-top:.4285714286em}*/
#cv-document .project{padding-top:.2em}
#cv-document .project__item{margin-bottom:2.5em}
#cv-document .project__item:last-child{margin-bottom:0}
#cv-document .project__item-title{margin-bottom:.4em}
#cv-document .project__item-time{margin-bottom:1.5em}
#cv-document .project__item-time [contentEditable=true]{min-width:15pt}
#cv-document .project__item-table{position:relative;width:100%;border-collapse:collapse}
#cv-document .project__item-table::after{content:"";position:absolute;top:0;right:0;bottom:0;left:0;border-width:1px;border-style:solid;pointer-events:none}
#cv-document .project__item-table .tr{display:flex}
#cv-document .project__item-table .td,#cv-document .project__item-table .th{border-width:1px 1px 0 1px;border-style:dashed;padding:1em .8em;vertical-align:top}
#cv-document .project__item-table .th{border-right:none;border-left-style:solid;width:11.8em}
#cv-document .project__item-table .td{border-right-style:solid;width:calc(100% - 11.8em);padding-left:1.8em}
.advantage__item{margin-bottom:.5em}
.advantage__item:last-child{margin-bottom:0}
.advantage__item-title>::before{content:"- "}
.award__item{position:relative;justify-content:space-between;align-items:flex-start;display:flex;margin-bottom:.6em;padding-left:2.2em}
.award__item::before{content:"";position:absolute;top:.6em;left:1px;border-radius:50%;width:.7em;height:.7em}
.award__item-date{flex-shrink:0;padding-left:1em;text-align:right}
#cv-document .cletter{border-width:1px;border-style:solid;margin-top:2.4em;padding:1.3em 2.2em 1.9em}
#cv-document .cletter>div{line-height:1.71}
/*#cv-document .cletter br{content:"";display:block;margin-top:1.7857142857em}*/
#cv-document [contentEditable] *{font-size:1em!important}
[contenteditable]:focus{outline:1pt dashed #77a5cc!important;cursor:text}
[contentEditable=true]:empty{outline:1pt dashed #fc4b08!important}
[contenteditable=true]:empty:before{content:attr(placeholder)!important}
#cv-document span.x_add.fa.fa-plus-circle,#cv-document span.x_del.fa.fa-remove{width:70px!important}
#cv-document .height-curent>[data-x-name=group-item]{padding-bottom:3em}
.template-special .x_hide{display: flex !important;}

#cv-document .inline {display:inline;min-width: 1em;}
#cv-document .inline:empty {display:inline-block}
#cv-document .inline-block {display:inline-block}
#cv-document .haicham:after{content:":"}
