body.page-preview,body.page-view,body.page-viewdemo{background:url(/images3/bg-cv/3.jpg) no-repeat;background-size:cover;background-attachment:fixed}
body.page-preview .xbgcv.xbgcv1{position:fixed;z-index:99;right:0;bottom:0;width:150px;height:150px;background:url(/images3/bg-cv/7.2.png) no-repeat;background-size:cover}
#cv-document{font-size:10px}
#cv-document *{box-sizing:border-box}
#cv-document #cv-watermark a:after{content:"Joboko.com"}
#cv-document .page:last-child #cv-watermark{position:absolute;right:1em;bottom:2em}
#cv-document .relative{position:relative}
#cv-document .inline-block{display:inline-block}
#cv-document .inline{display:inline}
#cv-document .no-outline{outline:0}
#cv-document .no-outline:hover{box-shadow:none;outline:0}
#cv-document .icon-phone{display:block;width:.8em;height:.8em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-birthday{display:block;width:.9em;height:.9em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-email{display:block;width:.8em;height:.6em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-facebook{display:block;width:1em;height:1em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-mark{display:block;width:.7em;height:1em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-gender{display:block;width:.8em;height:.9em;background-repeat:no-repeat;background-size:contain}
#cv-document .page__inner{padding:3.2em 4em 0}
@media screen and (max-width:767px){
#cv-document .page__inner{padding:3em 1.2em 0}
}
#cv-document .full-width{flex-wrap:wrap;align-items:flex-start;display:flex;margin-bottom:5em;padding-top:1em}
#cv-document .full-width__left{position:relative;z-index:3;width:calc(100% - 20.2em)}
@media screen and (max-width:767px){
#cv-document .full-width__left{order:2;margin-bottom:2em;width:100%}
}
#cv-document .full-width__right{width:20.2em}
#cv-document .full-width__full{order:3;width:100%}
#cv-document .two-up{flex-wrap:wrap;display:flex}
#cv-document .two-up__left{width:calc(100% - 41.4em);padding-right:2.4em}
@media screen and (max-width:767px){
#cv-document .two-up__left{margin-bottom:2em;width:100%;padding-right:0}
}
#cv-document .two-up__left-item{margin-bottom:2.5em}
#cv-document .two-up__right{width:41.4em;padding:0 2.1em 0 3.1em}
@media screen and (max-width:767px){
#cv-document .two-up__right{width:100%;padding:0}
}
#cv-document .two-up__right-item{margin-bottom:2.8em}
#cv-document .page:first-child .two-up__right{padding-top:2.1em}
@media screen and (max-width:767px){
#cv-document .page:first-child .two-up__right{padding-top:0}
}
#cv-document .h1,#cv-document .h2,#cv-document .h3,#cv-document .h4,#cv-document .h5,#cv-document .h6,#cv-document h1,#cv-document h2,#cv-document h3,#cv-document h4,#cv-document h5,#cv-document h6,#cv-document p{margin:0}
#cv-document .cvo-skillrate-radial::after{font-weight:500}
#cv-document .regular{font-weight:400}
#cv-document .light{font-weight:300}
#cv-document .medium{font-weight:500}
#cv-document .semi-bold{font-weight:600}
#cv-document .bold{font-weight:700}
#cv-document .black{font-weight:900}
#cv-document .italic{font-style:italic}
#cv-document .uppercase{text-transform:uppercase}
#cv-document .capitalize{text-transform:capitalize}
#cv-document .heading{position:relative;margin-bottom:1.3em;text-align:center}
#cv-document .heading::before{content:"";position:absolute;top:50%;right:0;left:0;border-bottom-width:1px;border-bottom-style:dashed}
#cv-document .heading__title{position:relative;z-index:2;display:inline-block;padding:0 20px}
#cv-document .heading__title::after,#cv-document .heading__title::before{content:"";position:absolute;z-index:2;top:calc(50% - .3em);border-radius:50%;width:.6em;height:.6em}
#cv-document .heading__title::before{left:0}
#cv-document .heading__title::after{right:0}
#cv-document .heading-02{position:relative;margin-bottom:1.3em;padding-bottom:.7em}
#cv-document .heading-02::before{content:"";position:absolute;z-index:2;bottom:-.2em;left:-.9em;border-radius:50%;width:.6em;height:.6em}
#cv-document .heading-02::after{content:"";position:absolute;right:0;bottom:0;left:-.9em;border-bottom-width:1px;border-bottom-style:dashed}
#cv-document .avatar{position:relative;z-index:2;width:20.2em;margin-bottom:2.7em}
@media screen and (max-width:767px){
#cv-document .avatar{margin:0 auto 2em}
}
#cv-document .avatar::before{content:"";position:absolute;top:.6em;left:-1em;border-radius:50%;width:20.5em;height:20.5em;pointer-events:none}
#cv-document .avatar__inner{width:20.2em;position:relative;z-index:2;height:20.2em;display:flex;justify-content:center;align-items:center;border-radius:50%}
#cv-document .avatar img{border-radius:50%;width:18.8em;height:18.8em}
#cv-document .info-main{text-align:right}
#cv-document .info-main__title{margin-bottom:.2em}
#cv-document .info-detail{margin-bottom:4em}
#cv-document .info-detail__item{align-items:flex-start;display:flex;margin-bottom:1.15em}
#cv-document .info-detail__item:last-child{margin-bottom:0}
#cv-document .info-detail__item-icon{position:relative;flex-shrink:0;justify-content:center;align-items:center;display:flex;margin-right:1.1em;border-radius:50%;width:1.7em;height:1.7em;text-align:center}
#cv-document .skill__item{position:relative;margin-bottom:.7em;padding-left:1em}
#cv-document .skill__item::before{content:"";position:absolute;top:.7em;left:0;border-radius:50%;width:.4em;height:.4em}
#cv-document .skill__item:last-child{margin-bottom:0}
#cv-document .skill__item-title{margin-right:1em}
#cv-document .skill__item-title>div:first-child::after{content:": "}
#cv-document .skill-ta{display:flex;flex-wrap:wrap;justify-content:space-between}
#cv-document .skill-ta__item{display:flex;align-items:center;width:46.6%;margin-top:1.6em;margin-bottom:.8em}
#cv-document .skill-ta__item-title{margin-left:1.3em}
#cv-document .skill-th{flex-wrap:wrap;display:flex;gap:1.8em}
#cv-document .skill-th__item{width:calc(33% - 1.2em);text-align:center}
@media screen and (max-width:767px){
#cv-document .skill-th__item{width:100%}
}
#cv-document .skill-th__item-icon{justify-content:center;align-items:center;display:flex;margin:0 auto 1em;width:5em;height:5em}
.xicon{display:inline-block;width:4.9em;height:4.9em;background-repeat:no-repeat;background-size:contain!important;background-position:center;vertical-align:middle}
#cv-document .action__item{margin-bottom:1.8em}
#cv-document .action__item:last-child{margin-bottom:0}
#cv-document .action__item-title{position:relative;margin-bottom:.5em;padding-left:1.8em}
#cv-document .action__item-title::before{content:"";position:absolute;top:.4em;left:0;width:.8em;height:.8em;border-radius:50%}
#cv-document .action__item-pos{margin-bottom:.5em}
#cv-document .action__item-date{margin-bottom:1em}
#cv-document .action__item-text br{content:"";display:block;margin-top:.4285714286em}
#cv-document .certification__item{margin-bottom:.7em}
#cv-document .certification__item:last-child{margin-bottom:0}
#cv-document .certification__item-title{margin-bottom:1px}
#cv-document .education__item{margin-bottom:2.2em}
#cv-document .education__item:last-child{margin-bottom:0}
#cv-document .education__item-date{margin-bottom:.4em}
#cv-document .education__item-title{margin-bottom:.4em}
#cv-document .education__item-pos{margin-bottom:.3em}
#cv-document .experience__item{margin-bottom:2.2em}
#cv-document .experience__item:last-child{margin-bottom:0}
#cv-document .experience__item-date{margin-bottom:.4em}
#cv-document .experience__item-title{margin-bottom:.3em}
#cv-document .experience__item-pos{margin-bottom:.3em}
#cv-document .hobby{flex-wrap:wrap;display:flex;gap:2.3em}
#cv-document .hobby__item{border-width:.2em;border-style:solid;width:calc(33% - 1.5em);padding:.7em .5em .3em;text-align:center}
@media screen and (max-width:767px){
#cv-document .hobby__item{width:100%}
}
#cv-document .hobby__item-icon{justify-content:center;align-items:center;display:flex;margin:0 auto .8em;width:3.6em;height:3.6em}
#cv-document .references__item{margin-bottom:.6em}
#cv-document .references__item:last-child{margin-bottom:0}
#cv-document .target{position:relative;z-index:2;padding:1.5em 3.6em 0 0}
#cv-document .target__title{margin-bottom:.5em}
#cv-document .project__item{margin-bottom:2em}
#cv-document .project__item:last-child{margin-bottom:0}
#cv-document .project__item-head{margin-bottom:.6em}
#cv-document .project__item-title{margin-bottom:.4em}
#cv-document .project__item-table{position:relative;width:100%;border-collapse:collapse}
#cv-document .project__item-table::after{content:"";position:absolute;top:0;right:0;bottom:0;left:0;border-width:1px;border-radius:.3em;border-style:solid;pointer-events:none}
#cv-document .project__item-table .tr{display:flex}
#cv-document .project__item-table .td,#cv-document .project__item-table .th{border-width:1px 1px 0 1px;border-style:dashed;padding:1em 2.1em .9em;vertical-align:top}
#cv-document .project__item-table .th{border-right:none;border-left:none;width:37.5%}
#cv-document .project__item-table .td{border-right:none;width:62.5%;padding-left:1.6em}
#cv-document .project__item-table .tr:first-child .td,#cv-document .project__item-table .tr:first-child .th{border-top:none}
#cv-document .project__item-table .tr:last-child .td,#cv-document .project__item-table .tr:last-child .th{border-bottom:none;border-bottom-width:1px}
#cv-document .more__item{position:relative;padding-left:1em}
#cv-document .more__item::before{content:"";position:absolute;top:.7em;left:0;border-radius:50%;width:.4em;height:.4em}
#cv-document .more__item:last-child{margin-bottom:0}
.advantage__item{position:relative;padding-left:1em}
.advantage__item::before{content:"";position:absolute;top:.7em;left:0;border-radius:50%;width:.4em;height:.4em}
.advantage__item:last-child{margin-bottom:0}
.award__item{margin-bottom:.7em}
.award__item:last-child{margin-bottom:0}
.award__item-title{margin-bottom:.4em}
#cv-document .cletter>div{line-height:1.57}
#cv-document [contentEditable] *{font-size:1em!important}
[contenteditable]:focus{outline:1pt dashed #77a5cc!important;cursor:text}
[contentEditable=true]:empty{outline:1pt dashed #fc4b08!important}
[contenteditable=true]:empty:before{content:attr(placeholder)!important}
#cv-document span.x_add.fa.fa-plus-circle,#cv-document span.x_del.fa.fa-remove{width:70px!important}
#cv-document .height-curent>[data-x-name=group-item]{padding-bottom:3em}