@media (max-width: 790px) {
    .container {
        width: 100% !important;
    }

    .col_left, .avatarL {
        width: 25% !important;
        float: left;
    }

    .col_right, .name {
        width: 65% !important;
    }

    .ml_ttl {
        margin-top: 0 !important;
        padding-top: 40px;
    }

   
}
