#form-cv{
	border: solid 1px #336600;
}

#cv-content .head{
	border-bottom: solid 3px #336600;
}

#form-cv{
	border: solid 1px #336600;
}

#cv-content .head{
	border-bottom: solid 3px #336600;
}

#cv-right .h3{
	border-bottom: solid 3px #336600;
}

.bar-exp span {
    background: #336600;
}

#cv-right .icoweb i.fa {
     color: #336600; 
}