#form-cv{
	border: solid 1px #5c8a8a;
}

#cv-content .head{
	border-bottom: solid 3px #5c8a8a;
}

#form-cv{
	border: solid 1px #5c8a8a;
}

#cv-content .head{
	border-bottom: solid 3px #5c8a8a;
}

#cv-right .h3{
	border-bottom: solid 3px #5c8a8a;
}

.bar-exp span {
    background: #5c8a8a;
}

#cv-right .icoweb i.fa {
     color: #5c8a8a; 
}