
.box-contact{
    background-color:#004d4d
}
#cv-top h1{    
    color:#004d4d;
}
#box-top{
    background-color:#004d4d
}
.cv-content h3,.exp-date{	
    color: #004d4d;
}
#cv-box-ava{
	border:5px solid #004d4d;	
}

.bar-exp span {
    background: #004d4d;
}

.icoweb i.fa{
    background: #004d4d;
}

.cvo-block .h3 i , .cvo-block  .head i{
    color: #004d4d;
    border: 2px solid #004d4d;
}