
.box-contact{
    background-color:#602020
}
#cv-top h1{    
    color:#602020;
}
#box-top{
    background-color:#602020
}
.cv-content h3,.exp-date{	
    color: #602020;
}
#cv-box-ava{
	border:5px solid #602020;	
}

.bar-exp span {
    background: #602020;
}

.icoweb i.fa{
    background: #602020;
}

.cvo-block .h3 i , .cvo-block  .head i{
    color: #602020;
    border: 2px solid #602020;
}