
.box-contact{
    background-color:#7575a3
}
#cv-top h1{    
    color:#7575a3;
}
#box-top{
    background-color:#7575a3
}
.cv-content h3,.exp-date{	
    color: #7575a3;
}
#cv-box-ava{
	border:5px solid #7575a3;	
}

.bar-exp span {
    background: #7575a3;
}

.icoweb i.fa{
    background: #7575a3;
}

.cvo-block .h3 i , .cvo-block  .head i{
    color: #7575a3;
    border: 2px solid #7575a3;
}