
.box-contact{
    background-color:#cc3300
}
#cv-top h1{    
    color:#cc3300;
}
#box-top{
    background-color:#cc3300
}
.cv-content h3,.exp-date{	
    color: #cc3300;
}
#cv-box-ava{
	border:5px solid #cc3300;	
}

.bar-exp span {
    background: #cc3300;
}

.icoweb i.fa{
    background: #cc3300;
}

.cvo-block .h3 i , .cvo-block  .head i{
    color: #cc3300;
    border: 2px solid #cc3300;
}