
.box-contact{
    background-color:#cc9900
}
#cv-top h1{    
    color:#cc9900;
}
#box-top{
    background-color:#cc9900
}
.cv-content h3,.exp-date{	
    color: #cc9900;
}
#cv-box-ava{
	border:5px solid #cc9900;	
}

.bar-exp span {
    background: #cc9900;
}

.icoweb i.fa{
    background: #cc9900;
}

.cvo-block .h3 i , .cvo-block  .head i{
    color: #cc9900;
    border: 2px solid #cc9900;
}