
.box-contact{
    background-color:#ee7f23
}
#cv-top h1{    
    color:#ee7f23;
}
#box-top{
    background-color:#ee7f23
}
.cv-content h3,.exp-date{	
    color: #ee7f23;
}
#cv-box-ava{
	border:5px solid #ee7f23;	
}

.bar-exp span {
    background: #ee7f23;
}

.icoweb i.fa{
    background: #ee7f23;
}

.cvo-block .h3 i , .cvo-block  .head i{
    color: #ee7f23;
    border: 2px solid #ee7f23;
}