.pageCV {
	background: #fff;
	color: #000;
}
.pageCV:nth-child(n+2) .col_top{
	display: none;
}
.col_top .h_curent {
	padding-top: 40px;
}
.col_top .h_curent .height_content {
    display: flex;
    justify-content: flex-end;
    position: relative;
    max-width: 100%;
    background: #f3f2f1;
}
.col_top .h_curent .height_content .info_left{
	max-width: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
}
.col_top .h_curent .height_content .info_right{
	height: 265px;
    padding-top: 80px;
    padding-right: 80px;
    max-width: 33%;
    min-width: 33%;
    font-size: 13px;
}
.col_top .h_curent .height_content .triangle {
	width: 0;
	height: 0;
	position: absolute;
	right: 110px;
    top: 0;
}
.triangle .triangle-down {
	border-left: 109.5px solid transparent;
    border-top: 265.8px solid #fff;
}
.col_top .h_curent .height_content .icoweb_ava{
	position: absolute;
	top: 85px;
    left: 50%;
    transform: translate(-55%, -15%);
    z-index: 3;
}
.img_ava{
	width: 240px;
	height: 278px;
	box-shadow: -6px -6px 12px #b9b9b9;
}
.col_top .h_curent .height_content .ava_boxshadow{
	display: block;
    background: #e9e8e7;
    width: 240px;
    min-height: 254px;
    left: 12%;
    top: 55px;
    box-shadow:-5px -1px 12px #b9b9b9;
    position: absolute;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    z-index: 1;
}
.col_top .h_curent .height_content .icoweb_fb {
    position: absolute;
    top: 90px;
    background: #fff;
    z-index: 2;
    padding: 40px 30px;
    width: 34%;
    min-height: 190px;
}
.icon_fb{
	display: flex;
	width: 40px;
	height: 40px;
	border-radius: 10px;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 10px;
}
.icon_fb i{
	display: flex;
	margin: auto;
}
.subinfo .icoweb{
	display: flex;
	margin-bottom: 6px;
}
.subinfo{
	margin-top: 15px;
}
.subinfo .icoweb_left {
	width: 15%;
}
.subinfo .icoweb_right {
	line-height: 16px;
	flex-grow: 1;
	max-width: 85%;
}
.tit-item {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 18px;
	font-weight: 600;
	padding-bottom: 8px;
}
.cv-main{
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	width: 100%;
}
.pageCV:nth-child(1) .cv-main {
	min-height: 817px;
}
.pageCV:nth-child(n+2) .cv-main {
	min-height: 1122px;
}
.col_bottom_left {
	width: 42%;
    max-width: 42%;
}
.col_bottom_right{
	width: 58%;
	max-width: 58%;
}
.itemInfo{
	min-height: 140px;
	padding: 70px 15px 20px 30px;
	text-transform: uppercase;
}
.itemInfo .icoweb_name{
	font-size: 19.5px;
    font-weight: 600;
    line-height: 26px;
    color: #fff;
    margin-bottom: 10px;
}
.col_bottom_left .groupItem{
	padding: 30px 15px 20px 30px;
}
.groupItem .itemGroup {
	padding-top: 30px;
	max-width: 100%;
}
.groupItem .itemGroup:first-child{
	padding-top: unset;
}
.itemGroup .listItem{
	margin-top: 20px;
}
.itemGroup .listItem .subItem{
	padding-bottom: 20px;
	max-width: 100%;
}
.itemGroup .listItem .subItem:last-child{
	padding-bottom: unset;
}
.itemMore {
	padding: 28px 30px 20px;
	min-height: 202px;
	color: #fff;
	margin: 0 !important;
}
.col_bottom_right .itemMore .tit-item{
	margin-left: 45%;
}
.col_bottom_right .groupItem .itemGroup {
	padding: 0 30px 30px;
}
.itemMore .x_act_item{
	margin-left: 50%;
}
.itemMore .tit-item{
	border-bottom: 1px solid #fff;
}
.itemCer .sub_NameTime{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.itemCer .sub_NameTime .name_subitem{
	max-width: 70%;
	width: 70%;
	font-weight: 550;
}
.itemCer .sub_NameTime .time_subitem{
	max-width: 30%;
	width: 30%;
	padding-left: 10px;
	font-style: italic;
	text-align: end;
}
.itemSkill .subSkill_left{
	margin-bottom: 5px;
}
.itemSkill .skillrate_bar{
	max-width: 70%;
	margin: auto 0;
}
.itemSkill .skillrate_val{
	max-width: 100%;
	height: auto;
	margin: auto 0;
}
.itemSkill_ta .subItem{
	display: flex;
}
.itemSkill_ta .name_subitem{
	font-weight: 600;
	margin: auto 0;
	max-width: 40%;
	width: 40%;
	margin-right: 10px;
}
.radialProgressBar {
	border-radius: 50%;
	width: 60px;
	height: 60px;
}
.radialProgressBar .overlay{
	border-radius: 50%;
	-webkit-transform: translate(0%, 0%);
	transform: translate(0%, 0%);
	width: 60px;
	height: 60px;
	margin: auto;
	text-align: center;
	padding-top: 20%;
}
.radialProgressBar .overlay:after{
	height: 40px;
    width: 40px;
    background: #fff;
    top: 10px;
    position: absolute;
    border-radius: 50%;
    left: 10px;
    display: flex;
    justify-content: center;
    padding-top: inherit;
    font-size: 12px;
}
.radialProgressBar .overlay[value="1"]:after{
  	content: "20%";
}
.radialProgressBar .overlay[value="2"]:after{
  	content: "40%";
}
.radialProgressBar .overlay[value="3"]:after{
  	content: "60%";
}
.radialProgressBar .overlay[value="4"]:after{
  content: "80%";
}
.radialProgressBar .overlay[value="5"]:after{
  	content: "100%";
}
.itemAward .subItem{
	display: flex;
	justify-content: space-between;
}
.itemAward .name_subitem{
	width: 80%;
	max-width: 80%;
}
.itemAward .time_subitem {
	width: 15%;
	max-width: 15%;
}
.col_bottom_right .groupItem{
	padding-top: 60px;
	padding-bottom: 30px;
}
.pageCV:nth-child(n+2) .col_bottom_right .groupItem{
	padding-top: 30px;
}
.col_bottom_right .groupItem .sub_NameTime{
	display: flex;
	justify-content: space-between;
}
.col_bottom_right .groupItem .subItem .sub_NameTime .name_subitem{
	width: 70%;
	max-width: 70%;
	font-weight: 550;
	padding-right: 10px;
}
.col_bottom_right .groupItem .subItem .sub_NameTime  .subTime{
	width: 30%;
	max-width: 30%;
	font-style: italic;
	display: flex;
    justify-content: flex-end;
}
.col_bottom_right .groupItem .subItem .space_time {
	padding: 0 2px;
}
.col_bottom_right .groupItem .subItem .pos_subitem{
	width: 100%;
	max-width: 100%;
	font-style: italic;
	margin-bottom: 10px;
}
.col_bottom_right .groupItem .subItem .des_subitem{
	width: 100%;
	max-width: 100%;
	font-size: 13px;
}

.itemMore .listItem {
	padding-top: 20px;
}
.col_bottom_right .itemTar .listItem .namesub {
	width: 100%;
}
/*---------------------------RESPONSIVE--------------------------------*/
}
@media screen and (max-width: 1024px) {

}
/* -------------TABLET PORTRAIT--------- */
@media screen and (max-width: 780px) {
	.info_left{
		position: relative;
	}
	.col_top .h_curent .height_content .info_left {
		position: unset;
	}
	.col_top .h_curent .height_content .icoweb_ava{
		position: unset;
		top: unset;
    	left: unset;
    	transform: unset;
    	width: 100%;
	    display: flex;
	    justify-content: center;
	    padding-top: 50px;
	}
	.cv-main{
		display: block;
	}
	.col_top .h_curent .height_content .ava_boxshadow{
		display: none;
	}
	.col_top .h_curent .height_content .icoweb_fb{
		position: unset;
		top: unset;
		width:100%;
		min-height: unset;
		padding: 10px 30px;
		display: flex;
    	justify-content: center;
	}
	.icon_fb{
		margin-right: 10px;
	}
	.triangle{
		display: none;
	}
	.col_top .h_curent .height_content .info_right{
		margin-top: 10px;
		padding: 20px 20px;
		min-height: unset;
		max-width: 100%;
	}
	.col_top .h_curent .height_content {
		display: block;
	}
	.col_bottom .height_content{
		display: block;
	}
	.pageCV:nth-child(1) .cv-main {
		min-height: unset;
	}
	.pageCV:nth-child(n+2) .cv-main {
		min-height: unset;
	}
	.col_bottom_left{
		width: 100%;
		max-width: 100%;
	}
	.col_bottom_right{
		width: 100%;
		max-width: 100%;
	}
	.col_bottom_right .itemMore .tit-item{
		margin-left:unset;
	}
	.itemMore{
		min-height: unset;
	}
	.itemInfo{
		min-height: unset;
	}
	.itemSkill .skillrate_bar{
		max-width: 40%;
	}
}
/* -----------------MOBILE---------------- */
@media screen and (max-width: 680px) {
	.itemSkill .skillrate_bar{
		max-width: 50%;
	}
	
}
/* -----------------SMALL MOBILE---------------- */
@media screen and (max-width: 470px) {
	.itemInfo{
		padding: 15px;
	}
	.col_bottom_left .groupItem{
		padding: 15px;
	}
	.itemMore{
		padding: 15px;
	}
	.col_bottom_right .groupItem{
		padding: 15px;
	}
	.pageCV{
		font-size: 13px;
	}
	.col_bottom_right .groupItem .sub_NameTime{
		display: block;
	}
	.col_bottom_right .groupItem .subItem .sub_NameTime .name_subitem{
		width: 100%;
		max-width: 100%;
	}
	.col_bottom_right .groupItem .subItem .sub_NameTime .subTime{
		width: 100%;
		max-width: 100%;
		justify-content: flex-start;
	}
	.itemSkill .skillrate_bar{
		max-width: 80%;
	}
}
/* -----------------iphone 6/7/8 plus ---------------- */
@media screen and (max-width: 414px) {
	
}
/* -----------------iphone 6/7/8/X ---------------- */
@media screen and (max-width: 375px) {
}
/* -----------------SMALLER MOBILE---------------- */
@media screen and (max-width: 360px) {

	.itemSkill .skillrate_bar{
		max-width: 90%;
	}	
}
