body.page-preview,body.page-view,body.page-viewdemo{background:url(/images3/bg-cv/3.jpg) no-repeat;background-size:cover;background-attachment:fixed}
body.page-preview .xbgcv.xbgcv1{position:fixed;z-index:99;right:0;bottom:0;width:150px;height:150px;background:url(/images3/bg-cv/7.2.png) no-repeat;background-size:cover}
#cv-document{font-size:10px}
#cv-document *{box-sizing:border-box}
#cv-document #cv-watermark a:after{content:"Joboko.com"}
#cv-document .page:last-child #cv-watermark{position:absolute;right:1em;bottom:2em}
#cv-document .relative{position:relative}
#cv-document .inline-block{display:inline-block}
#cv-document .bullet::before{content:attr(data-x-bullet);margin-right:.25em}
#cv-document .icon-title{position:absolute;top:.6em;left:.2em;transform:rotate(-45deg);width:1.1em;height:1.1em;padding:0}
#cv-document .icon-title::after,#cv-document .icon-title::before{content:"";position:absolute;border-style:solid;width:.8em;height:.8em}
#cv-document .icon-title::before{top:0;left:0;border-width:.3em 0 0 .3em}
#cv-document .icon-title::after{right:0;bottom:0;border-width:0 .3em .3em 0}
#cv-document .bullet-arrow{position:relative;padding-left:26px}
#cv-document .bullet-arrow::before{content:"\f054";position:absolute;top:3px;font-family:FontAwesome;left:6px;display:inline-block;margin-right:0;font-size:.8em}
#cv-document .bullet-arrow br{content:"";position:relative;display:block}
#cv-document .bullet-arrow br::before{content:"\f054";position:absolute;top:3px;left:-20px;display:inline-block;font-family:FontAwesome;margin-right:0;font-size:.8em}
#cv-document .page{display:flex;overflow:hidden}
#cv-document .page__inner{margin-left:1em;height:auto;padding:4.7em 0 0 0;width: 100%;}
@media screen and (max-width:767px){
#cv-document .page__inner{margin-left:0}
}
#cv-document .two-up{display:flex}
@media screen and (max-width:767px){
#cv-document .two-up{flex-wrap:wrap}
}
#cv-document .two-up--center{align-items:center}
#cv-document .two-up__left{flex-shrink:0;width:22.6em}
@media screen and (max-width:767px){
#cv-document .two-up__left{width:100%}
}
#cv-document .two-up__left--spacing{padding:0 1.4em 0 1.5em}
@media screen and (max-width:767px){
#cv-document .two-up__left--spacing{padding:0 2em}
}
#cv-document .two-up__left-item{margin-bottom:2.9em}
#cv-document .two-up__right{flex-grow:1}
@media screen and (max-width:767px){
#cv-document .two-up__right{width:100%}
}
#cv-document .two-up__right--spacing{padding:0 4.3em 0 3.8em}
@media screen and (max-width:767px){
#cv-document .two-up__right--spacing{padding:0 2em}
}
#cv-document .two-up__right-item{margin-bottom:2.6em}
#cv-document .full-width{position:relative;display:flex;margin:0 0 1.3em}
@media screen and (max-width:767px){
#cv-document .full-width{flex-wrap:wrap;margin-right:2em;margin-bottom:3em;margin-left:2em}
}
#cv-document .full-width__background{position:absolute;top:-4.7em;bottom:0;left:0;justify-content:center;align-items:flex-end;display:flex;overflow:hidden;margin-bottom:2.5em;width:22.6em}
@media screen and (max-width:767px){
#cv-document .full-width__background{left:50%;transform:translate3d(-50%,-52%,0)}
}
#cv-document .full-width__background>span{z-index:1;flex-shrink:0;justify-content:center;align-items:center;display:flex;width:25.4em;height:27.6em;-webkit-clip-path:polygon(50% 0,100% 25%,100% 75%,50% 100%,0 75%,0 25%);clip-path:polygon(50% 0,100% 25%,100% 75%,50% 100%,0 75%,0 25%)}
#cv-document .full-width__background>span>span{z-index:2;width:24.2em;height:26.4em;-webkit-clip-path:polygon(50% 0,100% 25%,100% 75%,50% 100%,0 75%,0 25%);clip-path:polygon(50% 0,100% 25%,100% 75%,50% 100%,0 75%,0 25%)}
#cv-document .full-width__left{position:relative;z-index:2;flex-shrink:0;width:22.6em}
@media screen and (max-width:767px){
#cv-document .full-width__left{width:100%}
}
#cv-document .full-width__right{position:relative;z-index:2;flex-grow:1;padding:.4em 2.8em 0 2.6em}
@media screen and (max-width:767px){
#cv-document .full-width__right{width:100%;padding:0;text-align:center}
}
#cv-document .full-width__right::before{content:"";position:absolute;top:-4.7em;right:0;left:2.6em;height:1.2em}
@media screen and (max-width:767px){
#cv-document .full-width__right::before{content:none}
}
#cv-document .h1,#cv-document .h2,#cv-document .uppercase{text-transform:uppercase}
#cv-document .lowercase{text-transform:lowercase}
#cv-document .h1,#cv-document .h2,#cv-document .h3,#cv-document h1,#cv-document h2,#cv-document h3,#cv-document p{margin:0}
#cv-document .cvo-skillrate--radial::after{font-weight:500}
#cv-document .regular{font-weight:400}
#cv-document .light{font-weight:300}
#cv-document .medium{font-weight:500}
#cv-document .bold{font-weight:700}
#cv-document .black{font-weight:900}
#cv-document .heading{display:inline-flex;margin-bottom:.45em}
#cv-document .heading::after,#cv-document .heading::before{display:inline-block;font:inherit;color:inherit}
#cv-document .heading::before{content:"<"}
#cv-document .heading::after{content:"/>"}
#cv-document .heading:empty::after,#cv-document .heading:empty::before{display:none}
#cv-document .action__item{margin-bottom:1.4em}
#cv-document .action__item:last-child{margin-bottom:2.5em}
#cv-document .action__item-title{margin-bottom:1em}
#cv-document .action__item-date{margin-bottom:.5em;position:relative;padding-left:2.6em}
#cv-document .action__item-text>*{line-height:1.5}
#cv-document .action__item-text br{content:"";display:block;margin-top:.375em}
#cv-document .avatar{position:relative;z-index:2;justify-content:center;align-items:center;display:flex;overflow:hidden;margin:0 auto;width:15.4em;height:17.6em;-webkit-clip-path:polygon(50% 0,100% 25%,100% 75%,50% 100%,0 75%,0 25%);clip-path:polygon(50% 0,100% 25%,100% 75%,50% 100%,0 75%,0 25%)}
@media screen and (max-width:767px){
#cv-document .avatar{margin:0 auto 1em}
}
#cv-document .avatar img{width:14.2em;height:16.4em;-webkit-clip-path:polygon(50% 0,100% 25%,100% 75%,50% 100%,0 75%,0 25%);clip-path:polygon(50% 0,100% 25%,100% 75%,50% 100%,0 75%,0 25%)}
#cv-document .certification__item{position:relative;margin-bottom:1.3em;padding-left:2.5em}
#cv-document .certification__item:last-child{margin-bottom:0}
#cv-document .certification__item-title{margin-bottom:.3125em}
#cv-document .cvo-skillrate-bar{flex-shrink:0}
#cv-document .cvo-skillrate{align-items:center;display:flex;margin-top:.7em;margin-bottom:.7em}
#cv-document .cvo-skillrate>span{position:relative;margin-right:.8em;width:1.2em;height:1.2em}
#cv-document .cvo-skillrate>span:last-child{margin-right:0}
#cv-document .cvo-skillrate>span::before{content:"";position:absolute;z-index:1;top:50%;left:50%;transform:translate3d(-50%,-50%,0) rotate(45deg);border-width:1px;border-style:solid;width:.9em;height:.9em}
#cv-document .cvo-skillrate-radial{position:relative;margin:0 auto .5em;border-radius:50%;width:5.8em;height:5.8em;text-align:center}
#cv-document .cvo-skillrate-radial::before{content:"";position:absolute;top:50%;left:50%;justify-content:center;align-items:center;display:flex;transform:translate3d(-50%,-50%,0);border-radius:50%;width:4.8em;height:4.8em}
#cv-document .cvo-skillrate-radial::after{content:"";position:absolute;top:50%;left:50%;transform:translate3d(-50%,-50%,0)}
#cv-document .cvo-skillrate-radial[value="1"]::after{content:"20%"}
#cv-document .cvo-skillrate-radial[value="2"]::after{content:"40%"}
#cv-document .cvo-skillrate-radial[value="3"]::after{content:"60%"}
#cv-document .cvo-skillrate-radial[value="4"]::after{content:"80%"}
#cv-document .cvo-skillrate-radial[value="5"]::after{content:"100%"}
#cv-document .cvo-skillrate-progress{display:flex}
#cv-document .cvo-skillrate-progress>span{position:relative;display:flex;width:20%;height:.8em}
#cv-document .cvo-skillrate-progress>span:not(:last-child)::after{content:none}
#cv-document .cvo-skillrate-progress>span::after,#cv-document .cvo-skillrate-progress>span::before{content:"";position:absolute;z-index:1;top:-1px;left:-.8em;transform:rotate(45deg);border-width:.3em .3em 0 0;border-style:solid;box-sizing:content-box;width:.7em;height:.7em}
#cv-document .cvo-skillrate-progress>span::after{right:-.2em;left:auto}
#cv-document .education__item{margin-top:.2em;margin-bottom:1.8em}
#cv-document .education__item:last-child{margin-bottom:0}
#cv-document .education__item-title{margin-bottom:.2941176471em}
#cv-document .education__item-title::after,#cv-document .education__item-title::before{display:inline;font:inherit;color:inherit}
#cv-document .education__item-title::before{content:"{";margin-right:-.15em}
#cv-document .education__item-title::after{content:"}";margin-left:-.15em}
#cv-document .education__item-title br:first-of-type,#cv-document .education__item-title br:last-of-type{display:none}
#cv-document .education__item-title [contenteditable=true]:empty:before{display:inline}
#cv-document .education__item-date{margin-bottom:.3em}
#cv-document .education__item-content{position:relative;flex-grow:1}
#cv-document .education__item-content div:first-child{margin-bottom:.2em}
#cv-document .education__item-text br{content:"";display:block;margin-top:.375em}
#cv-document .experience__item{margin-top:.6em;margin-bottom:1.5em}
#cv-document .experience__item:last-child{margin-bottom:0}
@media screen and (max-width:767px){
#cv-document .experience__item:last-child{margin-bottom:3em}
}
#cv-document .experience__item-wrap{justify-content:space-between;align-items:center;display:flex;margin-bottom:.7em}
#cv-document .experience__item-title{margin-bottom:.125em}
#cv-document .experience__item-title::after,#cv-document .experience__item-title::before{display:inline;font:inherit;color:inherit}
#cv-document .experience__item-title::before{content:"{";margin-right:-.17em}
#cv-document .experience__item-title::after{content:"}";margin-left:-.17em}
#cv-document .experience__item-title br:first-of-type,#cv-document .experience__item-title br:last-of-type{display:none}
#cv-document .experience__item-title [contenteditable=true]:empty:before{display:inline}
#cv-document .experience__item-date{flex-shrink:0;margin-left:1em}
#cv-document .experience__item-text br{content:"";display:block;margin-top:.375em}
#cv-document .hobby__item{position:relative;margin-top:.2em;margin-bottom:.6em;padding-left:2.5em}
#cv-document .hobby__item:last-child{margin-bottom:0}
#cv-document .info-detail{flex-wrap:wrap;display:flex}
@media screen and (max-width:767px){
#cv-document .info-detail{text-align:left}
}
#cv-document .info-detail__item{display:flex;margin-bottom:.5em;width:50%}
@media screen and (max-width:575px){
#cv-document .info-detail__item{width:100%}
}
@media screen and (min-width:767px){
#cv-document .info-detail__item:nth-last-child(-n+2){margin-bottom:0}
}
@media print and (min-width:767px){
#cv-document .info-detail__item:nth-last-child(-n+2){margin-bottom:0}
}
#cv-document .info-detail__item:last-child{margin-bottom:0}
@media screen and (min-width:576px){
#cv-document .info-detail__item:nth-child(even){margin-left:auto;width:45%}
}
@media print and (min-width:576px){
#cv-document .info-detail__item:nth-child(even){margin-left:auto;width:45%}
}
#cv-document .info-detail__item i{position:relative;top:.1428571429em;margin-right:.5em;min-width:1em;text-align:center}
#cv-document .info-main{position:relative;display:inline-block;margin-bottom:1.6em;padding:.8em 2em .5em}
@media screen and (max-width:767px){
#cv-document .info-main{margin-right:auto;margin-left:auto;text-align:center}
}
#cv-document .info-main::after,#cv-document .info-main::before{position:absolute;z-index:1;top:50%;transform:translate3d(0,-50%,0);font-weight:300}
#cv-document .info-main::before{content:"{";left:0}
#cv-document .info-main::after{content:"}";right:0}
#cv-document .info-main br:first-of-type,#cv-document .info-main br:last-of-type{display:none}
#cv-document .info-main__item{margin:0 0 .3em}
#cv-document .info-main__item:last-child{margin-bottom:0}
#cv-document .references__item{margin-bottom:1em}
#cv-document .references__item:last-child{margin-bottom:0}
#cv-document .skill{flex-wrap:wrap;display:flex}
#cv-document .skill__item{margin-bottom:1.2em;width:41%}
@media screen and (max-width:767px){
#cv-document .skill__item:nth-last-child(-n+2){margin-bottom:0}
}
#cv-document .skill__item:last-child{margin-bottom:0}
#cv-document .skill__item:nth-child(even){margin-left:auto}
#cv-document .skill-02{margin-top:.9em}
#cv-document .skill-02__item{padding-left:3.7em;margin-bottom:1.1em}
#cv-document .skill-02__item::before{content:"";position:absolute;top:.5em;left:.3em;transform:rotate(45deg);transform-origin:center;border-width:1px;border-style:solid;width:1.3em;height:1.3em;padding:1.5px;background-clip:content-box}
#cv-document .skill-ta{display:flex;flex-wrap:wrap;text-align:center}
#cv-document .skill-ta__item{width:34%;margin-top:1em;margin-bottom:1.3em}
#cv-document .skill-ta__item:nth-child(even){margin-left:auto}
#cv-document .skill-ta__item:nth-last-child(-n+2){margin-bottom:0}
#cv-document .skill-th{flex-wrap:wrap;display:flex}
#cv-document .skill-th__item{width:45.5%;margin:1.7em 0}
#cv-document .skill-th__item:nth-child(even){margin-left:auto}
#cv-document .skill-th__item-content{margin-bottom:1.3em}
#cv-document .target{margin-top:1px;margin-bottom:1.4375em}
#cv-document .target br{content:"";display:block;margin-top:.375em}
#cv-document .project__item{margin-bottom:3.5em}
#cv-document .project__item-head{flex-wrap:wrap;display:flex;margin-top:.3em;margin-bottom:1.4em}
#cv-document .project__item-title{position:relative;margin-right:1.7em;padding:0 1.5em 0 0}
#cv-document .project__item-title::after{content:"";position:absolute;top:.2em;right:0;bottom:.4em;width:1px}
#cv-document .project__item-time{flex-shrink:0}
#cv-document .project__item-table{position:relative;width:100%;border-collapse:collapse}
#cv-document .project__item-table::after{content:"";position:absolute;top:0;right:0;bottom:0;left:0;border-width:1px;border-style:solid;pointer-events:none}
#cv-document .project__item-table .tr{display:flex}
#cv-document .project__item-table .td,#cv-document .project__item-table .th{border-width:1px 1px 0 1px;border-style:dashed;padding:1em 1.2em .9em;vertical-align:top}
#cv-document .project__item-table .th{border-right:none;border-left:none;width:36%}
#cv-document .project__item-table .td{border-right:none;width:64%;padding-left:1.5em}
#cv-document .project__item-table .tr:first-child .td,#cv-document .project__item-table .tr:first-child .th{border-top:none}
#cv-document .project__item-table .tr:last-child .td,#cv-document .project__item-table .tr:last-child .th{border-bottom:none}
#cv-document .cletter{border-width:1px;border-style:solid;padding:1.3em 2.2em 1.6em}
#cv-document .cletter>div{line-height:1.5}
#cv-document .cletter br{content:"";display:block;margin-top:1.4375em}
#cv-document [contentEditable] *{font-size:1em!important}
[contenteditable]:focus{outline:1pt dashed #77a5cc!important;cursor:text}
[contentEditable=true]:empty{outline:1pt dashed #fc4b08!important}
[contenteditable=true]:empty:before{content:attr(placeholder)!important}
#cv-document span.x_add.fa.fa-plus-circle,#cv-document span.x_del.fa.fa-remove{width:70px!important}
#cv-document .height-curent>[data-x-name=group-item]{padding-bottom:3em}

.template-special .x_hide{display: flex !important;}

#cv-document .inline {display:inline;min-width: 1em;}
#cv-document .inline:empty {display:inline-block}

.plr{
    margin-left: 2px;
    margin-right: 2px;
}


#cv-document .bullet-arrow:empty::before{
    position: relative;
    font-size: 1em;
    color: #bbb;
}