#cv-document{font-size:10px}
#cv-document .icon-phone{display:block;width:1.1em;height:1.1em;background:var(--icon-phone) no-repeat center/contain}
#cv-document .icon-birthday{display:block;width:1.2em;height:1.2em;background:var(--icon-birthday) no-repeat center/contain}
#cv-document .icon-email{display:block;width:1.2em;height:.9em;background:var(--icon-email) no-repeat center/contain}
#cv-document .icon-facebook{display:block;width:1.3em;height:1.3em;background:var(--icon-facebook) no-repeat center/contain}
#cv-document .icon-mark{display:block;width:1em;height:1.4em;background:var(--icon-mark) no-repeat center/contain}
#cv-document .content{padding-left:1.2em}
#cv-document *{box-sizing:border-box}
#cv-document #cv-watermark a:after{content:"Joboko.com"}
#cv-document #cv-watermark,#cv-document #cv-watermark a{text-decoration:none;color:var(--color-text)}
#cv-document .page:last-child #cv-watermark{position:absolute;right:2.4em;bottom:2em}
#cv-document .column-left-item:hover,#cv-document .column-right-item:hover,#cv-document [data-x-id=info]:hover{box-shadow:none;outline:0}
#cv-document .relative{position:relative}
#cv-document .inline-block{display:inline-block}
#cv-document .inline{display:inline}
#cv-document .no-outline{outline:0}
#cv-document .no-outline:hover{box-shadow:none;outline:0}
#cv-document [contenteditable] ol,#cv-document [contenteditable] ul{margin:0;padding:0}
#cv-document [contenteditable] ol,#cv-document [contenteditable] ul{margin-left:18px}
body.page-preview,body.page-view,body.page-viewdemo{background:url(/images3/bg-cv/3.jpg) no-repeat;background-size:cover;background-attachment:fixed}
body.page-preview .xbgcv.xbgcv1{position:fixed;right:0;bottom:0;z-index:99;width:150px;height:150px;background:url(/images3/bg-cv/7.2.png) no-repeat;background-size:cover}
#cv-document .page--background{position:relative;background:linear-gradient(to right,var(--bottom-line-color),var(--bottom-line-color)) no-repeat left bottom/100% 1.8em,#fff;color:var(--text-color)}
#cv-document .page-inner{padding:4.9em 4em 0}
@media screen and (max-width:767px){
#cv-document .page-inner{padding-right:0;padding-left:0}
}
#cv-document .one-column,#cv-document .two-columns{display:flex;flex-wrap:wrap}
#cv-document .column-left{position:relative;z-index:2;width:28.6em;margin-bottom:1.8em}
@media screen and (max-width:767px){
#cv-document .column-left{width:100%;padding-right:1.2em;padding-left:1.2em}
}
#cv-document .column-right{width:calc(100% - 28.6em);margin-bottom:1.8em;padding-left:4em}
@media screen and (max-width:767px){
#cv-document .column-right{width:100%;padding-right:1.2em;padding-left:1.2em}
}
#cv-document .one-column .column-left{width:18em}
@media screen and (max-width:767px){
#cv-document .one-column .column-left{width:100%}
}
#cv-document .one-column .column-right{width:calc(100% - 18em);padding-left:2.2em}
@media screen and (max-width:767px){
#cv-document .one-column .column-right{width:100%;padding-left:1.2em}
}
#cv-document .column-left .column-item{margin-bottom:1.8em}
#cv-document .column-right .column-item{margin-bottom:1.9em}
#cv-document .h1,#cv-document .h2,#cv-document .h3,#cv-document .h4,#cv-document .h5,#cv-document .h6,#cv-document h1,#cv-document h2,#cv-document h3,#cv-document h4,#cv-document h5,#cv-document h6,#cv-document p{margin:0}
#cv-document .fw-regular{font-weight:400}
#cv-document .fw-light{font-weight:300}
#cv-document .fw-medium{font-weight:500}
#cv-document .fw-semi-bold{font-weight:600}
#cv-document .fw-bold{font-weight:700}
#cv-document .fw-black{font-weight:900}
#cv-document .fs-italic{font-style:italic}
#cv-document .text-uppercase{text-transform:uppercase}
#cv-document .text-capitalize{text-transform:capitalize}
#cv-document .heading{position:relative;margin-bottom:.8em;padding-left:1.2em;color:var(--heading-color);font-weight:bold}
#cv-document .heading::before{content:"";position:absolute;top:0;left:0;width:.3em;height:2.1em;background-color:var(--heading-color)}
#cv-document .avatar{position:relative;z-index:5;display:flex;justify-content:center;align-items:center;width:18em;height:18em;margin:0 auto 1.6em;background-color:var(--avatar-background-color)}
@media screen and (max-width:767px){
#cv-document .avatar{margin-right:auto;margin-bottom:1em}
}
#cv-document .avatar img{width:17.4em;height:17.4em;margin:0}
#cv-document .info-main{position:relative;z-index:2;margin-top:.7em;margin-bottom:1.5em}
#cv-document .info-main .item-title{margin-bottom:.6em}
#cv-document .info-main .item-text{padding:.7em 1.4em;background-color:var(--info-main-text-background-color);color:#fff}
#cv-document .info-detail{position:relative;margin-bottom:.7em}
#cv-document .info-detail .item{position:relative;z-index:2;display:flex;align-items:flex-start;margin-bottom:.45em}
#cv-document .info-detail .item:last-child{margin-bottom:0}
#cv-document .info-detail .item-icon{width:7.6em}
#cv-document .info-detail .item-text{position:relative;z-index:2;width:calc(100% - 7.6em)}
#cv-document .skill .item{margin-bottom:.3em}
#cv-document .skill .item:last-child{margin-bottom:0}
#cv-document .skill-th .item{position:relative;display:flex;margin-bottom:.7em;padding-left:.9em}
#cv-document .skill-th .item:last-child{margin-bottom:0}
#cv-document .skill-th .item::before{content:"";position:absolute;top:.7em;left:0;border-radius:50%;width:.4em;height:.4em;background-color:var(--text-color)}
#cv-document .skill-th .item:last-child{margin-bottom:0}
.xicon{display:inline-block;width:4.4em;height:4.4em;background-repeat:no-repeat;background-size:contain!important;background-position:center;vertical-align:middle}
.xicon.sport{background-image:var(--xicon-sport)!important}
.xicon.gym{background-image:var(--xicon-gym)!important}
.xicon.football{background-image:var(--xicon-football)!important}
.xicon.yoga{background-image:var(--xicon-yoga)!important}
.xicon.cook{background-image:var(--xicon-cook)!important}
.xicon.climb{background-image:var(--xicon-climb)!important}
.xicon.swim{background-image:var(--xicon-swim)!important}
.xicon.book{background-image:var(--xicon-book)!important}
.xicon.music{background-image:var(--xicon-music)!important}
.xicon.movie{background-image:var(--xicon-movie)!important}
.xicon.game{background-image:var(--xicon-game)!important}
.xicon.travel{background-image:var(--xicon-travel)!important}
.xicon.puzzle{background-image:var(--xicon-puzzle)!important}
.xicon.camera{background-image:var(--xicon-camera)!important}
.xicon.word{background-image:var(--xicon-word)!important}
.xicon.excel{background-image:var(--xicon-excel)!important}
.xicon.powerpoint{background-image:var(--xicon-powerpoint)!important}
.xicon.outlook{background-image:var(--xicon-outlook)!important}
.xicon.illustrator{background-image:var(--xicon-illustrator)!important}
.xicon.uiux{background-image:var(--xicon-uiux)!important}
.xicon.indesign{background-image:var(--xicon-indesign)!important}
.xicon.organizational{background-image:var(--xicon-organizational)!important}
.xicon.search{background-image:var(--xicon-search)!important}
.xicon.dataanalysis{background-image:var(--xicon-dataanalysis)!important}
.xicon.report{background-image:var(--xicon-report)!important}
.xicon.management{background-image:var(--xicon-management)!important}
.xicon.communicate{background-image:var(--xicon-communicate)!important}
.xicon.plan{background-image:var(--xicon-plan)!important}
.xicon.talk{background-image:var(--xicon-talk)!important}
.xicon.photoshop{background-image:var(--xicon-photoshop)!important}
.xicon.canva{background-image:var(--xicon-canva)!important}
.xicon.wordpress{background-image:var(--xicon-wordpress)!important}
#cv-document .column-right .action .item{position:relative;margin-bottom:2em}
#cv-document .column-right .action .item::before{content:"";position:absolute;right:0;bottom:-1em;left:0;border-top:1px dashed var(--text-color)}
#cv-document .column-right .action .item:last-child{margin-bottom:0}
#cv-document .column-right .action .item:last-child::before{content:none}
#cv-document .column-right .action .item-title{margin-bottom:.1em}
#cv-document .column-right .action .item-wrap{display:flex;justify-content:space-between;align-items:center}
#cv-document .column-right .action .item-date{flex-shrink:0;margin-left:1.5em;color:var(--date-color)}
#cv-document .certification .item{margin-bottom:.6em}
#cv-document .certification .item:last-child{margin-bottom:0}
#cv-document .certification .item-title{margin-bottom:.3em}
#cv-document .certification .item-date{color:var(--date-color)}
#cv-document .education .item{position:relative;margin-bottom:2em}
#cv-document .education .item::before{content:"";position:absolute;right:0;bottom:-1em;left:0;border-top:1px dashed var(--text-color)}
#cv-document .education .item:last-child{margin-bottom:0}
#cv-document .education .item:last-child::before{content:none}
#cv-document .education .item-wrap{display:flex;justify-content:space-between;align-items:center}
#cv-document .education .item-date{margin-bottom:.4em;color:var(--date-color)}
#cv-document .experience .item{position:relative;margin-bottom:2em}
#cv-document .experience .item::before{content:"";position:absolute;right:0;bottom:-1em;left:0;border-top:1px dashed var(--text-color)}
#cv-document .experience .item:last-child{margin-bottom:0}
#cv-document .experience .item:last-child::before{content:none}
#cv-document .experience .item-wrap{display:flex;justify-content:space-between;align-items:center;margin-bottom:.3em}
#cv-document .experience .item-date{flex-shrink:0;margin-left:1.5em;color:var(--date-color)}
#cv-document .target{position:relative;z-index:3;min-height:20.8em;margin-bottom:.8em;text-align:justify}
#cv-document .project .item{margin-bottom:2em}
#cv-document .project .item:last-child{margin-bottom:0}
#cv-document .project .item-head{display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;margin-bottom:.8em}
#cv-document .project .item-date{flex-shrink:0;margin-left:1.5em;color:var(--date-color)}
#cv-document .project .item-table{position:relative;width:100%;border-collapse:collapse}
#cv-document .project .item-table::after{content:"";position:absolute;top:0;right:0;bottom:0;left:0;border-width:1px;border-style:solid;border-color:var(--project-border-color);pointer-events:none}
#cv-document .project .item-table .tr{display:flex}
#cv-document .project .item-table .td,#cv-document .project .item-table .th{border-width:1px 1px 0 1px;border-style:dashed;border-color:var(--project-border-color);padding:1em;vertical-align:top}
#cv-document .project .item-table .th{border-right:none;border-left:none;width:28.5%}
#cv-document .project .item-table .td{border-right:none;width:71.5%}
#cv-document .project .item-table .td ul{list-style:none;margin-left:0}
#cv-document .project .item-table .tr:first-child .td,#cv-document .project .item-table .tr:first-child .th{border-top:none}
#cv-document .project .item-table .tr:last-child .td,#cv-document .project .item-table .tr:last-child .th{border-bottom:none;border-bottom-width:1px}
#cv-document .award .item{margin-bottom:.5em}
#cv-document .award .item:last-child{margin-bottom:0}
#cv-document .award .item-title{margin-bottom:.4em}
#cv-document .award .item-date{color:var(--date-color)}
#cv-document [contentEditable] *{font-size:1em!important}
[contenteditable]:focus{outline:1pt dashed #77a5cc!important;cursor:text}
[contentEditable=true]:empty{outline:1pt dashed #fc4b08!important}
[contenteditable=true]:empty:before{content:attr(placeholder)!important}
#cv-document span.x_add.fa.fa-plus-circle,#cv-document span.x_del.fa.fa-remove{width:70px!important}
#cv-document .height-curent>[data-x-name=group-item]{padding-bottom:3em}
#cv-document .haicham:not(:empty):after{content:":"}
#cv-document .cletter {text-align:justify}
#cv-document .skill .item-title [contenteditable="true"] [data-placeholder] {display:inline}
#cv-document [contenteditable] ol, #cv-document [contenteditable] ul{margin-left: 0!important}
#cv-document .more .item, #cv-document .references .item{margin-bottom: 1em;}
#cv-document .more .item:last-child, #cv-document .references .item:last-child{margin-bottom: 0;}