#cv-document .page{background:linear-gradient(to bottom,#64a323 28.2em,transparent 0) no-repeat left top/100% 50%,linear-gradient(to top,#292928 29.2em,transparent 0) no-repeat left bottom/100% 50%,#fff;color:#000}
#cv-document .page__inner{background:linear-gradient(to top,#292928 2.2em,#f9f9f9 0)}
@media print{
#cv-document .page__inner{background:linear-gradient(to top,#292928 5em,#f9f9f9 0)}
}
#cv-document .two-up{border-bottom-color:rgba(100,163,35,.2);color:#000}
#cv-document .two-up__left{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 280.6 256.19'%3E%3Cpath fill='%2364a323' d='M0 256.19V0h280.6C187.38 85.11 94.22 171.07 1 256.19Z'/%3E%3C/svg%3E")}
#cv-document .two-up__left::before{background-color:#64a323}
#cv-document .avatar{border-color:#64a323;background-color:#fff}
#cv-document .info-main__title{color:#64a323}
#cv-document .info-detail__item-icon{border-color:#fff;background-color:#292928;color:#fff}