@font-face {
	font-family: 'UTM Avo';
	src: url('/MyCV/templates/1264/fonts/UTMAvo.eot');
	src: url('/MyCV/templates/1264/fonts/UTMAvo.eot?#iefix') format('embedded-opentype'),
			url('/MyCV/templates/1264/fonts/UTMAvo.woff2') format('woff2'),
			url('/MyCV/templates/1264/fonts/UTMAvo.woff') format('woff'),
			url('/MyCV/templates/1264/fonts/UTMAvo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

#form-cv{
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
}


#cv-document .info-main__title,
#cv-document .heading__title {
	font-family: 'UTM Avo';
}

#cv-document .heading__symbol {
	letter-spacing: -4px;
}
