.icoweb i.fa{
    color: #E91E63 !important;
}
.cv-left{
    background: #E91E63 !important;
}
.box-name{        
    background: #E91E63;
}
.cv-content h3{ 
    color: #E91E63;
}
.cv-content .head{color:#E91E63}
.bar-exp{background-color:#fff}
.bar-exp span{background-color:#E91E63}