body.page-preview,body.page-view,body.page-viewdemo{background:url(/images3/bg-cv/3.jpg) no-repeat;background-size:cover;background-attachment:fixed}
body.page-preview .xbgcv.xbgcv1{position:fixed;z-index:99;right:0;bottom:0;width:150px;height:150px;background:url(/images3/bg-cv/7.2.png) no-repeat;background-size:cover}
#cv-document{font-size:10px}
#cv-document *{box-sizing:border-box}
#cv-document #cv-watermark a:after{content:"Joboko.com"}
#cv-document .page:last-child #cv-watermark{position:absolute;right:1em;bottom:2em}
#cv-document .relative{position:relative}
#cv-document .inline-block{display:inline-block}
#cv-document .inline{display:inline}
#cv-document .no-outline{outline:0}
#cv-document .no-outline:hover{box-shadow:none;outline:0}
#cv-document .content{border-left-width:1px;border-left-style:solid;padding:.7em 0 1.1em 3em}
#cv-document .bullet-dot ul{padding-left:17px}
#cv-document .bullet-dot ul li{position:relative}
#cv-document .bullet-dot ul li::before{content:"";position:absolute;top:8px;left:-17px;display:inline-block;margin-right:0;border-radius:50%;width:6px;height:6px}
#cv-document .icon-phone{display:block;width:1.6em;height:1.6em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-birthday{display:block;width:1.5em;height:1.5em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-email{display:block;width:1.5em;height:1em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-facebook{display:block;width:1em;height:1.6em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-mark{display:block;width:1.4em;height:1.9em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-edu{display:block;width:1.9em;height:1.4em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-hob{display:block;width:1.4em;height:1.6em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-cer{display:block;width:1.4em;height:1.9em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-award{display:block;width:1.3em;height:1.8em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-ref{display:block;width:1.3em;height:1.5em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-advantage{display:block;width:1.6em;height:1.4em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-skill-th{display:block;width:1.7em;height:1.6em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-skill-ta{display:block;width:1.8em;height:1.8em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-exp{display:block;width:1.5em;height:1.3em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-skill{display:block;width:1.6em;height:1.6em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-act{display:block;width:1.6em;height:1.5em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-more{display:block;width:2.2em;height:2.2em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-cletter{display:block;width:1.6em;height:1.5em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-pro{display:block;width:1.6em;height:1.6em;background-repeat:no-repeat;background-size:contain}
#cv-document .page__inner{padding:3em 0 0}
#cv-document .two-up{flex-wrap:wrap;display:flex;overflow:hidden;width:100%}
#cv-document .two-up__left{width:29em;padding:0 2.2em 0 3.3em}
@media screen and (max-width:767px){
#cv-document .two-up__left{margin-bottom:2em;width:100%;padding:0 1.5em}
}
#cv-document .two-up__left-item{margin-bottom:2.5em}
#cv-document .two-up__right{width:calc(100% - 29em);padding:3.3em 3.3em 0 3.2em}
@media screen and (max-width:767px){
#cv-document .two-up__right{width:100%;padding:0 1.5em}
}
#cv-document .two-up__right-item{margin-bottom:3.2em}
#cv-document .h1,#cv-document .h2,#cv-document .h3,#cv-document .h4,#cv-document .h5,#cv-document .h6,#cv-document h1,#cv-document h2,#cv-document h3,#cv-document h4,#cv-document h5,#cv-document h6,#cv-document p{margin:0}
#cv-document .cvo-skillrate-radial::after{font-weight:500}
#cv-document .regular{font-weight:400}
#cv-document .light{font-weight:300}
#cv-document .medium{font-weight:500}
#cv-document .semi-bold{font-weight:600}
#cv-document .bold{font-weight:700}
#cv-document .black{font-weight:900}
#cv-document .italic{font-style:italic}
#cv-document .uppercase{text-transform:uppercase}
#cv-document .capitalize{text-transform:capitalize}
#cv-document .heading{position:relative;align-items:flex-start;display:flex;margin-bottom:.8em}
#cv-document .heading__icon{justify-content:center;align-items:center;display:flex;margin-right:1.6em;border-radius:50%;width:3.2em;height:3.2em}
#cv-document .heading__title{display:inline-block;border-bottom-width:2px;border-bottom-style:solid;width:calc(100% - 5.2em);padding-bottom:.3em}
#cv-document .avatar{position:relative;z-index:5;justify-content:center;align-items:center;display:flex;overflow:hidden;margin:0 auto .4em;border-radius:50%;width:17.8em;height:17.8em;border-width:1.2em;border-style:solid}
#cv-document .avatar img{border-radius:50%;width:14.6em;height:14.6em}
#cv-document .info-main{margin-bottom:2.9em}
#cv-document .info-main__title{margin:0 0 .7em;letter-spacing:1.3px}
#cv-document .info-main__text{position:relative;padding:.5em 0;letter-spacing:.4em}
#cv-document .info-main__text::before{content:"";position:absolute;top:0;right:-3.3em;bottom:0;left:-32.2em}
#cv-document .info-detail__item{align-items:flex-start;display:flex;border-bottom-width:1px;border-bottom-style:dashed;padding:.7em 0}
#cv-document .info-detail__item:last-child{border-bottom:none;padding-bottom:0}
#cv-document .info-detail__item:first-child{padding-top:0}
#cv-document .info-detail__item-icon{position:relative;justify-content:center;align-items:center;display:flex;border-radius:50%;width:3em;height:3em;margin-top:.2em}
#cv-document .info-detail__item-title *{line-height:1.2}
#cv-document .info-detail__item-content{width:calc(100% - 3em);padding-left:1.1em}
#cv-document .skill__item{position:relative;margin-bottom:.4em;padding-left:3em}
#cv-document .skill__item:last-child{margin-bottom:0}
#cv-document .skill__item::before{content:"";position:absolute;top:.7em;left:1.1em;width:.7em;height:.7em;border-radius:50%}
#cv-document .skill-ta__item{position:relative;margin-bottom:.4em;padding-left:3em}
#cv-document .skill-ta__item:last-child{margin-bottom:0}
#cv-document .skill-ta__item::before{content:"";position:absolute;top:.7em;left:1.1em;width:.7em;height:.7em;border-radius:50%}
#cv-document .skill-th__item{position:relative;margin-bottom:.4em;padding-left:3em}
#cv-document .skill-th__item:last-child{margin-bottom:0}
#cv-document .skill-th__item::before{content:"";position:absolute;top:.7em;left:1.1em;width:.7em;height:.7em;border-radius:50%}
#cv-document .cvo-skillrate{display:flex;align-items:center}
#cv-document .cvo-skillrate>span{margin-left:.7em;width:1.2em;height:1.2em;border-radius:50%}
#cv-document .cvo-skillrate-radial{position:relative;width:5.6em;height:5.6em;text-align:center;border-radius:50%}
#cv-document .cvo-skillrate-radial::before{content:"";position:absolute;top:50%;left:50%;transform:translate3d(-50%,-50%,0);display:flex;justify-content:center;align-items:center;height:4.6em;width:4.6em;border-radius:50%}
#cv-document .cvo-skillrate-radial::after{content:"";position:absolute;top:50%;left:50%;transform:translate3d(-50%,-50%,0)}
#cv-document .cvo-skillrate-radial[value="1"]::after{content:"20%"}
#cv-document .cvo-skillrate-radial[value="2"]::after{content:"40%"}
#cv-document .cvo-skillrate-radial[value="3"]::after{content:"60%"}
#cv-document .cvo-skillrate-radial[value="4"]::after{content:"80%"}
#cv-document .cvo-skillrate-radial[value="5"]::after{content:"100%"}
#cv-document .cvo-skillrate-progress{display:flex}
#cv-document .cvo-skillrate-progress>span{position:relative;display:flex;width:20%;max-width:4.8em;height:.6em}
#cv-document .cvo-skillrate-progress>span:first-child{border-radius:99.9em 0 0 99.9em}
#cv-document .cvo-skillrate-progress>span:last-child{border-radius:0 99.9em 99.9em 0}
#cv-document .cvo-skillrate-progress>span::after,#cv-document .cvo-skillrate-progress>span::before{content:"";position:absolute;z-index:1}
#cv-document .cvo-skillrate-progress>span::before{top:-1px;left:-1px;right:-1px;bottom:-1px;box-sizing:content-box;border-width:1px;border-style:solid;border-radius:0 99.9em 99.9em 0}
#cv-document .cvo-skillrate-progress>span::after{display:none;top:50%;right:0;transform:translate3d(0,-50%,0);width:1.2em;height:1.2em;border-radius:50%}
.xicon{display:inline-block;width:5.2em;height:5em;background-repeat:no-repeat;background-size:auto!important;background-position:center;vertical-align:middle}
#cv-document .action__item{position:relative;margin-bottom:1.2em;padding-bottom:.2em;padding-left:3.5em}
#cv-document .action__item::before{content:"";position:absolute;top:.4em;left:.7em;border-width:1px;border-style:solid;border-radius:50%;width:1.5em;height:1.5em;padding:.2em;background-clip:content-box}
#cv-document .action__item::after{content:"";position:absolute;top:2.4em;bottom:0;left:1.4em;width:1px}
#cv-document .action__item:last-child{margin-bottom:0;padding-bottom:0}
#cv-document .action__item-date{border-bottom-width:1px;border-bottom-style:dashed;margin-bottom:.8em;padding-bottom:.4em}
#cv-document .action__item-title{margin-bottom:.5em}
#cv-document .action__item-pos{margin-bottom:.3em}
#cv-document .certification__item{position:relative;margin-bottom:.4em;padding-left:3em}
#cv-document .certification__item:last-child{margin-bottom:0}
#cv-document .certification__item::before{content:"";position:absolute;top:.7em;left:1.1em;width:.7em;height:.7em;border-radius:50%}
#cv-document .certification__item-title{margin-bottom:.2em}
#cv-document .education__item{position:relative;margin-bottom:1.2em;padding-bottom:.2em;padding-left:3.5em}
#cv-document .education__item::before{content:"";position:absolute;top:.4em;left:.7em;border-width:1px;border-style:solid;border-radius:50%;width:1.5em;height:1.5em;padding:.2em;background-clip:content-box}
#cv-document .education__item::after{content:"";position:absolute;top:2.4em;bottom:0;left:1.4em;width:1px}
#cv-document .education__item:last-child{margin-bottom:0;padding-bottom:0}
#cv-document .education__item-date{border-bottom-width:1px;border-bottom-style:dashed;margin-bottom:.8em;padding-bottom:.4em}
#cv-document .education__item-title{margin-bottom:.5em}
#cv-document .education__item-pos{margin-bottom:.3em}
#cv-document .experience__item{position:relative;margin-bottom:1.2em;padding-bottom:.2em;padding-left:3.5em}
#cv-document .experience__item::before{content:"";position:absolute;top:.4em;left:.7em;border-width:1px;border-style:solid;border-radius:50%;width:1.5em;height:1.5em;padding:.2em;background-clip:content-box}
#cv-document .experience__item::after{content:"";position:absolute;top:2.4em;bottom:0;left:1.4em;width:1px}
#cv-document .experience__item:last-child{margin-bottom:0;padding-bottom:0}
#cv-document .experience__item-date{border-bottom-width:1px;border-bottom-style:dashed;margin-bottom:.8em;padding-bottom:.4em}
#cv-document .experience__item-pos{margin-bottom:.5em}
#cv-document .hobby__item{position:relative;margin-bottom:.4em;padding-left:3em}
#cv-document .hobby__item:last-child{margin-bottom:0}
#cv-document .hobby__item::before{content:"";position:absolute;top:.7em;left:1.1em;width:.7em;height:.7em;border-radius:50%}
#cv-document .references__item{position:relative;margin-bottom:.4em;padding-left:3em}
#cv-document .references__item:last-child{margin-bottom:0}
#cv-document .references__item::before{content:"";position:absolute;top:.7em;left:1.1em;width:.7em;height:.7em;border-radius:50%}
#cv-document .target{position:relative;border-width:1px;border-style:dashed;padding:.8em 1.5em 1.3em}
#cv-document .target::after{content:"";position:absolute;right:.6em;bottom:-1em;z-index:1;width:3.5em;height:3em;background-repeat:no-repeat;background-size:contain}
#cv-document .project__item{margin-bottom:2em;margin-left:1.6em}
#cv-document .project__item:last-child{margin-bottom:0}
#cv-document .project__item-head{margin-top:.9em;margin-bottom:1.5em}
#cv-document .project__item-time{position:relative;margin-bottom:.4em;padding-left:2em}
#cv-document .project__item-time::before{content:"";position:absolute;top:.7em;left:0;border-radius:50%;width:.7em;height:.7em}
#cv-document .project__item-table{width:100%;border-collapse:collapse;position: relative;}
#cv-document .project__item-table::after{content: '';position: absolute;top: 0;right: 0;left: 0;bottom: 0;border: 1px solid #777;pointer-events:none;}
#cv-document .project__item-table .tr{display:flex}
#cv-document .project__item-table .td,#cv-document .project__item-table .th{border-width:1px 1px 0 1px;border-style:dashed;padding:.8em .9em;vertical-align:top}
#cv-document .project__item-table .th{border-right:none;border-left: none;width:26.5%}
#cv-document .project__item-table .td{border-right: none;width:73.5%}
#cv-document .project__item-table .tr:first-child .td,#cv-document .project__item-table .tr:first-child .th{border-top: none}
#cv-document .project__item-table .tr:last-child .td,#cv-document .project__item-table .tr:last-child .th{border-bottom-width:1px;border-bottom: none}
#cv-document .project__item-table .p{line-height:1.35}
#cv-document .more__item{position:relative;margin-bottom:.4em;padding-left:3em}
#cv-document .more__item:last-child{margin-bottom:0}
#cv-document .more__item::before{content:"";position:absolute;top:.7em;left:1.1em;width:.7em;height:.7em;border-radius:50%}
.advantage__item{position:relative;margin-bottom:.4em;padding-left:3em}
.advantage__item:last-child{margin-bottom:0}
.advantage__item::before{content:"";position:absolute;top:.7em;left:1.1em;width:.7em;height:.7em;border-radius:50%}
.award__item{position:relative;margin-bottom:.4em;padding-left:3em}
.award__item:last-child{margin-bottom:0}
.award__item::before{content:"";position:absolute;top:.7em;left:1.1em;width:.7em;height:.7em;border-radius:50%}
.award__item-title{margin-bottom:.2em}
#cv-document .cletter{border-width:1px;border-style:dashed;border-radius:0 1.5em 1.5em 1.5em;margin-top:1.3em;margin-left:1.6em;padding:.6em 1.5em 1.1em}
#cv-document .cletter br{content:"";display:block;margin-top:.2857142857em}
#cv-document [contentEditable] *{font-size:1em!important}
[contenteditable]:focus{outline:1pt dashed #77a5cc!important;cursor:text}
[contentEditable=true]:empty{outline:1pt dashed #fc4b08!important}
[contenteditable=true]:empty:before{content:attr(placeholder)!important}
#cv-document span.x_add.fa.fa-plus-circle,#cv-document span.x_del.fa.fa-remove{width:70px!important}
#cv-document .height-curent>[data-x-name=group-item]{padding-bottom:3em}
.template-special .x_hide{display:block}