body.page-preview,body.page-view,body.page-viewdemo{background:url(/images3/bg-cv/3.jpg) no-repeat;background-size:cover;background-attachment:fixed}
body.page-preview .xbgcv.xbgcv1{position:fixed;z-index:99;right:0;bottom:0;width:150px;height:150px;background:url(/images3/bg-cv/7.2.png) no-repeat;background-size:cover}
#cv-document{font-size:10px}
#cv-document *{box-sizing:border-box}
#cv-document #cv-watermark a:after{content:"Joboko.com"}
#cv-document .page:last-child #cv-watermark{position:absolute;right:1em;bottom:2em}
#cv-document .relative{position:relative;z-index:5}
#cv-document .inline-block{display:inline-block}
#cv-document .inline{display:inline}
#cv-document .flex-column{flex-direction:column;display:flex;height:100%}
#cv-document [data-x-name=item]{width:100%}
#cv-document .no-outline{outline:0}
#cv-document .no-outline:hover{box-shadow:none;outline:0}
#cv-document .mt-auto{margin-top:auto}
#cv-document .content{position:relative;margin-bottom:4em}
#cv-document .heading{position:relative;margin-bottom:2em;border-bottom-width:.2em;border-bottom-style:solid;padding-bottom:1em}
#cv-document .datetime{margin-bottom:1.3em}
#cv-document .page{position:relative}
#cv-document .page::after{content:"";position:absolute;top:0;right:0;bottom:0;width:35em}
@media screen and (max-width:767px){
#cv-document .page::after{content:none}
}
#cv-document .page:first-child::after{top:20.2em;border-radius:5em 5em 0 0}
#cv-document .page__inner{padding:4.5em 0 0}
#cv-document .full-width{position:relative;z-index:5;flex-wrap:wrap;align-items:flex-start;display:flex}
@media screen and (max-width:767px){
#cv-document .full-width{flex-direction:column-reverse;margin-bottom:3em}
}
#cv-document .full-width__left{width:calc(100% - 35em);padding:0 0 0 4em}
@media screen and (max-width:767px){
#cv-document .full-width__left{width:100%;padding:0 2em}
}
#cv-document .full-width__right{width:35em;padding:0 2em 0 2.3em}
@media screen and (max-width:767px){
#cv-document .full-width__right{width:100%;padding:0 2em}
}
#cv-document .two-up{position:relative;z-index:5;flex-wrap:wrap;display:flex}
@media screen and (max-width:767px){
#cv-document .two-up{flex-direction:column-reverse}
}
#cv-document .two-up__left{width:calc(100% - 35em);padding:.3em 3em 0 4em}
@media screen and (max-width:767px){
#cv-document .two-up__left{width:100%;padding:0 2em}
}
#cv-document .two-up__right{width:35em;padding:0 3.5em}
@media screen and (max-width:767px){
#cv-document .two-up__right{width:100%;padding:0 2em}
}
#cv-document .h1,#cv-document .h2,#cv-document .h3,#cv-document .h4,#cv-document .h5,#cv-document .h6,#cv-document h1,#cv-document h2,#cv-document h3,#cv-document h4,#cv-document h5,#cv-document h6,#cv-document p{margin:0}
#cv-document .regular{font-weight:400}
#cv-document .light{font-weight:300}
#cv-document .medium{font-weight:500}
#cv-document .semi-bold{font-weight:600}
#cv-document .bold{font-weight:700}
#cv-document .black{font-weight:900}
#cv-document .italic{font-style:italic}
#cv-document .uppercase{text-transform:uppercase}
#cv-document .avatar{position:relative;z-index:2;justify-content:center;display:flex;overflow:hidden;margin:-4.5em auto -13.2em;border-radius:0 0 13.5em 13.5em;width:28em;height:33.4em}
@media screen and (max-width:767px){
#cv-document .avatar{margin-bottom:1em}
}
#cv-document .avatar img{border-radius:0 0 25em 25em;width:25.6em;height:32em}
#cv-document .info-main{margin-top:.8em;border-radius:5em 0 5em 5em;padding:.7em 1.8em 1.8em;text-align:center}
#cv-document .info-detail{position:relative;margin-top:15em;margin-bottom:3em}
@media screen and (max-width:767px){
#cv-document .info-detail{margin-top:0}
}
#cv-document .info-detail__item{position:relative;align-items:center;display:flex;margin-bottom:-.5em}
#cv-document .info-detail__item:last-child{margin-bottom:0}
#cv-document .info-detail__item:nth-child(1){z-index:3}
#cv-document .info-detail__item:nth-child(2){z-index:2}
#cv-document .info-detail__item:nth-child(3){z-index:1}
#cv-document .info-detail__item-title{padding:.5em 0}
#cv-document .info-detail__item-icon{position:relative;flex-shrink:0;justify-content:center;align-items:center;align-self:flex-start;display:flex;margin-right:1.7em;box-shadow:0 .5em .5em rgba(0,0,0,.1);border-width:.3em;border-style:solid;border-radius:50%;width:3.8em;height:3.8em;text-align:center}
#cv-document [contentEditable] *{font-size:1em!important}
[contenteditable]:focus{outline:1pt dashed #77a5cc!important;cursor:text}
[contentEditable=true]:empty{outline:1pt dashed #fc4b08!important}
[contenteditable=true]:empty:before{content:attr(placeholder)!important}
#cv-document span.x_add.fa.fa-plus-circle,#cv-document span.x_del.fa.fa-remove{width:70px!important}
#cv-document .datetime{
 display:none;
}