body.page-preview,body.page-view,body.page-viewdemo{background:url(/images3/bg-cv/3.jpg) no-repeat;background-size:cover;background-attachment:fixed}
body.page-preview .xbgcv.xbgcv1{position:fixed;z-index:99;right:0;bottom:0;width:150px;height:150px;background:url(/images3/bg-cv/7.2.png) no-repeat;background-size:cover}
#cv-document{font-size:10px}
#cv-document *{box-sizing:border-box}
#cv-document #cv-watermark a:after{content:"Joboko.com"}
#cv-document .page:last-child #cv-watermark{position:absolute;right:1em;bottom:2em}
#cv-document .relative{position:relative;z-index:5}
#cv-document .inline-block{display:inline-block}
#cv-document .inline{display:inline}
#cv-document .flex-column{flex-direction:column;display:flex;height:100%}
#cv-document [data-x-name=item]{width:100%}
#cv-document .no-outline{outline:0}
#cv-document .no-outline:hover{box-shadow:none;outline:0}
#cv-document .mt-auto{margin-top:auto}
#cv-document .content{position:relative;margin-bottom:3em}
#cv-document .heading{position:relative;margin-bottom:3em;padding:1px;text-align:right}
@media screen and (max-width:767px){
#cv-document .heading{padding:0 0 0 2em;text-align:left}
}
#cv-document .heading::after{content:"";position:absolute;top:.5em;right:-3.2em;bottom:.6em;width:.6em}
@media screen and (max-width:767px){
#cv-document .heading::after{right:auto;left:0}
}
#cv-document .datetime{margin-bottom:14px}
#cv-document .job-position{margin-top:.2631578947em}
#cv-document .page__inner{padding:5em 0 0}
@media screen and (max-width:767px){
#cv-document .page__inner{overflow:hidden}
}
#cv-document .two-up{flex-wrap:wrap;display:flex}
#cv-document .two-up__left{width:24em;padding:0 3.2em 0 2.5em}
@media screen and (max-width:767px){
#cv-document .two-up__left{padding:0 2em;width:100%}
}
#cv-document .two-up__right{width:calc(100% - 24em);padding:0 4.3em 0 3.2em}
@media screen and (max-width:767px){
#cv-document .two-up__right{padding:0 2em;width:100%}
}
#cv-document .full-width{position:relative;display:flex;margin:0 4.6em 4em 2.6em;border-width:1px;border-style:solid;padding:.9em 2.3em 1em 3em}
@media screen and (max-width:767px){
#cv-document .full-width{flex-wrap:wrap;margin-right:2em;margin-left:2em}
}
#cv-document .full-width::before{content:"";position:absolute;top:-8px;right:-10px;bottom:-8px;left:-10px;border-width:.3em;border-style:dashed;pointer-events:none}
#cv-document .full-width__left{flex-shrink:0}
@media screen and (max-width:767px){
#cv-document .full-width__left{width:100%}
}
#cv-document .full-width__right{flex-grow:1}
@media screen and (max-width:767px){
#cv-document .full-width__right{width:100%;text-align:center}
}
#cv-document .h1,#cv-document .h2,#cv-document .h3,#cv-document .h4,#cv-document .h5,#cv-document .h6,#cv-document h1,#cv-document h2,#cv-document h3,#cv-document h4,#cv-document h5,#cv-document h6,#cv-document p{margin:0}
#cv-document .regular{font-weight:400}
#cv-document .light{font-weight:300}
#cv-document .medium{font-weight:500}
#cv-document .bold{font-weight:700}
#cv-document .black{font-weight:900}
#cv-document .italic{font-style:italic}
#cv-document .uppercase{text-transform:uppercase}
#cv-document .avatar{position:relative;z-index:2;justify-content:center;align-items:center;display:flex;overflow:hidden;margin-right:6.1em;border-width:.4em;border-style:solid;border-radius:50%;width:13.8em;height:13.8em}
@media screen and (max-width:767px){
#cv-document .avatar{margin:0 auto 1em}
}
#cv-document .avatar img{border-radius:50%;width:12em;height:12em}
#cv-document .info-main{position:relative;display:inline-block;margin-bottom:.6em;width:auto;padding:.8em 2em .5em}
@media screen and (max-width:767px){
#cv-document .info-main{margin-right:auto;margin-left:auto;text-align:center}
}
#cv-document .info-main::after,#cv-document .info-main::before{position:absolute;z-index:1;top:50%;transform:translate3d(0,-50%,0);font-weight:300}
#cv-document .info-main::before{content:"{";left:0}
#cv-document .info-main::after{content:"}";right:0}
#cv-document .info-main__title{margin:0 0 .4em}
#cv-document .info-detail{flex-wrap:wrap;display:flex}
@media screen and (max-width:767px){
#cv-document .info-detail{text-align:left}
}
#cv-document .info-detail__item{display:flex;margin-bottom:.5em;width:50%}
@media screen and (max-width:575px){
#cv-document .info-detail__item{width:100%}
}
@media screen and (min-width:767px){
#cv-document .info-detail__item:nth-last-child(-n+2){margin-bottom:0}
}
@media print and (min-width:767px){
#cv-document .info-detail__item:nth-last-child(-n+2){margin-bottom:0}
}
@media print and (min-width:767px){
#cv-document .info-detail__item:nth-last-child(-n+2){margin-bottom:0}
}
#cv-document .info-detail__item:last-child{margin-bottom:0}
@media screen and (min-width:576px){
#cv-document .info-detail__item:nth-child(even){margin-left:auto;width:45%}
}
@media print and (min-width:576px){
#cv-document .info-detail__item:nth-child(even){margin-left:auto;width:45%}
}
@media print and (min-width:576px){
#cv-document .info-detail__item:nth-child(even){margin-left:auto;width:45%}
}
#cv-document .info-detail__item-icon{position:relative;margin-right:.7em;min-width:1.4em;text-align:center}
#cv-document [contentEditable] *{font-size:1em!important}
[contenteditable]:focus{outline:1pt dashed #77a5cc!important;cursor:text}
[contentEditable=true]:empty{outline:1pt dashed #fc4b08!important}
[contenteditable=true]:empty:before{content:attr(placeholder)!important}
#cv-document span.x_add.fa.fa-plus-circle,#cv-document span.x_del.fa.fa-remove{width:70px!important}
#cv-document .datetime{
 display:none;
}