.top1 { background-image: url('/MyCV/templates/73/images/img83.png'); background-repeat: no-repeat;border-bottom: 1px solid #d2d8a06b;}
.page:first-child .vbox1 {background: #f4f1d0 url('/MyCV/templates/73/images/bg-avar3.jpg') 0px -60px no-repeat;}
.page .vbox1 {background: #f4f1d0;}
.bot1 {height: 100%; background-image: url('/MyCV/templates/73/images/img63.png'); background-repeat: no-repeat;}