body.page-preview,body.page-view,body.page-viewdemo{background:url(/images3/bg-cv/3.jpg) no-repeat;background-size:cover;background-attachment:fixed}
body.page-preview .xbgcv.xbgcv1{position:fixed;width:150px;height:150px;background:url(/images3/bg-cv/7.2.png) no-repeat;background-size:cover;right:0;bottom:0;z-index:99}
#cv-document{font-size:10px}
#cv-document *{box-sizing:border-box}
#cv-document #cv-watermark a:after{content:"Joboko.com"}
#cv-document .page:last-child #cv-watermark{position:absolute;bottom:2em;right:1.75em}
#cv-document .relative{position:relative}
#cv-document .inline-block{display:inline-block}
#cv-document .education__item-text, #cv-document .experience__item-text, #cv-document .action__item-text, #cv-document .target, #cv-document .more, #cv-document .cletter {
    line-height: 24px
}
#cv-document .page--background{position:relative;background:linear-gradient(to left,#ebeae9 1px,transparent 0),linear-gradient(to bottom,#ebeae9 1px,transparent 0),#fff;background-size:1.5em 1.5em;color:#292929}
#cv-document .page__inner{padding:3em 3.5em 0 2.2em}
@media screen and (max-width:575px){
#cv-document .page__inner{padding-right:2em;padding-left:2em}
}
#cv-document .two-up{display:flex}
@media screen and (max-width:575px){
#cv-document .two-up{display:block}
}
#cv-document .two-up__left{flex-shrink:0;width:22.4em}
@media screen and (max-width:575px){
#cv-document .two-up__left{width:100%}
}
#cv-document .two-up__left-item{padding-bottom:2.6em}
#cv-document .two-up__right{flex-grow:1}
@media screen and (max-width:575px){
#cv-document .two-up__right{width:100%}
}
#cv-document .two-up__right--spacing{padding:0 0 0 3.8em}
@media screen and (max-width:575px){
#cv-document .two-up__right--spacing{padding:0}
}
#cv-document .two-up__right-item{margin-bottom:2.6em}
#cv-document .full-width{flex-wrap:wrap;align-items:center;display:flex;overflow:hidden;margin-top:-3em;margin-bottom:2.6em;border-bottom-width:.2em;border-bottom-style:dotted;padding:3em 0 2.6em}
#cv-document .full-width::before{content:"";position:absolute;top:0;right:0;left:0;height:1.6em}
#cv-document .full-width__left{width:60%}
@media screen and (max-width:575px){
#cv-document .full-width__left{margin-bottom:1.4em;width:100%}
}
#cv-document .full-width__right{width:40%}
@media screen and (max-width:575px){
#cv-document .full-width__right{width:100%}
}
#cv-document .full-width__group{align-items:center;display:flex}
#cv-document .h1,#cv-document .h3,#cv-document .uppercase{text-transform:uppercase}
#cv-document .h1,#cv-document .h2,#cv-document .h3,#cv-document h1,#cv-document h2,#cv-document h3,#cv-document p{margin:0}
#cv-document .cvo-skillrate--radial::after{font-weight:500}
#cv-document .regular{font-weight:400}
#cv-document .light{font-weight:300}
#cv-document .medium{font-weight:500}
#cv-document .bold{font-weight:700}
#cv-document .black{font-weight:900}
#cv-document .heading{margin-bottom:1.1em}
#cv-document .heading-02{position:relative;align-items:center;display:flex;margin-bottom:1.1em;padding:.5em 1.5em .5em .6em}
#cv-document .heading-02__icon{position:relative;z-index:2;flex-shrink:0;justify-content:center;align-items:center;display:flex;margin-right:.8em;border-radius:50%;width:3.2em;height:3.2em}
#cv-document .heading-02__title{flex-grow:1;padding:.6em 0 .5em}
#cv-document .heading-03{position:relative;display:flex;overflow:hidden;padding-bottom:.6em}
#cv-document .heading-03--max-width{max-width:19em}
#cv-document .heading-03__main{position:relative;flex-shrink:0;align-items:center;display:flex;min-width:19em;padding:.5em 1.5em .5em .6em}
#cv-document .heading-03__icon{position:relative;z-index:2;flex-shrink:0;justify-content:center;align-items:center;display:flex;margin-right:.8em;border-radius:50%;width:3.2em;height:3.2em}
#cv-document .heading-03__title{flex-grow:1;padding:.6em 0 .5em}
#cv-document .heading-03__line{position:relative;flex-grow:1;margin-left:.6em}
#cv-document .heading-03__line>span:first-of-type{position:absolute;right:0;bottom:-.6em;left:0;overflow:hidden;height:calc(50% + .6em)}
#cv-document .heading-03__line>span:first-of-type::before{content:"";position:absolute;top:0;right:0;bottom:0;left:0;border-width:1px 1px 0 0;border-style:solid;border-radius:0 1.7em 0 0}
#cv-document .heading-03__line>span:last-of-type{position:absolute;right:calc(100% - 1px);bottom:-.6em;overflow:hidden;width:100vw;height:calc(50% + .6em)}
#cv-document .heading-03__line>span:last-of-type::before{content:"";position:absolute;top:0;right:0;bottom:0;left:0;border-width:0 1px 1px 0;border-style:solid;border-radius:0 0 2.7em 0}
#cv-document .title-rounded{position:relative}
#cv-document .title-rounded::before{content:"";position:absolute;z-index:1;right:2em;bottom:0;left:2em;height:.2em;pointer-events:none}
#cv-document .title-rounded>span{pointer-events:none}
#cv-document .title-rounded>span:first-of-type{position:absolute;top:0;bottom:0;left:0;overflow:hidden;width:2em}
#cv-document .title-rounded>span:first-of-type::before{content:"";position:absolute;z-index:1;top:0;bottom:0;left:0;border-width:.2em;border-style:solid;border-radius:2em;width:100vw}
#cv-document .title-rounded>span:last-of-type{position:absolute;top:0;right:0;bottom:0;left:4.5em;overflow:hidden}
#cv-document .title-rounded>span:last-of-type::before{content:"";position:absolute;z-index:1;top:0;right:0;bottom:0;border-width:.2em;border-style:solid;border-radius:2em;width:100vw}
#cv-document .content{position:relative;border-width:0 1px 1px 1px;border-style:solid;border-radius:0 0 1.7em 0;padding:1.3em 1.6em}
#cv-document .content>span{position:absolute;z-index:2;bottom:-1px;left:-2.2em;overflow:hidden;border-bottom-width:1px;border-bottom-style:solid;width:2.2em;height:2.2em}
#cv-document .content>span::before{content:"";position:absolute;top:.6em;left:.6em;transform:rotate(45deg);border-width:1px;border-style:solid;width:3.2em;height:3.2em}
#cv-document .action__item{margin-bottom:1.8em}
#cv-document .action__item:last-child{margin-bottom:0}
#cv-document .action__item-title{position:relative;margin-bottom:.3em}
#cv-document .action__item-wrap{justify-content:space-between;display:flex;margin-bottom:.8em}
#cv-document .action__item-tagline{margin-right:1em}
#cv-document .action__item-text{padding-left:.4375em}
#cv-document .avatar{position:relative;z-index:2;flex-shrink:0;justify-content:center;align-items:center;display:flex;overflow:hidden;margin-right:1.4em;border-width:.3em;border-style:solid;border-radius:50%;width:11.3em;height:11.3em}
#cv-document .avatar img{border-radius:50%;width:9.8em;height:9.8em}
#cv-document .cvo-skillrate-bar{flex-shrink:0}
#cv-document .cvo-skillrate{align-items:center;display:flex;margin-top:.5em}
#cv-document .cvo-skillrate>span{margin-right:.7em;border-width:1px;border-style:solid;border-radius:50%;width:1em;height:1em}
#cv-document .cvo-skillrate-progress{margin-top:.7em}
#cv-document .cvo-skillrate-progress[value="2"]>span::before{width:40%}
#cv-document .cvo-skillrate-progress[value="2"]>span::after{left:35%}
#cv-document .cvo-skillrate-progress[value="3"]>span::before{width:60%}
#cv-document .cvo-skillrate-progress[value="3"]>span::after{left:55%}
#cv-document .cvo-skillrate-progress[value="4"]>span::before{width:80%}
#cv-document .cvo-skillrate-progress[value="4"]>span::after{left:75%}
#cv-document .cvo-skillrate-progress[value="5"]>span::before{width:100%}
#cv-document .cvo-skillrate-progress[value="5"]>span::after{left:95%}
#cv-document .cvo-skillrate-progress>span{position:relative;display:flex;border-width:1px;border-style:solid;border-radius:99.9em;height:.9em}
#cv-document .cvo-skillrate-progress>span::before{content:"";display:inline-block;border-radius:99.9em;width:20%}
#cv-document .cvo-skillrate-progress>span::after{content:"";position:absolute;z-index:1;top:50%;left:15%;transform:translate3d(0,-50%,0);border-width:1px;border-style:solid;border-radius:.6em;width:1.2em;height:2.5em}
#cv-document .education__item{align-items:flex-start;display:flex;margin-bottom:1.8em}
#cv-document .education__item:last-child{margin-bottom:0}
#cv-document .education__item-date{flex-shrink:0;margin-right:1.3em;border-radius:.6em;min-width:12.2em;padding:.2em;text-align:center}
#cv-document .education__item-content{position:relative;flex-grow:1}
#cv-document .education__item-title{margin-top:.3em;margin-bottom:.4em}
#cv-document .experience__item{margin-bottom:1.8em}
#cv-document .experience__item:last-child{margin-bottom:0}
#cv-document .experience__item-title{margin-bottom:.5em}
#cv-document .experience__item-wrap{justify-content:space-between;display:flex;margin-bottom:.8em}
#cv-document .experience__item-date{flex-shrink:0;margin-left:1em}
/*#cv-document .experience__item-text br{content:"";display:block;margin-top:.625em}*/
#cv-document .hobby{flex-wrap:wrap;justify-content:space-between;display:flex}
#cv-document .hobby__item{position:relative;margin-top:.3em;margin-bottom:.4em;width:38%;text-align:center}
#cv-document .hobby__item:nth-last-child(-n+2){margin-bottom:0}
#cv-document .hobby__item:nth-child(even){margin-left:auto}
#cv-document .hobby__item-icon{justify-content:center;align-items:center;display:flex;margin:0 auto .3em;border-width:1px;border-style:solid;border-radius:50%;width:8em;height:8em}
#cv-document .info-detail{position:relative}
#cv-document .info-detail::before{content:"";position:absolute;right:0;bottom:0;width:2.8em;height:99.9em}
#cv-document .info-detail::after{content:"";position:absolute;top:94%;right:0;border-width:1.4em;border-style:solid;width:0;height:0;pointer-events:none}
#cv-document .info-detail__item{justify-content:flex-end;display:flex;margin-top:.6em;text-align:right}
#cv-document .info-detail__item-icon{position:relative;z-index:2;flex-shrink:0;margin-left:1.4em;min-width:2.8em;text-align:center}
#cv-document .info-main{position:relative;z-index:5}
#cv-document .info-main__item{margin:0 0 .4em}
#cv-document .info-main__item:last-child{margin-bottom:0}
#cv-document .skill__item{margin-bottom:1em}
#cv-document .skill__item:last-child{margin-bottom:0;border-bottom:none;padding-bottom:0}
#cv-document .skill__item-title{margin-bottom:5px}
#cv-document .skill-ta__item{position:relative;margin-bottom:1.2em;padding-left:3.5em}
#cv-document .skill-ta__item::before{content:"";position:absolute;top:.8em;left:.8em;border-radius:50%;width:1em;height:1em}
#cv-document .skill-ta__item:last-child{margin-bottom:0}
#cv-document .target{margin-top:2.1em;border-width:1px;border-style:solid;border-radius:1.7em 0 1.7em 1.7em;padding:1.6em .5em 2.9em 1em}
#cv-document .target>span{position:absolute;z-index:2;top:-2.1em;right:0;overflow:hidden;border-right-width:1px;border-right-style:solid;width:2.2em;height:2.2em}
#cv-document .target>span::before{content:"";position:absolute;top:.6em;left:.6em;transform:rotate(45deg);border-width:1px;border-style:solid;width:3.2em;height:3.2em}
/*#cv-document .target__content br{content:"";display:block;margin-top:.6em}*/
.xicon{display:inline-block;width:3.6em;height:3.4em;background-repeat:no-repeat;background-size:auto!important;background-position:center;vertical-align:middle}
#cv-document .certification__item{margin-bottom:.7em}
#cv-document .certification__item:last-child{margin-bottom:0}
#cv-document .cletter{padding:1.7em 2.3em 3em}
#cv-document .cletter>div{line-height:1.47}
/*#cv-document .cletter br{content:"";display:block;margin-top:.9333333333em}*/
#cv-document .project__item{margin-bottom:2em}
#cv-document .project__item:last-child{margin-bottom:0}
#cv-document .project__item-head{flex-wrap:wrap;display:flex;margin-top:.4em;margin-bottom:.8em}
#cv-document .project__item-title{position:relative;margin-right:1.7em;padding:0 1.9em 0 0}
#cv-document .project__item-title::before{top:.8em;left:.2em}
#cv-document .project__item-title::after{content:"";position:absolute;top:2px;right:0;bottom:2px;width:1px}
#cv-document .project__item-time{flex-shrink:0}
#cv-document .project__item-table{position:relative;width:100%;border-collapse:collapse}
#cv-document .project__item-table::after{content:"";position:absolute;top:0;right:0;bottom:0;left:0;border-width:1px;border-style:solid;pointer-events:none}
#cv-document .project__item-table .tr{display:flex}
#cv-document .project__item-table .td,#cv-document .project__item-table .th{border-width:1px 1px 0 1px;border-style:dashed;padding:.9em 1.3em;vertical-align:top}
#cv-document .project__item-table .th{border-right:none;border-left:none;width:32%}
#cv-document .project__item-table .td{border-right:none;border-left:none;width:68%;padding-left:1.8em}
#cv-document .project__item-table .tr:first-child .td,#cv-document .project__item-table .tr:first-child .th{border-top:none}
#cv-document .project__item-table .tr:last-child .td,#cv-document .project__item-table .tr:last-child .th{border-bottom:none}
#cv-document [contentEditable] *{font-size:1em!important}
[contenteditable]:focus{outline:1pt dashed #77a5cc!important;cursor:text}
[contentEditable=true]:empty{outline:1pt dashed #fc4b08!important}
[contenteditable=true]:empty:before{content:attr(placeholder)!important}
#list-icon .card{font-size:10px!important;text-align:center!important}
#cv-document span.x_add.fa.fa-plus-circle,#cv-document span.x_del.fa.fa-remove{width:70px!important}

.template-special .x_hide{display: flex !important;}

#cv-document .inline {display:inline;min-width: 1em;}
#cv-document .inline:empty {display:inline-block}

.references__item{
    margin-bottom: 1em;
}
#cv-document .icon-exp {display:inline-block;width:15px;height:12px;background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.54 12.11'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23f0f0f1;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpath class='cls-1' d='M9.08,2.73a.61.61,0,0,1-.6-.61V1.21H6.06v.91a.62.62,0,0,1-.61.61.61.61,0,0,1-.6-.61V1.21A1.21,1.21,0,0,1,6.06,0H8.48A1.21,1.21,0,0,1,9.69,1.21v.91A.61.61,0,0,1,9.08,2.73Z'/%3E%3Cpath class='cls-1' d='M7.7,8.1a1.1,1.1,0,0,1-.43.08,1.23,1.23,0,0,1-.47-.09L0,5.83v4.62a1.66,1.66,0,0,0,1.67,1.66h11.2a1.66,1.66,0,0,0,1.67-1.66V5.83Z'/%3E%3Cpath class='cls-1' d='M14.54,3.48V4.87L7.41,7.24a.35.35,0,0,1-.14,0l-.15,0L0,4.87V3.48A1.66,1.66,0,0,1,1.67,1.82h11.2A1.66,1.66,0,0,1,14.54,3.48Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center / contain;}
#cv-document .icon-award {display:inline-block;width: 14px;height: 18px;background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.11 17.72'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23f0f0f1;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpath class='cls-1' d='M0,14.22V1S0,1,0,1a1.21,1.21,0,0,1,1.3-1h9.56a1.21,1.21,0,0,1,1.3,1.3V6.79l-.14,0a4.13,4.13,0,0,0-1.68-.07,4.18,4.18,0,0,0-2.94,6.08.54.54,0,0,1,0,.22v2.23H1.17A1.44,1.44,0,0,1,.52,15,1.2,1.2,0,0,1,0,14.22ZM5.66,3.88H8a.61.61,0,0,0,.48-.2.53.53,0,0,0,.07-.59A.54.54,0,0,0,8,2.77H3.4a.56.56,0,1,0,0,1.11Zm0,1.1H3.39a.56.56,0,1,0,0,1.11H8A.56.56,0,1,0,8,5Zm-1,3.33H6a.57.57,0,0,0,.62-.55A.56.56,0,0,0,6,7.2H3.38a.56.56,0,0,0-.61.56.57.57,0,0,0,.62.55Z'/%3E%3Cpath class='cls-1' d='M9,17.72A.7.7,0,0,1,8.57,17c0-.88,0-1.76,0-2.65v-.2a4.22,4.22,0,0,0,5,0v.19c0,.88,0,1.77,0,2.66a.67.67,0,0,1-.42.73h-.27l-1.66-.95a.24.24,0,0,0-.28,0l-1.66.95Z'/%3E%3Cpath class='cls-1' d='M14.11,10.79a3,3,0,1,1-3-3A3,3,0,0,1,14.11,10.79Zm-3.47.1-.37-.24a.56.56,0,0,0-.77.15.54.54,0,0,0,.15.76c.28.2.56.39.85.57a.55.55,0,0,0,.75-.15l.27-.4c.28-.43.57-.85.84-1.28a.55.55,0,0,0-.91-.62l-.2.3C11,10.28,10.84,10.58,10.64,10.89Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center / contain;}
#cv-document .icon-pro {display:inline-block;width: 13px;height:13px;background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12.45 12.45'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23f0f0f1;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpath class='cls-1' d='M12.18,5.79l-2-1,2-1a.49.49,0,0,0,0-.87L6.44.05A.47.47,0,0,0,6,.05L.27,2.92a.49.49,0,0,0,0,.87l2,1-2,1a.49.49,0,0,0,0,.87l2,1-2,1a.49.49,0,0,0,0,.87L6,12.4a.54.54,0,0,0,.43,0l5.74-2.87a.49.49,0,0,0,0-.87l-2-1,2-1A.49.49,0,0,0,12.18,5.79ZM6.22,1l4.65,2.32L6.22,5.68,1.57,3.35Zm4.65,8.06L6.22,11.42,1.57,9.09,3.35,8.2,6,9.53a.47.47,0,0,0,.43,0L9.09,8.2ZM6.22,8.55,1.57,6.22l1.78-.89L6,6.66a.47.47,0,0,0,.43,0L9.09,5.33l1.78.89Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center / contain;}
