.cv-main {
    margin: auto;
    padding-top: 35px;
    background: url("/MyCV/templates/1075/images/bg1075-1.jpg");
   
   
    background-size: cover !important;
    word-break: break-word;
}
body.page-preview, body.page-view, body.page-viewdemo {
    background: url(/images3/bg-cv/3.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.head-info {
    padding: 30px 55px 0 75px;
}

#logo-decor {
    padding-bottom: 20px;
    text-align: center;
}

#logo-decor div {
    background: url("/MyCV/templates/1075/images/head.jpg") no-repeat;
    height: 270px;
    width: 310px;
    margin: auto;
}

#head-name {
    font-weight: bold;
    font-size: 60px;
    letter-spacing: 12px;
    display: block;
    text-align: center;
    color: #940f1f;
    /* font-family: 'Cookie', cursive; */
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Dancing Script', cursive;
}

#head-pos {
    text-transform: uppercase;
    color: #595656;
    font-size: 20px;
    display: block;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Source Code Pro', monospace;
}

#head-underline-decor {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#head-underline-decor span:nth-child(2), #head-underline-decor span:nth-child(4) {
    font-size: 10px; 
    padding: 0 5px;
}

#head-underline-decor span:first-child, #head-underline-decor span:nth-child(5) {
    font-size: 8px;
    
}

#head-underline-decor::before {
    content: "";
    position: absolute;
    border-bottom: 2px solid #f09662;
    bottom: 9px;
    left: 145px;
    right: 380px
}

#head-underline-decor::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #f09662;
    bottom: 9px;
    left: 380px;
    right: 145px;
}

/* content */
#cv-document .content {
    padding: 20px 55px 0px 0px;
    display: flex;
}

.col-left {
    width: 55%;
    height: auto;
    padding-right: 50px;
    position: relative;
}

.col-left::after {
    content: "";
    position: absolute;
    border-right: 2px solid #f09662;
    top: 30px;
    right: -2px;
    bottom: 0;
}

.title-head {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    color: #5a1713;
    font-size: 14px;
    font-family: 'Source Code Pro', monospace;
}

#contact .sub-div {
    position: relative;
}

#contact .sub-div::before{
    content: "o";
    position: absolute;
    top: 0;
    left: 0;
}

#contact .sub-div span {
    margin-left: 15px;
    display: block;
}

.col-left [data-x-name="item"] {
    margin-left: 70px;
    padding-top: 20px;
}   

#education [name="edu.name"], .sub-div-head, 
#certifications [name="cer.name"], #activities [name="act.name"], #awards [name="award.name"] {
    text-transform: uppercase;
    display: block;
    color: #951121;
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;

}

#education [name="edu.pos"], #experience [name="exp.pos"], 
#certifications [name="cer.des"], #activities [name="act.pos"], #awards [name="award.des"] {
    font-weight: bold;
    font-style: italic;
}

#education .sub-div {
    padding-bottom: 20px;
}

#certifications .sub-div, #awards .sub-div {
    display: flex;
    padding-bottom: 20px;
}

#certifications .cer-info, #awards .aw-info {
    width: 80%
}

#certifications .milestone, #awards .milestone {
    flex: 1;
    position: absolute;
    right: 0;
}

#skills .sub-div {
    display: flex;
    padding-bottom: 25px;
}

#skills .sub-div [data-x-id="name"] {
    width: 46%;
    text-transform: uppercase;
    color: #951121;
}
.progress-bar {
    background: #595656;
    margin: auto;
    height: 7px;
    width: 100%;
    flex: 1;
}

.progress-core {
    background: #c1bdbe;
    height: 100%;
}

.progress-core[value="1"] {
    width: 20%
}
.progress-core[value="2"] {
    width: 40%
}
.progress-core[value="3"] {
    width: 60%
}
.progress-core[value="4"] {
    width: 80%
}
.progress-core[value="5"] {
    width: 100%
}

/* col-right */
.col-right {
    flex: 1;
    
    margin-left: 40px;
}

.col-right [data-x-name="item"] {
    padding-top: 20px;
}

.col-right .sub-div {
    padding-bottom: 20px;
}

.col-right .sub-div span {
    display: block;
}

.page:last-child #cv-watermark{
	position: absolute;
    display: block !important;
    right: 10px;
    bottom: 10px;
}
#cv-watermark a:after {
    content:'Joboko.com';     
}

#reference .sub-div {
    padding-bottom: 20px;
}

#reference .sub-div span {
    display: inline-block;
}

#experience .sub-div-head span, #activities .sub-div-head span {
    display: inline
}

#experience .sub-div-head .start, #experience .sub-div-head .end,  #activities .sub-div-head .start,
#activities .sub-div-head .end{
    display: inline-block;
}


/* page != 1 */
.cv-main:not([page=1]) {
    padding-top: 0
}

.cv-main:not([page=1]) .col-left .height-curent, .cv-main:not([page=1]) .col-right .height-curent {
    min-height: 1122px;
}

/* RESPONSIVE */

@media screen and (max-width: 1024px) {

}

/* -------------TABLET PORTRAIT--------- */
@media screen and (max-width: 780px) {

}


/* -----------------MOBILE---------------- */
@media screen and (max-width: 680px) {
    .head-info {
        padding: 30px 25px 0 25px;
    }
    .col-left [data-x-name="item"] {
        margin-left: 60px;
    }
   #cv-document .content {
        padding: 20px 30px 50px 0px;
    }
}


@media screen and (max-width: 500px) {
   #cv-document .content {
        display: block;
        padding: 0
    }
    .col-left{
        width: 100%;
    }
    .col-left::after {
        content: none
    }
    
}

@media screen and (max-width: 360px) {
    #logo-decor div {
        display: none;
    }
}

[contentEditable=true]:empty {
    outline: 1pt dashed #fc4b08!important;
}

#cv-document [contenteditable] ul, #cv-document [contenteditable] ol{
    margin-left: 18px
}
#cv-document [contenteditable] ol li {
    list-style: auto;
}
#cv-document [contenteditable] ul li, #cv-document [contenteditable] ol li {
    padding: 0;
}
#cv-document [contenteditable] ul li {
    list-style-type: disc
}
#cv-document [contenteditable] ul li::marker {
    color:#b1b1b1
}
