body.page-preview,body.page-view,body.page-viewdemo{background:url(/images3/bg-cv/3.jpg) no-repeat;background-size:cover;background-attachment:fixed}
body.page-preview .xbgcv.xbgcv1{position:fixed;z-index:99;right:0;bottom:0;width:150px;height:150px;background:url(/images3/bg-cv/7.2.png) no-repeat;background-size:cover}
#cv-document{font-size:10px}
#cv-document *{box-sizing:border-box}
#cv-document #cv-watermark a:after{content:"Joboko.com"}
#cv-document .page:last-child #cv-watermark{position:absolute;right:1em;bottom:2em}
#cv-document .relative{position:relative;z-index:5}
#cv-document .inline-block{display:inline-block}
#cv-document .inline{display:inline}
#cv-document .flex-column{flex-direction:column;display:flex;height:100%}
#cv-document [data-x-name=item]{width:100%}
#cv-document .no-outline{outline:0}
#cv-document .no-outline:hover{box-shadow:none;outline:0}
#cv-document .mt-auto{margin-top:auto}
#cv-document .content{position:relative;margin-bottom:3em}
#cv-document .heading{position:relative;margin-bottom:.8em}
#cv-document .datetime{margin-bottom:2.6em}
#cv-document .page{display:flex}
#cv-document .page__inner{flex-direction:column;flex-wrap:wrap;display:flex;padding:2.5em 5.1em 0 4.3em}
@media screen and (max-width:767px){
#cv-document .page__inner{overflow:hidden;padding-right:2em;padding-left:2em}
}
#cv-document .two-up{position:relative;flex-wrap:wrap;flex-shrink:0;align-items:center;display:flex;overflow:hidden;margin:-2.5em 0 3.9em;border-bottom-width:2px;border-bottom-style:solid;width:100%;padding:5em 0 5em}
#cv-document .two-up__left{width:60%}
@media screen and (max-width:575px){
#cv-document .two-up__left{margin-bottom:2em;width:100%}
}
#cv-document .two-up__right{width:40%}
@media screen and (max-width:575px){
#cv-document .two-up__right{width:100%}
}
#cv-document .two-up__group{align-items:center;display:flex;padding-right:1.5em}
#cv-document .full-width{flex-grow:1;display:flex;width:100%}
#cv-document .text-bottom{position:relative;overflow:hidden;margin:0 -5.1em 3.4em -4.3em;padding:1.3em 5.1em 1.3em 10em;letter-spacing:.7px}
@media screen and (max-width:767px){
#cv-document .text-bottom{margin-right:-2em;margin-left:-2em}
}
#cv-document .text-bottom::after,#cv-document .text-bottom::before{content:"";position:absolute;top:50%;transform:translateY(-50%) rotate(45deg) skew(10deg,10deg);border-style:solid;width:30em;height:30em}
#cv-document .text-bottom::before{left:-25.5em;opacity:.5;border-width:.8em}
#cv-document .text-bottom::after{left:-24.1em;opacity:.2;border-width:1.2em}
#cv-document .h1,#cv-document .h2,#cv-document .h3,#cv-document .h4,#cv-document .h5,#cv-document .h6,#cv-document h1,#cv-document h2,#cv-document h3,#cv-document h4,#cv-document h5,#cv-document h6,#cv-document p{margin:0}
#cv-document .regular{font-weight:400}
#cv-document .light{font-weight:300}
#cv-document .medium{font-weight:500}
#cv-document .bold{font-weight:700}
#cv-document .black{font-weight:900}
#cv-document .italic{font-style:italic}
#cv-document .uppercase{text-transform:uppercase}
#cv-document .avatar{position:relative;z-index:2;flex-shrink:0;display:flex;justify-content:center;align-items:center;margin:0 1.5em 0 0;width:10.7em;height:10.7em;border-radius:50%;overflow:hidden}
@media screen and (max-width:575px){
#cv-document .avatar{margin-bottom:0}
}
#cv-document .avatar img{width:9.7em;height:9.7em;border-radius:50%}
#cv-document .info-main{position:relative;z-index:5}
#cv-document .info-main__title{margin:0 0 .3em;letter-spacing:1.5px}
#cv-document .info-detail{position:relative}
#cv-document .info-detail::before{content:"";position:absolute;right:0;bottom:0;width:3.4em;height:99.9em}
#cv-document .info-detail::after{content:"";position:absolute;right:0;top:100%;width:0;height:0;border-width:1.7em;border-style:solid;pointer-events:none}
#cv-document .info-detail__item{display:flex;justify-content:flex-end;margin-bottom:.7em;text-align:right}
#cv-document .info-detail__item:last-child{margin-bottom:0}
#cv-document .info-detail__item-icon{position:relative;z-index:2;flex-shrink:0;margin-left:1.4em;width:3.4em;text-align:center}
#cv-document [contentEditable] *{font-size:1em!important}
[contenteditable]:focus{outline:1pt dashed #77a5cc!important;cursor:text}
[contentEditable=true]:empty{outline:1pt dashed #fc4b08!important}
[contenteditable=true]:empty:before{content:attr(placeholder)!important}
#cv-document span.x_add.fa.fa-plus-circle,#cv-document span.x_del.fa.fa-remove{width:70px!important}
#cv-document .datetime{
 display:none;
}