<link rel="stylesheet" type="text/css" href="https://i.goodcv.vn/MyCV/css/taocv.css?v=191014&fbclid=IwAR0G0lO0Jz2R0OMsn7_MpEUbv6IN4jKNbGwFP7KELy1nQtOkCB6Noivid-M">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" id="cv-css" href="css/font-awesome.min.css">
<link rel="stylesheet" id ="cv-font-size-css" href="font-sizes/font_normal.css">
<link rel="stylesheet" id ="cv-font" href="fonts/default.css">
<link rel="stylesheet" id="cv-scheme-css" href="colors/a4dce4.css">
<link rel="stylesheet" id="cv-css" href="css/sacmauV2.css"> 
<!-- srcipt % -->
<body>
	<div id="form-cv" data-x-name="parrent">
		<div page='1' class="page pagemax bgpage">
			<div class="page-inner">
				<div class="flexbox2">
				  	<div data-x-name="col-parrent" data-x-col="1" class="col1 col">
				  		<div class="height-curent">
							<div data-x-name= "content">
								<!-- Content col1 -->
								<div class="ava-block" data-x-name="item" data-x-id="info">
									<div class="ava">
										<img data-x-id="ava" src="images/anh-the-3x4.jpg" alt="" />
									</div>
								</div><!-- end bxitem -->
							</div>
						</div><!-- end .height-curent -->
				  	</div><!-- end col1 -->
				  	<div data-x-name="col-parrent" data-x-col="2" class="col2 col">
				  		<div class="height-curent">
							<div data-x-name="content" class="height_content">
				  				<span class="spempty"></span>
					  			<!-- Content col2 -->
								<div class="bxitem2" data-x-name="item" data-x-id="info">
									<ul class="lstinfo">
										<li data-x-rel="dob"><span class="birthd"></span><span class="dp-inline" contenteditable="true" data-x-id ="dob">20/08/1994</span>
										</li>
										<li data-x-rel="tel"><span class="telc"></span><span class="dp-inline" contenteditable="true" data-x-id ="tel">0978345099</span></li>
										<li data-x-rel="email"><span class="emailc"></span><span class="dp-inline" contenteditable="true" data-x-id ="email">ttrang@gmail.com</span></li>
										<li data-x-rel="add"><span class="addrc"></span><span class="dp-inline" contenteditable="true" data-x-id ="add">Số 96 Nguyễn Khánh Toàn, phường Quan Hoa, Quận Cầu Giấy, Hà Nội</span></li>
									</ul>
								</div><!-- end bxitem2 -->
							</div><!-- end .height_content -->
						</div><!-- end .height-curent -->
				  	</div><!-- end col2 -->
				</div><!-- end flexbox2 -->

				<div class="flexbox3">
					<div class="col11 col"></div>
					<div class="col22 col" data-x-name="item" data-x-id="info">
						<p class="txt7" contenteditable="true" data-x-id="name">Trần Nguyễn Thảo Trang</p>
						<p class="txt8" contenteditable="true" data-x-id="job">Nhân viên kinh doanh</p>
					</div>
					<div class="col33 col" data-x-name="item" data-x-id="info">
						<i class="fa fa-globe fa-2x" aria-hidden="true"></i>
						<div class="mgl-10 col33-txt" contenteditable="true" data-x-id ="web">thutrang.com</div>
					</div>
				</div><!-- end flexbox3 -->


			</div><!-- end page-inner -->

			<div class="flexbox">
			  	<div data-x-name="col-parrent" data-x-col="1" class="col1 col">
			  		<div class="height-curent">
						<div data-x-name="group-item">
							<!-- Content col1 -->
							<div class="bxitem" data-x-name ="item" data-x-id="skill">
								<p class="htitle" data-x-name="head"><span class="dp-inline" contenteditable="true" data-x-id="tit">Kỹ năng</span></p>
								<div class="bxinfo" data-x-name="list-item">
									<div class="subdv" data-x-name="sub-item">
										<p class="txtline" contenteditable="true" data-x-id="name">HTML5 & CSS3</p>
										<div class="cvo-skillrate-bar">
	                                    	<div data-x-id="val" value="3" class="cvo-skillrate-value icon-skillrate-value dot"></div>
	                                    </div>
	                                </div><!-- end subdv -->
								</div>
							</div><!-- end bxitem -->
							
							<div class="bxitem" data-x-name="item" data-x-id="skill_ta">
								<p class="htitle3" data-x-name="head"><span class="dp-inline" contenteditable="true" data-x-id="tit">Ngôn ngữ</span></p>
								<div class="bxinfo">
									<div class="list-skill-ta" data-x-name="list-item">
										<div class="txtline5" data-x-name="sub-item">
											<div class="skill-subrate">
												<p class="txt3" data-x-id="name" contenteditable="true">English</p>
										        <div class="cvo-skillrate-bar radialProgressBar">
										            <div class="cvo-skillrate-value overlay" data-x-id="val" value ="1"></div>
										        </div>
											</div>
										</div><!-- end txtline5 -->
									</div>
								</div>
							</div><!-- end bxitem -->
							
							<div class="bxitem" data-x-id="award" data-x-name="item">
								<p class="htitle2" data-x-name="head"><span class="dp-inline" data-x-id="tit" contenteditable="true">Giải thưởng</span></p>
								<div class="bxinfo3" data-x-name="list-item">
									<div class="subdv2" data-x-name="sub-item">
										<div class="subcont"><p class="txt5" contenteditable="true" data-x-id="name">TOEIC</p></div>
										<p class="mart"><span contenteditable="true" data-x-id="time"> 12/2012 </span></p>
									</div><!-- end subdv -->
								</div>
							</div><!-- end bxitem -->
							<div class="bxitem" data-x-id="cer" data-x-name="item">
								<p class="htitle11" data-x-name="head"><span class="dp-inline" data-x-id="tit" contenteditable="true">Chứng chỉ</span></p>
								<div class="bxinfo3" data-x-name="list-item">
									<div class="subdv2" data-x-name="sub-item">
										<div class="subcont"><p class="txt5" contenteditable="true" data-x-id="name">TOEIC</p></div>
										<p class="mart"><span contenteditable="true" data-x-id="time"> 12/2012 </span></p>
									</div><!-- end subdv -->
								</div>
							</div><!-- end bxitem -->
						</div><!-- end .height_content -->
					</div><!-- end .height-curent -->
			  	</div><!-- end col1 -->
			  	<div data-x-name="col-parrent" data-x-col="2" class="col2 col">
			  		<div class="height-curent">
						<div data-x-name="group-item">
			  				<span class="spempty"></span>
				  			<!-- Content col2 -->
				  			<div class="bxitem" data-x-name="item" data-x-id="more">
								<p data-x-name="head" class="htitle4 htitaf"><span class="dp-inline" contenteditable="true" data-x-id="tit">Giới thiệu</span></p>
								<div class="bxinfo2" data-x-name="list-item">
									<div class="subdv3" contenteditable="true" data-x-id="name">
											Đạt chứng nhận CPA Việt Nam và chứng chỉ Kế toán trưởng với hơn 10 năm kinh nghiệm trong lĩnh vực kế toán và tài chính. Có kinh nghiệm trong kế toán, tính thuế và báo cáo cho khách hàng và tổ chức kinh doanh. Có kinh nghiệm chuyên môn với nhiều chương trình phần mềm kế toán phổ biến nhất (MISA, FAST). Đạo đức nghề nghiệp tốt, cam kết lưu giữ hồ sơ chính xác và toàn vẹn. Mong muốn tham gia nhóm các kế toán viên và giúp cải thiện tài chính của tổ chức.
									</div><!-- end subdv3 -->
								</div><!-- end bxinfo2 -->
							</div><!-- end bxitem -->
							<div class="bxitem" data-x-name="item" data-x-id="exp">
								<p class="htitle4 htitaf" data-x-name="head"><span class="dp-inline" contenteditable="true" data-x-id="tit">Kinh nghiệm làm việc</span></p>
								<div class="bxinfo2" data-x-name="list-item">
									<div class="subdv3" data-x-name="sub-item">
										<div class="bxst">
											<div class="bxstl">
												<p class="txthead2" contenteditable="true" data-x-id="name">Front-End Developer</p>
												<p class="txti" contenteditable="true" data-x-id="pos">VietCV 2</p>
											</div>
											<div class="bxstr"><span class="dp-inline" contenteditable="true" data-x-id="start">10/2016</span> - <span class="dp-inline" contenteditable="true" data-x-id="end">03/2018</span></div>
										</div><!-- end bxst1 -->
										<div data-x-id="des" contenteditable="true">
											<ul class="lst">
												<li>Chịu trách nhiệm làm việc với nhiều dự án cùng lúc, thiết kế các trang web hấp dẫn, tương tác hàng ngày với các bạn thiết kế đồ họa, back-end developer và nhóm tiếp thị.</li>
												<li>Phát triển và duy trì chức năng front-end của các trang web.</li>
												<li>Tham gia thảo luận với khách hàng để làm rõ những gì họ muốn.</li>
											</ul>
										</div>
									</div><!-- end subdv3 -->
								</div><!-- end bxinfo2 -->
							</div><!-- end bxitem -->

							<div class="bxitem" data-x-name="item" data-x-id="edu">
								<p class="htitle5 htitaf" data-x-name="head"><span class="dp-inline" data-x-id="tit" contenteditable="true">Học vấn</span></p>
								<div class="bxinfo2" data-x-name="list-item">
									<div class="subdv3" data-x-name="sub-item">
										<div class="bxst">
											<div class="bxstl">
												<p class="txthead2" data-x-id="name" contenteditable="true">BA và Thiết kế đồ hoạ</p>
												<p class="txti" data-x-id="cat" contenteditable="true">Đại học VietCV 2</p>
											</div>
											<div class="bxstr"><span class="dp-inline" data-x-id="start" contenteditable="true">10/2016</span> - <span class="dp-inline" data-x-id="end" contenteditable="true">03/2018</span></div>
										</div><!-- end bxst1 -->
										<div data-x-id="des" contenteditable="true">
											<ul class="lst">
												<li>Chịu trách nhiệm làm việc với nhiều dự án cùng lúc, thiết kế các trang web hấp dẫn, tương tác hàng ngày với các bạn thiết kế đồ họa, back-end developer và nhóm tiếp thị.</li>
												<li>Phát triển và duy trì chức năng front-end của các trang web.</li>
												<li>Tham gia thảo luận với khách hàng để làm rõ những gì họ muốn.</li>
											</ul>
										</div>
									</div><!-- end subdv3 -->
								</div><!-- end bxinfo2 -->
							</div><!-- end bxitem -->

							<div class="bxitem" data-x-name="item" data-x-id="act">
								<p class="htitle9 htitaf" data-x-name="head"><span class="dp-inline" data-x-id="tit" contenteditable="true">Hoạt động</span></p>
								<div class="bxinfo2" data-x-name="list-item">
									<div class="subdv3" data-x-name="sub-item">
										<div class="bxst">
											<div class="bxstl">
												<p class="txthead2" data-x-id="name" contenteditable="true">BA và Thiết kế đồ hoạ</p>
												<p class="txti" data-x-id="pos" contenteditable="true">Đại học VietCV 2</p>
											</div>
											<div class="bxstr"><span class="dp-inline" data-x-id="start" contenteditable="true">10/2016</span> - <span class="dp-inline" data-x-id="end" contenteditable="true">03/2018</span></div>
										</div><!-- end bxst1 -->
										<div data-x-id="des" contenteditable="true">
											<ul class="lst">
												<li>Chịu trách nhiệm làm việc với nhiều dự án cùng lúc, thiết kế các trang web hấp dẫn, tương tác hàng ngày với các bạn thiết kế đồ họa, back-end developer và nhóm tiếp thị.</li>
												<li>Phát triển và duy trì chức năng front-end của các trang web.</li>
												<li>Tham gia thảo luận với khách hàng để làm rõ những gì họ muốn.</li>
											</ul>
										</div>
									</div><!-- end subdv3 -->
								</div><!-- end bxinfo2 -->
							</div><!-- end bxitem -->

							<div class="bxitem" data-x-name="item" data-x-id="ref">
								<p class="htitle10 htitaf" data-x-name="head"><span class="dp-inline" data-x-id="tit" contenteditable="true">người tham chiếu</span></p>
								<div class="bxinfo2" data-x-name="list-item">
									<div class="subdv3" data-x-name="sub-item">
										<div class="bxst">
											<div class="bxst2">
												<p data-x-id="name" contenteditable="true">BA và Thiết kế đồ hoạ</p>
											</div>
										</div><!-- end bxst1 -->
									</div><!-- end subdv3 -->
								</div><!-- end bxinfo2 -->
							</div><!-- end bxitem -->
							<div class="bxitem" data-x-name="item" data-x-id="hob">
								<p class="htitle8 htitaf" data-x-name="head"><span class="dp-inline" data-x-id="tit" contenteditable="true">sở thích</span></p>
								<div class="bxinfo2" data-x-name="list-item">
									<div class="subdv3" data-x-name="sub-item">
										<div class="bxst">
											<div class="bxst2">
												<p data-x-id="name" contenteditable="true">BA và Thiết kế đồ hoạ</p>
											</div>
										</div><!-- end bxst1 -->
									</div><!-- end subdv3 -->
								</div><!-- end bxinfo2 -->
							</div><!-- end bxitem -->
							<div class="bxitem" data-x-name="item" data-x-id="pro">
								<p class="htitle6 htitaf" data-x-name="head"><span class="dp-inline" data-x-id="tit" contenteditable="true">Dự án</span></p>
								<div class="bxinfo2" data-x-name="list-item">
									<div class="subdv3" data-x-name="sub-item">
										<div class="bxst">
											<div class="bxstl">
												<p class="txthead2" data-x-id="name" contenteditable="true">Tên dự án</p>
												<p class="txti" data-x-id="pos" contenteditable="true">Đại học VietCV 2</p>
											</div>
											<div class="bxstr"><span class="dp-inline" data-x-id="start" contenteditable="true">10/2016</span> - <span class="dp-inline" data-x-id="end" contenteditable="true">03/2018</span></div>
										</div><!-- end bxst1 -->
										<div>
											<span class="dp-inline" data-x-label="pro.cus">Khách hàng</span> <span data-x-id="cus" class="dp-inline" contenteditable="true">X-media</span>
										</div>
										<div>
											<span class="dp-inline" data-x-label="pro.des">Mô tả</span> <span data-x-id="des" class="dp-inline" contenteditable="true">X-media</span>
										</div>
										<div>
											<span data-x-label="pro.mem" class="dp-inline">Thành viên</span> <span data-x-id="mem" contenteditable="true" class="dp-inline">X-media</span>
										</div>
										<div>
											<span data-x-label="pro.pos" class="dp-inline">Vị trí</span> <span data-x-id="pos" class="dp-inline" contenteditable="true">X-media</span>
										</div>
										<div><span data-x-label="pro.tech" class="dp-inline">Công nghệ</span> <span data-x-id="tech" class="dp-inline" contenteditable="true">X-media</span>
										</div>
									</div><!-- end subdv3 -->
								</div><!-- end bxinfo2 -->
							</div><!-- end bxitem -->
						</div><!-- end .height_content -->
					</div><!-- end .height-curent -->
			  	</div><!-- end col2 -->
			</div><!-- end flexbox -->

		</div><!-- end page -->
	</div>
</body>
