.line-size .font-size-1 {
    line-height: 40px;
}

.line-size .font-size-2 {
    line-height: 25px;
}

.line-size .font-size-3 {
    line-height: 17.5px;
}

.line-size .font-size-4 {
    line-height: 20px;
}

.line-size .font-size-5 {
    line-height: 20px;
}
