body.page-preview,body.page-view,body.page-viewdemo{background:url(/images3/bg-cv/3.jpg) no-repeat;background-size:cover;background-attachment:fixed}
body.page-preview .xbgcv.xbgcv1{position:fixed;z-index:99;right:0;bottom:0;width:150px;height:150px;background:url(/images3/bg-cv/7.2.png) no-repeat;background-size:cover}
#cv-document{font-size:10px}
#cv-document *{box-sizing:border-box}
#cv-document #cv-watermark a:after{content:"Joboko.com"}
#cv-document .page:last-child #cv-watermark{position:absolute;right:1em;bottom:2em}
#cv-document .relative{position:relative;z-index:5}
#cv-document .inline-block{display:inline-block}
#cv-document .inline{display:inline}
#cv-document .flex-column{flex-direction:column;display:flex;height:100%}
#cv-document [data-x-name=item]{width:100%}
#cv-document .no-outline{outline:0}
#cv-document .no-outline:hover{box-shadow:none;outline:0}
#cv-document .mt-auto{margin-top:auto}
#cv-document .content{position:relative}
#cv-document .heading{position:relative;margin-bottom:2.5em;padding:0 0 0 1.5em}
#cv-document .heading::before{content:"";position:absolute;top:50%;left:-1em;opacity:.5;transform:translateY(-50%);border-radius:50%;width:4.4em;height:4.4em}
#cv-document .datetime{margin-bottom:1.7em}
#cv-document .wrapper{display:flex;margin-bottom:5em;padding:.4em}
#cv-document .wrapper__inner{padding:3.6em 3.4em 5em 3.8em}
@media screen and (max-width:767px){
#cv-document .wrapper__inner{padding:2em}
}
#cv-document .page{display:flex}
#cv-document .page__inner{padding:4.2em 5.4em 0 4.8em}
@media screen and (max-width:767px){
#cv-document .page__inner{padding-right:2em;padding-left:2em}
}
#cv-document .h1,#cv-document .h2,#cv-document .h3,#cv-document .h4,#cv-document .h5,#cv-document .h6,#cv-document h1,#cv-document h2,#cv-document h3,#cv-document h4,#cv-document h5,#cv-document h6,#cv-document p{margin:0}
#cv-document .regular{font-weight:400}
#cv-document .light{font-weight:300}
#cv-document .medium{font-weight:500}
#cv-document .bold{font-weight:700}
#cv-document .black{font-weight:900}
#cv-document .italic{font-style:italic}
#cv-document .uppercase{text-transform:uppercase}
#cv-document .avatar{position:relative;z-index:2;justify-content:center;align-items:center;display:flex;margin:9.3em 0 2.5em .2em;width:26.4em;height:32.6em}
@media screen and (max-width:767px){
#cv-document .avatar{margin:8em auto 4em}
}
#cv-document .avatar img{position:relative;width:25.2em;height:31.4em}
#cv-document .avatar__border{position:absolute;top:-6.6em;right:-6.1em;display:flex;width:27.8em;height:27.8em}
#cv-document .avatar__border::after,#cv-document .avatar__border::before{content:"";position:absolute;border-width:.5em .5em 0 0;border-style:solid}
#cv-document .avatar__border::before{top:2.2em;right:2.2em;opacity:.1;width:23.4em;height:23.4em}
#cv-document .avatar__border::after{top:4.6em;right:4.6em;opacity:.2;width:18.8em;height:18.8em}
#cv-document .avatar__border>span{opacity:.3;border-width:.5em .5em 0 0;border-style:solid;width:100%;height:100%}
#cv-document .info-main{justify-content:flex-end;display:flex;margin-bottom:4.5em}
#cv-document .info-main::before{content:"";position:absolute;top:1em;right:-5.4em;bottom:1.5em;left:-4.8em}
@media screen and (max-width:767px){
#cv-document .info-main::before{right:-2em;left:-2em}
}
#cv-document .info-main__inner{position:relative;z-index:5;padding:1em 3.2em;text-align:right}
#cv-document .info-main__title{margin:0 0 .1em}
#cv-document .info-detail{position:relative;margin-bottom:2.8em;max-width:35em}
#cv-document .info-detail::before{content:"";position:absolute;top:-4.2em;bottom:0;left:0;width:3.6em}
#cv-document .info-detail__item{position:relative;z-index:5;display:flex;padding-bottom:1.1em}
#cv-document .info-detail__item-icon{position:relative;top:.2em;flex-shrink:0;margin-right:1.5em;min-width:3.6em;text-align:center}
#cv-document [contentEditable] *{font-size:1em!important}
[contenteditable]:focus{outline:1pt dashed #77a5cc!important;cursor:text}
[contentEditable=true]:empty{outline:1pt dashed #fc4b08!important}
[contenteditable=true]:empty:before{content:attr(placeholder)!important}
#cv-document span.x_add.fa.fa-plus-circle,#cv-document span.x_del.fa.fa-remove{width:70px!important}
#cv-document .datetime{
 display:none;
}