#form-cv{
	font-family: 'Raleway', sans-serif;
}

#cv-document .title {
	font-family: 'Dancing Script', cursive;
}

#form-cv .wrapper {
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
}
