body.page-preview,body.page-view,body.page-viewdemo{background:url(/images3/bg-cv/3.jpg) no-repeat;background-size:cover;background-attachment:fixed}
body.page-preview .xbgcv.xbgcv1{position:fixed;z-index:99;right:0;bottom:0;width:150px;height:150px;background:url(/images3/bg-cv/7.2.png) no-repeat;background-size:cover}
#cv-document{font-size:10px}
#cv-document *{box-sizing:border-box}
#cv-document #cv-watermark a:after{content:"Joboko.com"}
#cv-document .page:last-child #cv-watermark{position:absolute;right:1em;bottom:2em}
#cv-document .relative{position:relative}
#cv-document .inline-block{display:inline-block}
#cv-document .content{border-left-width:1px;border-left-style:solid;padding:.7em 0 1.1em 3em}
/*#cv-document .bullet::before{content:attr(data-x-bullet)}
#cv-document .bullet-dot{position:relative;padding-left:19px}
#cv-document .bullet-dot::before{content:"";position:absolute;top:6px;left:1px;display:inline-block;opacity:.5;margin-right:0;border-radius:50%;width:7px;height:7px}
#cv-document .bullet-dot[data-x-bullet] br{content:"";position:relative;display:block}
#cv-document .bullet-dot[data-x-bullet] br::before{content:"";position:absolute;top:6px;left:-18px;display:inline-block;opacity:.5;margin-right:0;border-radius:50%;width:7px;height:7px}*/
#cv-document [contenteditable] ul, #cv-document [contenteditable] ol{
    margin-left: 18px
}
#cv-document [contenteditable] ol li {
    list-style: auto;
}
#cv-document [contenteditable] ul li, #cv-document [contenteditable] ol li {
    padding: 0;
}
#cv-document [contenteditable] ul li {
    list-style-type: disc
}
#cv-document [contenteditable] ul li::marker {
    color:#b1b1b1
}
@media screen and (max-width:767px){
#cv-document .page--background{background-position:center bottom,right top,right 1.9em top,left top;background-size:25.4em 4em,1.5em 100%,.2em 100%,100% 100%}
}
#cv-document .page__inner{padding:5em 0 0}
#cv-document .full-width{position:relative;flex-wrap:wrap;display:flex;margin-top:-5em;margin-bottom:1.3em}
@media screen and (max-width:767px){
#cv-document .full-width{margin-bottom:3em}
}
#cv-document .full-width__left{position:relative;z-index:5;overflow:hidden;width:34.3em}
@media screen and (max-width:767px){
#cv-document .full-width__left{margin-bottom:2em;width:100%}
}
#cv-document .full-width__left::before{content:"";position:absolute;top:0;left:-.2em;width:34.6em;height:33.3em}
@media screen and (max-width:767px){
#cv-document .full-width__left::before{content:none}
}
#cv-document .full-width__right{width:calc(100% - 34.3em);padding:0 3.7em 0 2.5em}
@media screen and (max-width:767px){
#cv-document .full-width__right{width:100%;padding:0 4em 0 2em}
}
#cv-document .two-up{flex-wrap:wrap;display:flex}
#cv-document .two-up__left{width:34.3em;padding:0 3em 0 3.5em}
@media screen and (max-width:767px){
#cv-document .two-up__left{margin-bottom:2em;width:100%;padding:0 4em 0 2em}
}
#cv-document .two-up__left-item{margin-bottom:3.1em}
#cv-document .two-up__right{width:calc(100% - 34.3em);padding:0 3.6em 0 2.2em}
@media screen and (max-width:767px){
#cv-document .two-up__right{width:100%;padding:0 4em 0 2em}
}
#cv-document .two-up__right-item{margin-bottom:2.5em}
#cv-document .h1,#cv-document .h2,#cv-document .h3,#cv-document .h4,#cv-document .h5,#cv-document .h6,#cv-document h1,#cv-document h2,#cv-document h3,#cv-document h4,#cv-document h5,#cv-document h6,#cv-document p{margin:0}
#cv-document .cvo-skillrate-radial::after{font-weight:500}
#cv-document .regular{font-weight:400}
#cv-document .light{font-weight:300}
#cv-document .medium{font-weight:500}
#cv-document .bold{font-weight:700}
#cv-document .black{font-weight:900}
#cv-document .uppercase{text-transform:uppercase}
#cv-document .heading{position:relative;margin-bottom:1.7em;padding-bottom:.8em}
#cv-document .heading::after{content:"";position:absolute;right:0;bottom:0;left:0;height:.2em}
#cv-document .avatar{padding:11.7em 1.7em .4em 0}
@media screen and (max-width:767px){
#cv-document .avatar{padding:3em 0 0}
}
#cv-document .avatar__inner{position:relative;z-index:2;justify-content:center;align-items:center;display:flex;overflow:hidden;margin:0 auto;border-width:.4em;border-style:solid;border-radius:50%;width:21.4em;height:21.4em}
#cv-document .avatar__inner img{border-radius:50%;width:20.2em;height:20.2em}
#cv-document .info-main__title{align-items:flex-end;display:flex;margin:0 0 .6em;min-height:8.638em}
@media screen and (max-width:767px){
#cv-document .info-main__title{min-height:auto}
}
#cv-document .info-main__text{position:relative;overflow:hidden;margin-left:-6.7em;border-radius:0 2.5em 2.5em 0;padding:.4em 1.5em .2em 6.7em}
#cv-document .info-main__text::before{content:"";position:absolute;bottom:-3.6em;left:-24.7em;border-radius:50%;width:30em;height:30em}
#cv-document .info-detail{padding:4.4em 0 3em}
@media screen and (max-width:767px){
#cv-document .info-detail{padding:0 0 3em}
}
#cv-document .info-detail__item{display:flex;margin-bottom:.8em}
#cv-document .info-detail__item:last-child{margin-bottom:0}
#cv-document .info-detail__item-icon{position:relative;flex-shrink:0;margin-right:1.9em;min-width:1.4em;text-align:center}
#cv-document .skill__item{margin-bottom:1.2em}
#cv-document .skill__item:last-child{margin-bottom:0}
#cv-document .skill__item-title{margin-bottom:.6em}
/*#cv-document .skill__item-content br{content:"";display:block;margin-top:.7142857143em}*/
#cv-document .skill-ta__item{margin-bottom:.9em}
#cv-document .skill-ta__item:last-child{margin-bottom:0}
#cv-document .skill-th__item{display:flex;margin:.9em 0 1.9em}
#cv-document .skill-th__item:last-child{margin-bottom:.9em}
#cv-document .skill-th__item-title{flex-shrink:0;width:9.6em;padding-right:1em}
#cv-document .skill-th__item-content{flex-grow:1;margin-top:.7em}
#cv-document .cvo-skillrate{align-items:center;display:flex}
#cv-document .cvo-skillrate>span{flex-shrink:0;margin-right:.44em;border-width:1px;border-style:dotted;border-radius:50%;width:1.4em;height:1.4em}
#cv-document .cvo-skillrate[value="1"]>span:nth-child(-n+2){border-style:solid}
#cv-document .cvo-skillrate[value="2"]>span:nth-child(-n+4){border-style:solid}
#cv-document .cvo-skillrate[value="3"]>span:nth-child(-n+6){border-style:solid}
#cv-document .cvo-skillrate[value="4"]>span:nth-child(-n+8){border-style:solid}
#cv-document .cvo-skillrate[value="5"]>span{border-style:solid}
.xicon{display:inline-block;width:4.8em;height:4.8em;background-repeat:no-repeat;background-size:auto!important;background-position:center;vertical-align:middle}
#cv-document .action__item{margin-bottom:1.5em}
#cv-document .action__item:last-child{margin-bottom:0}
#cv-document .action__item-wrap{position:relative;margin-bottom:1.3em;border-bottom-width:1px;border-bottom-style:dotted;padding-bottom:1.6em;padding-left:3.8em}
#cv-document .action__item-wrap::before{content:"";position:absolute;top:.6em;left:0;width:2.5em;height:3em}
#cv-document .action__item-date{display:inline-block;border-radius:0 1em 1em 1em;padding:0 1.4em}
#cv-document .action__item-pos{margin-bottom:.4em}
/*#cv-document .action__item-text br{content:"";display:block;margin-top:.3571428571em}*/
#cv-document .education__item{margin-bottom:1.5em}
#cv-document .education__item:last-child{margin-bottom:0}
#cv-document .education__item-wrap{position:relative;margin-bottom:1.3em;border-bottom-width:1px;border-bottom-style:dotted;padding-bottom:1.6em;padding-left:3.8em}
#cv-document .education__item-wrap::before{content:"";position:absolute;top:.6em;left:0;width:2.5em;height:3em}
#cv-document .education__item-date{display:inline-block;border-radius:0 1em 1em 1em;padding:0 1.4em}
#cv-document .education__item-pos{margin-bottom:.4em}
/*#cv-document .education__item-text br{content:"";display:block;margin-top:.3571428571em}*/
#cv-document .experience__item{margin-bottom:1.5em}
#cv-document .experience__item:last-child{margin-bottom:0}
#cv-document .experience__item-wrap{position:relative;margin-bottom:1.3em;border-bottom-width:1px;border-bottom-style:dotted;padding-bottom:1.6em;padding-left:3.8em}
#cv-document .experience__item-wrap::before{content:"";position:absolute;top:.6em;left:0;width:2.5em;height:3em}
#cv-document .experience__item-date{display:inline-block;border-radius:0 1em 1em 1em;padding:0 1.4em}
#cv-document .experience__item-pos{margin-bottom:.4em}
/*#cv-document .experience__item-text br{content:"";display:block;margin-top:.3571428571em}*/
#cv-document .hobby{flex-wrap:wrap;display:flex}
#cv-document .hobby__item{align-items:center;display:flex;margin-top:1.6em;width:47%}
#cv-document .hobby__item:nth-child(even){margin-left:auto}
#cv-document .hobby__item:nth-child(-n+2){margin-top:0}
#cv-document .hobby__item-icon{margin-right:1em;width:4.8em;text-align:center}
#cv-document .references__item{margin-bottom:.6em}
#cv-document .references__item:last-child{margin-bottom:0}
#cv-document .target{margin-top:.6em;border-width:1px;border-style:dotted;border-radius:2em;padding:1.3em 1.4em 2.2em 2.1em}
/*#cv-document .target br{content:"";display:block;margin-top:.6428571429em}*/
#cv-document .certification__item{display:flex;justify-content:space-between;align-items:flex-start;margin-bottom:.7em}
#cv-document .certification__item:last-child{margin-bottom:0}
#cv-document .certification__item-date{flex-shrink:0;padding-left:1em;text-align:right}
#cv-document .cletter{border-width:1px;border-style:dotted;border-radius:1em;padding:1.4em 1.9em 2.3em}
#cv-document .cletter>div{line-height:1.55}
/*#cv-document .cletter br{content:"";display:block;margin-top:1.0714285714em}*/
#cv-document .project__item{margin-bottom:2em}
#cv-document .project__item:last-child{margin-bottom:0}
#cv-document .project__item-head{flex-wrap:wrap;justify-content:space-between;display:flex;margin-bottom:.9em}
#cv-document .project__item-title{position:relative;margin-right:2em}
#cv-document .project__item-time{flex-shrink:0}
#cv-document .project__item-wrapper{padding:1px;border-radius:5px}
#cv-document .project__item-table{border-radius:4px;width:100%;border-collapse:collapse}
#cv-document .project__item-table .tr{display:flex}
#cv-document .project__item-table .td,#cv-document .project__item-table .th{border-width:1px 1px 0 1px;border-style:dashed;padding:1em 1.2em;vertical-align:top}
#cv-document .project__item-table .th{border-right:none;border-left-width:0;width:29.5%}
#cv-document .project__item-table .td{border-right-width:0;width:70.5%;padding-left:1em}
#cv-document .project__item-table .tr:first-child .td,#cv-document .project__item-table .tr:first-child .th{border-top-width:0}
#cv-document .project__item-table .tr:first-child .th:first-child{border-radius:.5em 0 0 0}
#cv-document .project__item-table .tr:first-child .td:last-child{border-radius:0 .5em 0 0}
#cv-document .project__item-table .tr:last-child .td,#cv-document .project__item-table .tr:last-child .th{border-bottom-width:0}
#cv-document .project__item-table .tr:last-child .th:first-child{border-radius:0 0 0 .5em}
#cv-document .project__item-table .tr:last-child .td:last-child{border-radius:0 0 .5em 0}
#cv-document .award__item{display:flex;justify-content:space-between;align-items:flex-start;margin-bottom:.8em}
#cv-document .award__item:last-child{margin-bottom:0}
#cv-document .award__item-date{flex-shrink:0;padding-left:1em;text-align:right}
#cv-document [contentEditable] *{font-size:1em!important}
[contenteditable]:focus{outline:1pt dashed #77a5cc!important;cursor:text}
[contentEditable=true]:empty{outline:1pt dashed #fc4b08!important}
[contenteditable=true]:empty:before{content:attr(placeholder)!important}
#cv-document span.x_add.fa.fa-plus-circle,#cv-document span.x_del.fa.fa-remove{width:70px!important}
#cv-document .height-curent>[data-x-name=group-item]{padding-bottom:3em}
.template-special .x_hide{display:flex !important}