body.page-preview,body.page-view,body.page-viewdemo{background:url(/images3/bg-cv/3.jpg) no-repeat;background-size:cover;background-attachment:fixed}
body.page-preview .xbgcv.xbgcv1{position:fixed;z-index:99;right:0;bottom:0;width:150px;height:150px;background:url(/images3/bg-cv/7.2.png) no-repeat;background-size:cover}
#cv-document{font-size:10px}
#cv-document *{box-sizing:border-box}
#cv-document #cv-watermark a:after{content:"Joboko.com"}
#cv-document .page:last-child #cv-watermark{position:absolute;right:1em;bottom:2em}
#cv-document .relative{position:relative}
#cv-document .inline-block{display:inline-block}
#cv-document .inline{display:inline}
#cv-document .no-outline{outline:0}
#cv-document .no-outline:hover{box-shadow:none;outline:0}
#cv-document .icon-phone{display:block;width:.9em;height:.9em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-birthday{display:block;width:1em;height:1em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-email{display:block;width:1em;height:.8em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-facebook{display:block;width:1.1em;height:1.1em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-mark{display:block;width:1em;height:1.3em;background-repeat:no-repeat;background-size:contain}
#cv-document .page__inner{padding:4em 0 0}
#cv-document .two-up{display:flex;flex-wrap:wrap}
#cv-document .two-up__left{width:35.6em;padding:0 2.9em}
@media screen and (max-width:767px){
#cv-document .two-up__left{width:100%;margin-bottom:2em;padding:0 1.2em}
}
#cv-document .two-up__left-item{margin-bottom:2.8em}
#cv-document .two-up__right{width:calc(100% - 35.6em);padding:0 3em}
@media screen and (max-width:767px){
#cv-document .two-up__right{width:100%;padding:0 1.2em}
}
#cv-document .two-up__right-item{margin-bottom:3em}
#cv-document .h1,#cv-document .h2,#cv-document .h3,#cv-document .h4,#cv-document .h5,#cv-document .h6,#cv-document h1,#cv-document h2,#cv-document h3,#cv-document h4,#cv-document h5,#cv-document h6,#cv-document p{margin:0}
#cv-document .cvo-skillrate-radial::after{font-weight:500}
#cv-document .regular{font-weight:400}
#cv-document .light{font-weight:300}
#cv-document .medium{font-weight:500}
#cv-document .semi-bold{font-weight:600}
#cv-document .bold{font-weight:700}
#cv-document .black{font-weight:900}
#cv-document .italic{font-style:italic}
#cv-document .uppercase{text-transform:uppercase}
#cv-document .capitalize{text-transform:capitalize}
#cv-document .heading{margin-bottom:1.4em;text-align:center}
#cv-document .heading__title{display:inline-block;border-radius:.5em;padding:.7em 1em .6em;text-align:center}
#cv-document .heading-02{margin-bottom:1em;text-align:center}
#cv-document .heading-02__title{display:inline-block;border-radius:.5em;padding:.7em 1em .6em;text-align:center}
#cv-document .avatar{position:relative;z-index:2;display:flex;justify-content:center;align-items:center;border-radius:1em;width:20.2em;height:20.2em;margin:0 auto 2em}
#cv-document .avatar img{border-radius:.8em;width:19.6em;height:19.6em}
#cv-document .info-main{margin-bottom:1.8em;text-align:center}
#cv-document .info-main__title{margin:0 0 .5em}
#cv-document .info-detail{margin-bottom:4.1em}
#cv-document .info-detail__item{display:flex;align-items:flex-start;margin-bottom:.55em}
#cv-document .info-detail__item:last-child{margin-bottom:0}
#cv-document .info-detail__item-icon{position:relative;top:.2em;display:flex;flex-shrink:0;justify-content:center;align-items:center;border-width:1px;border-style:solid;border-radius:.5em;width:2.2em;height:2.2em;margin-right:1em;text-align:center}
#cv-document .info-detail__item-title{padding:.5em 0}
#cv-document .skill__item{position:relative;margin-bottom:1.3em;padding-left:1.4em}
#cv-document .skill__item::before{content:"";position:absolute;top:.6em;left:1px;border-radius:1px;width:.5em;height:.5em}
#cv-document .skill__item:last-child{margin-bottom:0}
#cv-document .skill__item-title{margin-bottom:.3em}
#cv-document .skill-ta{margin-bottom:.5em}
#cv-document .skill-ta__item-title>div:first-child::before{content:"- "}
#cv-document .skill-th__item{margin-bottom:.5em}
#cv-document .skill-th__item:last-child{margin-bottom:0}
#cv-document .skill-th__item-title>div:first-child::before{content:"- "}
#cv-document .cvo-skillrate{display:flex;align-items:center}
#cv-document .cvo-skillrate>span{margin-left:.7em;width:1.2em;height:1.2em;border-radius:50%}
#cv-document .cvo-skillrate-radial{position:relative;width:5.6em;height:5.6em;text-align:center;border-radius:50%}
#cv-document .cvo-skillrate-radial::before{content:"";position:absolute;top:50%;left:50%;transform:translate3d(-50%,-50%,0);display:flex;justify-content:center;align-items:center;height:4.6em;width:4.6em;border-radius:50%}
#cv-document .cvo-skillrate-radial::after{content:"";position:absolute;top:50%;left:50%;transform:translate3d(-50%,-50%,0)}
#cv-document .cvo-skillrate-radial[value="1"]::after{content:"20%"}
#cv-document .cvo-skillrate-radial[value="2"]::after{content:"40%"}
#cv-document .cvo-skillrate-radial[value="3"]::after{content:"60%"}
#cv-document .cvo-skillrate-radial[value="4"]::after{content:"80%"}
#cv-document .cvo-skillrate-radial[value="5"]::after{content:"100%"}
#cv-document .cvo-skillrate-progress{display:flex}
#cv-document .cvo-skillrate-progress>span{position:relative;display:flex;width:20%;max-width:4.8em;height:.6em}
#cv-document .cvo-skillrate-progress>span:first-child{border-radius:99.9em 0 0 99.9em}
#cv-document .cvo-skillrate-progress>span:last-child{border-radius:0 99.9em 99.9em 0}
#cv-document .cvo-skillrate-progress>span::after,#cv-document .cvo-skillrate-progress>span::before{content:"";position:absolute;z-index:1}
#cv-document .cvo-skillrate-progress>span::before{top:-1px;left:-1px;right:-1px;bottom:-1px;box-sizing:content-box;border-width:1px;border-style:solid;border-radius:0 99.9em 99.9em 0}
#cv-document .cvo-skillrate-progress>span::after{display:none;top:50%;right:0;transform:translate3d(0,-50%,0);width:1.2em;height:1.2em;border-radius:50%}
.xicon{display:inline-block;width:5.2em;height:5em;background-repeat:no-repeat;background-size:auto!important;background-position:center;vertical-align:middle}
#cv-document .action__item{margin-bottom:1.5em}
#cv-document .action__item:last-child{margin-bottom:0}
#cv-document .action__item-wrap{display:flex;justify-content:space-between;align-items:center;margin-bottom:.6em}
#cv-document .action__item-date{flex-shrink:0;padding-left:1em}
#cv-document .action__item-title{margin-bottom:.1em}
#cv-document .certification__item{display:flex;justify-content:space-between;align-items:flex-start;margin-bottom:1em}
#cv-document .certification__item:last-child{margin-bottom:0}
#cv-document .certification__item-date{flex-shrink:0;padding-left:1em}
#cv-document .education__item{margin-bottom:1.5em}
#cv-document .education__item:last-child{margin-bottom:0}
#cv-document .education__item-wrap{display:flex;justify-content:space-between;align-items:center;margin-bottom:.6em}
#cv-document .education__item-date{flex-shrink:0;padding-left:1em}
#cv-document .education__item-title{margin-bottom:.1em}
#cv-document .experience__item{margin-bottom:1.5em}
#cv-document .experience__item:last-child{margin-bottom:0}
#cv-document .experience__item-wrap{display:flex;justify-content:space-between;align-items:center;margin-bottom:.6em}
#cv-document .experience__item-date{flex-shrink:0;padding-left:1em}
#cv-document .experience__item-title{margin-bottom:.1em}
#cv-document .hobby__item{margin-bottom:.4em}
#cv-document .hobby__item:last-child{margin-bottom:0}
#cv-document .hobby__item-title>div::before{content:"- ";display:inline-block;margin-right:1.0714285714em}
#cv-document .references__item{margin-bottom:.6em}
#cv-document .references__item:last-child{margin-bottom:0}
#cv-document .target{margin-top:1.3em}
#cv-document .project__item{margin-bottom:2em}
#cv-document .project__item:last-child{margin-bottom:0}
#cv-document .project__item-title{margin-bottom:.6em}
#cv-document .project__item-time{margin-bottom:.4em}
#cv-document .project__item-table{width:100%;border-collapse:collapse;position:relative}
#cv-document .project__item-table::after{content:"";position:absolute;top:0;right:0;bottom:0;left:0;border-width:1px;border-style:solid;pointer-events:none}
#cv-document .project__item-table .tr{display:flex}
#cv-document .project__item-table .td,#cv-document .project__item-table .th{border-width:1px 1px 0 1px;border-style:dashed;padding:1em 1em .9em;vertical-align:top}
#cv-document .project__item-table .th{border-right:none;border-left:none;width:30%}
@media screen and (max-width:767px){
#cv-document .project__item-table .th{width:35%}
}
#cv-document .project__item-table .td{border-right:none;width:70%}
@media screen and (max-width:767px){
#cv-document .project__item-table .td{width:65%}
}
#cv-document .project__item-table .tr:first-child .td,#cv-document .project__item-table .tr:first-child .th{border-top:none}
#cv-document .project__item-table .tr:last-child .td,#cv-document .project__item-table .tr:last-child .th{border-bottom-width:1px;border-bottom:none}
.advantage__item{margin-bottom:.5em}
.advantage__item:last-child{margin-bottom:0}
.advantage__item-title>div:first-child::before{content:"- "}
.award__item{display:flex;justify-content:space-between;align-items:flex-start;margin-bottom:1em}
.award__item:last-child{margin-bottom:0}
.award__item-date{flex-shrink:0;padding-left:1em}
#cv-document .cletter{border-width:1px;border-style:dashed;border-radius:.5em;margin-top:-2.5em;padding:2.4em 1.5em 1.8em}
#cv-document .cletter>*{line-height:1.356}
#cv-document [contentEditable] *{font-size:1em!important}
[contenteditable]:focus{outline:1pt dashed #77a5cc!important;cursor:text}
[contentEditable=true]:empty{outline:1pt dashed #fc4b08!important}
[contenteditable=true]:empty:before{content:attr(placeholder)!important}
#cv-document span.x_add.fa.fa-plus-circle,#cv-document span.x_del.fa.fa-remove{width:70px!important}
#cv-document .height-curent>[data-x-name=group-item]{padding-bottom:3em}