.banner-style .topic-cv {
	background-color: #195c77 !important;
}
.left-content-cv {
	background-color: #191919 !important;
}
.right-content-cv,
.line-org-l,
.line-org {
	background-color: #47abdd !important;
}

.line-org-l:before {
	border: solid 2px #47abdd !important;
    background: #195c77 !important;
}
.line-org:before {
	border: solid 2px #47abdd  !important;
    background: #191919 !important;
}
.gr-skill .progress-item-or {
	background: #191919;
}