/* Spacing small */
.cvo-block {
    margin-bottom: 10px;
}
#cvo-education .row,
#cvo-activity .row,
#cvo-experience .row {
    margin-bottom: 5px;
}

#group-left .cvo-block {
    margin-bottom: 30px;
}