body.page-preview,body.page-view,body.page-viewdemo{background:url(/images3/bg-cv/3.jpg) no-repeat;background-size:cover;background-attachment:fixed}
body.page-preview .xbgcv.xbgcv1{position:fixed;z-index:99;right:0;bottom:0;width:150px;height:150px;background:url(/images3/bg-cv/7.2.png) no-repeat;background-size:cover}
#cv-document{font-size:10px}
#cv-document *{box-sizing:border-box}
#cv-document #cv-watermark a:after{content:"Joboko.com"}
#cv-document .page:last-child #cv-watermark{position:absolute;right:3.75em;bottom:1.1em}
@media screen and (max-width:767px){
#cv-document .page:last-child #cv-watermark{right:1.6666666667em}
}
#cv-document .relative{position:relative}
#cv-document .inline-block{display:inline-block}
#cv-document .content{border-left-width:1px;border-left-style:solid;padding:.7em 0 1.1em 3em}
#cv-document .bullet::before{content:attr(data-x-bullet);margin-right:.1em}
#cv-document .icon-tar{display:block;width:1.6em;height:1.6em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-skill{display:block;width:1.7em;height:1.7em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-edu{display:block;width:1.9em;height:1.4em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-exp{display:block;width:1.4em;height:1.9em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-act{display:block;width:2em;height:1.8em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-cer{display:block;width:1.6em;height:1.3em;background-repeat:no-repeat;background-size:contain}
#cv-document .icon-more{display:block;width:1.7em;height:1.7em;background-repeat:no-repeat;background-size:contain}
#cv-document .page{display:flex}
#cv-document .page__inner{display:flex;width:100%}
#cv-document .two-up{flex-wrap:wrap;display:flex;width:100%}
#cv-document .two-up__left{width:43.2%;padding:5.4em 2.8em 0 3.8em}
@media screen and (max-width:767px){
#cv-document .two-up__left{width:100%;padding:5.4em 2em 0}
}
#cv-document .two-up__left-item{margin-bottom:2.4em}
#cv-document .two-up__right{border-left-width:1px;border-left-style:solid;width:56.8%;padding:5.4em 4.3em 0 3em}
@media screen and (max-width:767px){
#cv-document .two-up__right{border-left:none;width:100%;padding:5.4em 2em 0}
}
#cv-document .two-up__right-item{margin-bottom:1.8em}
#cv-document .h1,#cv-document .h2,#cv-document .h3,#cv-document .h4,#cv-document .h5,#cv-document .h6,#cv-document h1,#cv-document h2,#cv-document h3,#cv-document h4,#cv-document h5,#cv-document h6,#cv-document p{margin:0}
#cv-document .cvo-skillrate-radial::after{font-weight:500}
#cv-document .regular{font-weight:400}
#cv-document .light{font-weight:300}
#cv-document .medium{font-weight:500}
#cv-document .semi-bold{font-weight:600}
#cv-document .bold{font-weight:700}
#cv-document .black{font-weight:900}
#cv-document .uppercase{text-transform:uppercase}
#cv-document .italic{font-style:italic}
#cv-document .heading{position:relative;justify-content:space-between;align-items:center;display:flex;margin-bottom:.9em;border-width:1px;border-style:solid;border-radius:0 3em 3em 0;padding:.9em 1.3em .7em 1.5em}
#cv-document .heading::before{content:"";position:absolute;top:0;bottom:0;left:0;width:.6em}
#cv-document .heading__icon{flex-shrink:0;margin-bottom:1px;margin-left:.8em}
#cv-document .avatar{position:relative;z-index:2;justify-content:center;align-items:center;display:flex;overflow:hidden;margin:0 auto 1.5em;border-width:2px;border-style:solid;border-radius:50%;width:16em;height:16em}
#cv-document .avatar img{border-radius:50%;width:14.8em;height:14.8em}
#cv-document .info-main{position:relative;padding-bottom:2.2em;text-align:center}
#cv-document .info-main::before{content:"";position:absolute;top:-5.4em;bottom:-5.4em;left:50%;opacity:.1;transform:translateX(-50%);width:9em}
#cv-document .info-main__title{position:relative;z-index:2;margin:0 0 .8em}
#cv-document .info-main__text{position:relative;z-index:2}
#cv-document .info-detail{margin-bottom:2.8em}
#cv-document .info-detail__item{position:relative;z-index:4;align-items:flex-start;display:flex;margin:0 0 .6em}
#cv-document .info-detail__item-icon{position:relative;flex-shrink:0;justify-content:center;align-items:center;display:flex;margin-right:.8em;border-radius:50%;width:3em;height:3em;text-align:center}
#cv-document .info-detail__item-title{padding:.4em 0}
#cv-document .skill{margin-top:1.8em}
#cv-document .skill__item{margin-bottom:1.6em}
#cv-document .skill__item-title{margin-top:.6em}
#cv-document .cvo-skillrate{align-items:center;display:flex}
#cv-document .cvo-skillrate>span{margin-right:1em;border-width:1px;border-style:solid;border-radius:50%;width:1.4em;height:1.4em}
.xicon{display:inline-block;width:5em;height:5em;background-repeat:no-repeat;background-size:auto!important;background-position:center;vertical-align:middle}
#cv-document .action__item{margin-top:1.2em;margin-bottom:1.9em}
#cv-document .action__item:last-child{margin-bottom:0}
#cv-document .action__item-wrap{position:relative;justify-content:space-between;align-items:flex-start;display:flex;margin-bottom:.6em}
#cv-document .action__item-title{margin-bottom:.2em}
#cv-document .action__item-date{flex-shrink:0;margin-left:1em}
#cv-document .action__item-text br{content:"";display:block;margin-top:.7142857143em}
#cv-document .certification__item{margin-bottom:.5em}
#cv-document .certification__item:last-child{margin-bottom:0}
#cv-document .certification__item-title>div::before{content:"- "}
#cv-document .education__item{margin-top:1.2em;margin-bottom:1.9em}
#cv-document .education__item:last-child{margin-bottom:0}
#cv-document .education__item-wrap{position:relative;justify-content:space-between;align-items:flex-start;display:flex;margin-bottom:.6em}
#cv-document .education__item-title{margin-bottom:.2em}
#cv-document .education__item-date{flex-shrink:0;margin-left:1em}
#cv-document .education__item-text br{content:"";display:block;margin-top:.7142857143em}
#cv-document .experience__item{margin-top:1.2em;margin-bottom:1.9em}
#cv-document .experience__item:last-child{margin-bottom:0}
#cv-document .experience__item-wrap{position:relative;justify-content:space-between;align-items:flex-start;display:flex;margin-bottom:.6em}
#cv-document .experience__item-title{margin-bottom:.2em}
#cv-document .experience__item-date{flex-shrink:0;margin-left:1em}
#cv-document .experience__item-text br{content:"";display:block;margin-top:.7142857143em}
#cv-document .hobby{margin-bottom:3em;text-align:center}
#cv-document .hobby__head{display:inline-block;transform:translateY(1.8em);margin-top:-.8em;border-radius:1.6em;min-width:20.6em;padding:.6em;text-align:center;letter-spacing:3px}
#cv-document .hobby__main{flex-wrap:wrap;display:flex;border-width:1px;border-style:solid;border-radius:1.5em;padding:2.8em 2em .7em;text-align:left}
#cv-document .hobby__item{position:relative;align-items:center;display:flex;margin:.8em 0;width:calc(50% - 2em)}
#cv-document .hobby__item:nth-child(odd){margin-right:auto}
#cv-document .hobby__item-icon{flex-shrink:0;margin-right:1em}
#cv-document .target br{content:"";display:block;margin-top:.2857142857em}
#cv-document .project__item{margin-top:1.5em;margin-bottom:2em}
#cv-document .project__item:last-child{margin-bottom:0}
#cv-document .project__item-head{flex-wrap:wrap;align-items:center;display:flex;margin-bottom:.5em}
#cv-document .project__item-title{position:relative;margin-right:2em;padding-right:2.8em;letter-spacing:1px}
#cv-document .project__item-title::after{content:"";position:absolute;top:0;right:0;width:1px;height:1.5em}
#cv-document .project__item-time{flex-shrink:0}
#cv-document .project__item-time>[contenteditable]{min-width:20pt}
#cv-document .project__item-table{position:relative;width:100%;border-collapse:collapse}
#cv-document .project__item-table::after{content:"";position:absolute;top:0;right:0;bottom:0;left:0;border-width:1px;border-style:solid;border-radius:5px;pointer-events:none}
#cv-document .project__item-table .tr{display:flex}
#cv-document .project__item-table .td,#cv-document .project__item-table .th{padding:.9em 1em;vertical-align:top}
#cv-document .project__item-table .th{width:39.5%}
#cv-document .project__item-table .td{width:60.5%}
#cv-document .project__item-table .tr{border-bottom-width:1px;border-bottom-style:dashed}
#cv-document .project__item-table .tr:first-child th{border-radius:5px 0 0 0}
#cv-document .project__item-table .tr:first-child td{border-radius:0 5px 0 0}
#cv-document .project__item-table .tr:last-child{border-bottom:none}
#cv-document .project__item-table .tr:last-child th{border-radius:0 0 0 5px}
#cv-document .project__item-table .tr:last-child td{border-radius:0 0 5px 0}
.award__item{position:relative;justify-content:space-between;align-items:flex-start;display:flex;margin-bottom:.5em}
.award__item:last-child{margin-bottom:0}
.award__date{flex-shrink:0;margin-left:1em}
#cv-document .more{margin-bottom:3em;border-width:1px;border-style:solid;border-radius:1em;padding:1.2em 2.1em 1.4em}
#cv-document .more>div{line-height:1.71}
#cv-document .more br{content:"";display:block;margin-top:.5714285714em}
#cv-document [contentEditable] *{font-size:1em!important}
[contenteditable]:focus{outline:1pt dashed #77a5cc!important;cursor:text}
[contentEditable=true]:empty{outline:1pt dashed #fc4b08!important}
[contenteditable=true]:empty:before{content:attr(placeholder)!important}
#cv-document span.x_add.fa.fa-plus-circle,#cv-document span.x_del.fa.fa-remove{width:70px!important}
#cv-document .height-curent>[data-x-name=group-item]{padding-bottom:3em}

.skill__item{position:relative;margin-bottom:.6em;padding-left:3em}
.skill__item::before{content:"";position:absolute;top:.6em;left:0;display:inline-block;margin-right:0;border-radius:50%;width:1em;height:1em}
.skill__item:last-child{margin-bottom:0}

.template-special .x_hide{display: flex !important;}