#cv-document .page{background:linear-gradient(to bottom,#39b54a,#39b54a) no-repeat right bottom/1.3em 7em,#fff;color:#000}
#cv-document .page::after{border-right-color:#009444;background-color:#f7fcf7}
#cv-document .heading::after{opacity:.2;background-color:#39b54a}
#cv-document .avatar::before{background-color:#39b54a}
#cv-document .avatar__inner{background-color:#fff9f8}
#cv-document .info-main__title{color:#fff}
#cv-document .info-main__title::before{background-color:#333}
#cv-document .info-main__title::after{border-color:#141414 transparent transparent transparent}
#cv-document .info-main__text{color:#fff}
#cv-document .info-main__text::before{background-color:#39b54a}
#cv-document .info-detail::after{background-color:#39b54a}
#cv-document .info-detail__item-icon{color:#fff}