body.page-preview,body.page-view,body.page-viewdemo{background:url(/images3/bg-cv/3.jpg) no-repeat;background-size:cover;background-attachment:fixed}
body.page-preview .xbgcv.xbgcv1{position:fixed;z-index:99;right:0;bottom:0;width:150px;height:150px;background:url(/images3/bg-cv/7.2.png) no-repeat;background-size:cover}
#cv-document{font-size:10px}
#cv-document *{box-sizing:border-box}
#cv-document #cv-watermark a:after{content:"Joboko.com"}
#cv-document .page:last-child #cv-watermark{position:absolute;right:1em;bottom:2em}
#cv-document .relative{position:relative;z-index:5}
#cv-document .inline-block{display:inline-block}
#cv-document .inline{display:inline}
#cv-document .flex-column{flex-direction:column;display:flex;height:100%}
#cv-document [data-x-name=item]{width:100%}
#cv-document .no-outline{outline:0}
#cv-document .no-outline:hover{box-shadow:none;outline:0}
#cv-document .mt-auto{margin-top:auto}
#cv-document .content{position:relative;padding-bottom:4.5em}
@media screen and (max-width:767px){
#cv-document .content{padding-bottom:3em}
}
#cv-document .heading{margin-bottom:2em;letter-spacing:1.1px}
#cv-document .datetime{margin-bottom:1.4em}
#cv-document .page{display:flex}
#cv-document .page__inner{display:flex;padding:4.8em 6em 0 5.3em}
@media screen and (max-width:767px){
#cv-document .page__inner{overflow:hidden;padding:4em 2em 0}
}
#cv-document .full-width{display:flex;width:100%}
#cv-document .h1,#cv-document .h2,#cv-document .h3,#cv-document .h4,#cv-document .h5,#cv-document .h6,#cv-document h1,#cv-document h2,#cv-document h3,#cv-document h4,#cv-document h5,#cv-document h6,#cv-document p{margin:0}
#cv-document .regular{font-weight:400}
#cv-document .light{font-weight:300}
#cv-document .medium{font-weight:500}
#cv-document .bold{font-weight:700}
#cv-document .black{font-weight:900}
#cv-document .italic{font-style:italic}
#cv-document .uppercase{text-transform:uppercase}
#cv-document .avatar{position:relative;z-index:2;justify-content:center;align-items:center;display:flex;margin:9.3em 0 2.5em .2em;width:26.4em;height:32.6em}
@media screen and (max-width:767px){
#cv-document .avatar{margin:8em auto 4em}
}
#cv-document .avatar img{position:relative;width:25.2em;height:31.4em}
#cv-document .avatar__border{position:absolute;top:-6.6em;right:-6.1em;display:flex;width:27.8em;height:27.8em}
#cv-document .avatar__border::after,#cv-document .avatar__border::before{content:"";position:absolute;border-width:.5em .5em 0 0;border-style:solid}
#cv-document .avatar__border::before{top:2.2em;right:2.2em;opacity:.1;width:23.4em;height:23.4em}
#cv-document .avatar__border::after{top:4.6em;right:4.6em;opacity:.2;width:18.8em;height:18.8em}
#cv-document .avatar__border>span{opacity:.3;border-width:.5em .5em 0 0;border-style:solid;width:100%;height:100%}
#cv-document .info-main{position:relative;display:flex;margin-bottom:5.5em}
@media screen and (max-width:767px){
#cv-document .info-main{margin-bottom:4em}
}
#cv-document .info-main::before{content:"";position:absolute;top:.6em;right:-6em;bottom:.5em;left:-5.3em}
#cv-document .info-main__wrapper{position:relative;z-index:2;margin-left:-3.2em;padding:0 3.6em 0 3.2em}
@media screen and (max-width:767px){
#cv-document .info-main__wrapper{margin-left:-1.5em;padding:0 1.5em}
}
#cv-document .info-main__title{margin:0 0 .7em;letter-spacing:2px}
#cv-document .info-main__text{letter-spacing:2.4px}
#cv-document .info-detail{border-top-width:1px;border-top-style:solid;padding:4.5em 0 7.3em}
@media screen and (max-width:767px){
#cv-document .info-detail{padding:3em 0 5em}
}
#cv-document .info-detail__inner{flex-wrap:wrap;display:flex;margin:0 -2em}
@media screen and (max-width:767px){
#cv-document .info-detail__inner{margin:0}
}
#cv-document .info-detail__item{position:relative;align-items:center;display:flex;width:37%;padding:0 2em}
@media screen and (max-width:767px){
#cv-document .info-detail__item{margin-bottom:2em;width:100%;padding:0}
}
#cv-document .info-detail__item:nth-child(2){width:28%}
@media screen and (max-width:767px){
#cv-document .info-detail__item:nth-child(2){width:100%}
}
#cv-document .info-detail__item:nth-child(3){width:35%}
@media screen and (max-width:767px){
#cv-document .info-detail__item:nth-child(3){margin-bottom:0;width:100%}
}
#cv-document .info-detail__item:not(:last-child)::after{content:"";position:absolute;top:0;right:0;bottom:0;width:1px}
@media screen and (max-width:767px){
#cv-document .info-detail__item:not(:last-child)::after{content:none}
}
#cv-document .info-detail__item-icon{flex-shrink:0;justify-content:center;align-items:center;display:flex;margin-right:1.1em;border-radius:.5em;width:4em;height:4em}
#cv-document .info-detail__item-content{flex-grow:1}
#cv-document .info-detail__item-label{margin-bottom:.4em}
#cv-document [contentEditable] *{font-size:1em!important}
[contenteditable]:focus{outline:1pt dashed #77a5cc!important;cursor:text}
[contentEditable=true]:empty{outline:1pt dashed #fc4b08!important}
[contenteditable=true]:empty:before{content:attr(placeholder)!important}
#cv-document span.x_add.fa.fa-plus-circle,#cv-document span.x_del.fa.fa-remove{width:70px!important}

#cv-document .datetime{
 display:none;
}