#form-cv{	
	font-size: 13px
}
.box-01{
	font-size: 12px
}
#cv-content .head{
	font-size: 20px
}
#cv-right .h3{
	font-size: 17px
}
#cv-content h3{
	font-size: 15px
}
#cv-top h2{
	font-size: 17px
}
#cv-top h1{
	font-size:34px;
}
#cv-right .icoweb i.fa{
	margin-top: 4px
}