.itemInfo .nameInfo,  .itemInfo .jobInfo,.itemInfo .icoweb i{
	color: #3d95c3;
}
.icon_tit {
	color: #3d95c3;
    border-bottom: 5px solid #3d95c3;
}
.itemEdu .subName , .itemExp .subName,.itemAct .subName{
	color: #3d95c3;
}

.tit-item .border_tit {
    
    border-bottom: 2px solid #3d95c3;
}