.itemInfo .nameInfo,  .itemInfo .jobInfo,.itemInfo .icoweb i{
	color: #ff5964;
}
.icon_tit {
	color: #ff5964;
    border-bottom: 5px solid #ff5964 !important;
}
.itemEdu .subName , .itemExp .subName,.itemAct .subName{
	color: #ff5964;
}
.tit-item .border_tit {    
    border-bottom: 2px solid #ff5964;
}