body.page-preview,body.page-view,body.page-viewdemo{background:url(/images3/bg-cv/3.jpg) no-repeat;background-size:cover;background-attachment:fixed}
body.page-preview .xbgcv.xbgcv1{position:fixed;z-index:99;right:0;bottom:0;width:150px;height:150px;background:url(/images3/bg-cv/7.2.png) no-repeat;background-size:cover}
#cv-document{font-size:10px}
#cv-document *{box-sizing:border-box}
#cv-document #cv-watermark a:after{content:"Joboko.com"}
#cv-document .page #cv-watermark{position:absolute;bottom:1.1em;left:2.7857142857em}
#cv-document .page:last-child:not(:first-child) #cv-watermark{position:absolute;bottom:2.9285714286em;left:0;padding:.2857142857em 5.2857142857em .2857142857em 3em}
#cv-document .relative{position:relative}
#cv-document .inline-block{display:inline-block}
#cv-document .content{position:relative;padding:.3em 0 .5em 3.2em}
#cv-document .content::before{content:"";position:absolute;top:.7em;left:0;border-width:1px;border-style:solid;border-radius:50%;width:1.5em;height:1.5em;padding:.2em;background-clip:content-box}
#cv-document .content::after{content:"";position:absolute;top:2.6em;bottom:0;left:.7em;width:1px}
#cv-document .bullet::before{content:attr(data-x-bullet);margin-right:.1em}
#cv-document .bullet-dot{position:relative;padding-left:17px}
#cv-document .bullet-dot::before{content:"";position:absolute;top:8px;left:0;display:inline-block;margin-right:0;border-radius:50%;width:10px;height:10px}
#cv-document .bullet-dot br{content:"";position:relative;display:block}
#cv-document .bullet-dot br::before{content:"";position:absolute;top:8px;left:-17px;display:inline-block;margin-right:0;border-radius:50%;width:10px;height:10px}
@media screen and (max-width:767px){
#cv-document .bullet-dot br::before{left:-20px}
}
#cv-document .page__inner{padding:5.7em 4em 0 3.4em}
@media screen and (max-width:767px){
#cv-document .page__inner{padding-right:2em;padding-left:2em}
}
#cv-document .two-up{flex-wrap:wrap;display:flex}
#cv-document .two-up__left{width:24.2em}
@media screen and (max-width:767px){
#cv-document .two-up__left{width:100%}
}
#cv-document .two-up__left .heading::after{content:none}
#cv-document .two-up__left-item{margin-bottom:2.5em}
#cv-document .two-up__right{width:calc(100% - 24.2em);padding-left:3em}
@media screen and (max-width:767px){
#cv-document .two-up__right{width:100%;padding-left:0}
}
#cv-document .two-up__right-item{margin-bottom:1.8em}
#cv-document .h1,#cv-document .h2,#cv-document .h3,#cv-document .h4,#cv-document .h5,#cv-document .h6,#cv-document h1,#cv-document h2,#cv-document h3,#cv-document h4,#cv-document h5,#cv-document h6,#cv-document p{margin:0}
#cv-document .cvo-skillrate-radial::after{font-weight:500}
#cv-document .regular{font-weight:400}
#cv-document .light{font-weight:300}
#cv-document .medium{font-weight:500}
#cv-document .semi-bold{font-weight:600}
#cv-document .bold{font-weight:700}
#cv-document .black{font-weight:900}
#cv-document .uppercase{text-transform:uppercase}
#cv-document .italic{font-style:italic}
#cv-document .heading{align-items:flex-end;display:flex;margin-bottom:.8em}
#cv-document .heading::after{content:"";flex-grow:1;display:block;margin-bottom:.7em;height:.5em}
#cv-document .heading__title{flex-shrink:0;margin-right:.8em;max-width:85%;letter-spacing:2.5px}
#cv-document .avatar{position:relative;z-index:2;justify-content:center;align-items:center;display:flex;overflow:hidden;margin:0 auto;width:22.4em;height:26.5em}
#cv-document .avatar img{width:18em;height:22.5em}
#cv-document .info-main{position:relative;margin-bottom:4em;padding-top:2.2em;padding-bottom:5.1em}
#cv-document .info-main::after{content:"";position:absolute;right:-4em;bottom:0;left:0;height:1.6em}
@media screen and (max-width:767px){
#cv-document .info-main::after{right:-2em}
}
#cv-document .info-main__title{margin:0 0 1em}
#cv-document .info-main__text{letter-spacing:2px}
#cv-document .info-detail{margin-bottom:1.2em}
#cv-document .info-detail__item{align-items:flex-start;display:flex;border-bottom-width:.1px;border-bottom-style:dashed;padding:.6em 0}
#cv-document .info-detail__item:last-child{border-bottom:none}
#cv-document .info-detail__item-icon{flex-shrink:0;margin-top:.4em;margin-right:1.5em;width:1.2em;text-align:center}
#cv-document .skill{padding-top:.2em}
#cv-document .skill__item{margin-bottom:1.4em}
#cv-document .skill__item:last-child{margin-bottom:0}
#cv-document .skill__item-title{margin-top:.2em}
#cv-document .cvo-skillrate-progress{display:flex;border-width:1px;border-style:solid;height:11px}
#cv-document .cvo-skillrate-progress[value="1"]>span{width:20%}
#cv-document .cvo-skillrate-progress[value="2"]>span{width:40%}
#cv-document .cvo-skillrate-progress[value="3"]>span{width:60%}
#cv-document .cvo-skillrate-progress[value="4"]>span{width:80%}
#cv-document .cvo-skillrate-progress[value="5"]>span{width:100%}
.xicon{display:inline-block;width:3.4em;height:3.4em;background-repeat:no-repeat;background-size:auto!important;background-position:center;vertical-align:middle}
#cv-document .action__item{margin-bottom:1.5em}
#cv-document .action__item:last-child{margin-bottom:0}
#cv-document .action__item-wrap{justify-content:space-between;display:flex;margin-bottom:1em;border-bottom-width:.25px;border-bottom-style:dashed;padding-bottom:.6em}
#cv-document .action__item-title{margin-bottom:1px}
#cv-document .action__item-date{flex-shrink:0;margin-left:1em}
#cv-document .action__item-text br{content:"";display:block;margin-top:6px}
#cv-document .certification__item{position:relative;margin-bottom:.6em;padding-left:2.8em}
#cv-document .certification__item::before{content:"";position:absolute;top:.6em;left:.2em;display:inline-block;margin-right:0;border-radius:50%;width:1em;height:1em}
#cv-document .certification__item:last-child{margin-bottom:0}
#cv-document .education__item{margin-bottom:1.5em}
#cv-document .education__item:last-child{margin-bottom:0}
#cv-document .education__item-wrap{justify-content:space-between;display:flex;margin-bottom:1em;border-bottom-width:.25px;border-bottom-style:dashed;padding-bottom:.6em}
#cv-document .education__item-title{margin-bottom:1px}
#cv-document .education__item-date{flex-shrink:0;margin-left:1em}
#cv-document .education__item-text br{content:"";display:block;margin-top:6px}
#cv-document .experience__item{margin-bottom:1.5em}
#cv-document .experience__item:last-child{margin-bottom:0}
#cv-document .experience__item-wrap{justify-content:space-between;display:flex;margin-bottom:1em;border-bottom-width:.25px;border-bottom-style:dashed;padding-bottom:.6em}
#cv-document .experience__item-title{margin-bottom:1px}
#cv-document .experience__item-date{flex-shrink:0;margin-left:1em}
#cv-document .experience__item-text br{content:"";display:block;margin-top:6px}
#cv-document .hobby{flex-wrap:wrap;display:flex}
#cv-document .hobby__item{margin:1em 0;width:100%;max-width:16.6667%;text-align:center}
#cv-document .hobby__item-icon{flex-shrink:0;margin:0 auto}
#cv-document .target br{content:"";display:block;margin-top:.2857142857em}
#cv-document .project__item{margin-top:.9em;margin-bottom:2em}
#cv-document .project__item:last-child{margin-bottom:0}
#cv-document .project__item-head{flex-wrap:wrap;align-items:center;display:flex;margin-top:1.2em;margin-bottom:.6em}
#cv-document .project__item-title{position:relative;margin-right:2.1em;padding-right:2.8em}
#cv-document .project__item-title::after{content:"";position:absolute;top:0;right:0;width:1px;height:1.5em}
#cv-document .project__item-time{flex-shrink:0}
#cv-document .project__item-time>[contenteditable]{min-width:20pt}
#cv-document .project__item-table{position:relative;width:100%;border-collapse:collapse}
#cv-document .project__item-table::after{content:"";position:absolute;top:0;right:0;bottom:0;left:0;border-width:1px;border-style:solid;pointer-events:none}
#cv-document .project__item-table .tr{display:flex}
#cv-document .project__item-table .td,#cv-document .project__item-table .th{border-width:1px 1px 0 1px;border-style:dashed;padding:.8em 1em;vertical-align:top}
#cv-document .project__item-table .th{border-right:none;border-left-style:solid;width:35.5%}
#cv-document .project__item-table .td{border-right-style:solid;width:64.5%;padding-left:1.2em}
#cv-document .project__item-table .tr:first-child .td,#cv-document .project__item-table .tr:first-child .th{border-top-style:solid}
#cv-document .project__item-table .tr:last-child .td,#cv-document .project__item-table .tr:last-child .th{border-bottom-width:1px;border-bottom-style:solid}
.award__item,.skill__item{position:relative;margin-bottom:.6em;padding-left:3em}
.award__item::before,.skill__item::before{content:"";position:absolute;top:.6em;left:0;display:inline-block;margin-right:0;border-radius:50%;width:1em;height:1em}
.award__item:last-child,.skill__item:last-child{margin-bottom:0}
#cv-document .more{position:relative;margin-top:1.6em;margin-bottom:3.5em;border-width:1px;border-style:solid;padding:1.6em 4.5em 4.3em 2em}
#cv-document .more::after{content:"";position:absolute;z-index:5;top:-1px;right:-1px;width:3.5em;height:3.5em}
#cv-document .more>div{line-height:1.71}
#cv-document .more br{content:"";display:block;margin-top:.5714285714em}
#cv-document [contentEditable] *{font-size:1em!important}
[contenteditable]:focus{outline:1pt dashed #77a5cc!important;cursor:text}
[contentEditable=true]:empty{outline:1pt dashed #fc4b08!important}
[contenteditable=true]:empty:before{content:attr(placeholder)!important}
#cv-document span.x_add.fa.fa-plus-circle,#cv-document span.x_del.fa.fa-remove{width:70px!important}
#cv-document .height-curent>[data-x-name=group-item] {
    padding-bottom: 3em;
}
.template-special .x_hide{display: flex !important;}