body.page-preview,body.page-view,body.page-viewdemo{background:url(/images3/bg-cv/3.jpg) no-repeat;background-size:cover;background-attachment:fixed}
body.page-preview .xbgcv.xbgcv1{position:fixed;z-index:99;right:0;bottom:0;width:150px;height:150px;background:url(/images3/bg-cv/7.2.png) no-repeat;background-size:cover}
#cv-document{font-size:10px}
#cv-document *{box-sizing:border-box}
#cv-document #cv-watermark a:after{content:"Joboko.com"}
#cv-document .page:last-child #cv-watermark{position:absolute;right:1em;bottom:2em}
#cv-document .relative{position:relative;z-index:5}
#cv-document .inline-block{display:inline-block}
#cv-document .inline{display:inline}
#cv-document .flex-column{flex-direction:column;display:flex;height:100%}
#cv-document [data-x-name=item]{width:100%}
#cv-document .no-outline{outline:0}
#cv-document .no-outline:hover{box-shadow:none;outline:0}
#cv-document .mt-auto{margin-top:auto}
#cv-document .content{position:relative;margin-bottom:3em}
#cv-document .heading{position:relative;margin-bottom:1.5em}
#cv-document .datetime{margin-bottom:2.2em}
#cv-document .page__inner{overflow:hidden;padding-top:4em}
#cv-document .two-up{position:relative;display:flex;margin-top:-4em;margin-bottom:5em}
@media screen and (max-width:575px){
#cv-document .two-up{display:block}
}
#cv-document .two-up__left{position:relative;z-index:5;flex-shrink:0;justify-content:flex-end;align-items:flex-end;display:flex;width:31.8em;height:30.6em}
#cv-document .two-up__right{position:relative;z-index:5;flex-grow:1;padding:7.4em 5em 0 2.7em}
@media screen and (max-width:767px){
#cv-document .two-up__right{padding-right:2em;padding-left:2em}
}
@media screen and (max-width:575px){
#cv-document .two-up__right{padding:2em 2em}
}
#cv-document .full-width{flex-grow:1;display:flex;width:100%;padding:0 4.8em 0 5.3em}
@media screen and (max-width:767px){
#cv-document .full-width{padding:0 2em}
}
#cv-document .h1,#cv-document .h2,#cv-document .h3,#cv-document .h4,#cv-document .h5,#cv-document .h6,#cv-document h1,#cv-document h2,#cv-document h3,#cv-document h4,#cv-document h5,#cv-document h6,#cv-document p{margin:0}
#cv-document .regular{font-weight:400}
#cv-document .light{font-weight:300}
#cv-document .medium{font-weight:500}
#cv-document .bold{font-weight:700}
#cv-document .black{font-weight:900}
#cv-document .italic{font-style:italic}
#cv-document .uppercase{text-transform:uppercase}
#cv-document .avatar{position:relative;z-index:2;justify-content:center;align-items:center;display:flex;overflow:hidden;margin:1.5em;border-radius:50%;width:22.6em;height:22.6em}
#cv-document .avatar img{border-radius:50%;width:20.4em;height:20.4em}
#cv-document .info-main{position:relative;margin-bottom:2.1em}
#cv-document .info-main::after,#cv-document .info-main::before{content:"";position:absolute;z-index:1;border-radius:50%}
@media screen and (max-width:575px){
#cv-document .info-main::after,#cv-document .info-main::before{content:none}
}
#cv-document .info-main::before{top:-3.9em;left:18.5%;width:1.8em;height:1.8em}
#cv-document .info-main::after{top:-2.8em;left:27%;width:1.2em;height:1.2em}
#cv-document .info-main__title{margin:0 0 1px}
#cv-document .info-detail__item{display:flex;margin-bottom:.8em}
#cv-document .info-detail__item:last-child{margin-bottom:0}
#cv-document .info-detail__item-icon{position:relative;flex-shrink:0;justify-content:center;align-items:center;display:flex;margin-right:2em;border-radius:50%;width:2.2em;height:2.2em;text-align:center}
#cv-document [contentEditable] *{font-size:1em!important}
[contenteditable]:focus{outline:1pt dashed #77a5cc!important;cursor:text}
[contentEditable=true]:empty{outline:1pt dashed #fc4b08!important}
[contenteditable=true]:empty:before{content:attr(placeholder)!important}
#cv-document span.x_add.fa.fa-plus-circle,#cv-document span.x_del.fa.fa-remove{width:70px!important}
#cv-document .datetime{
 display:none;
}