.info_top{
	background: #ac0443;
}
.info_top_right {
    border: 45px solid transparent;
	border-left-color: #ac0443;
}
.ItemEdu .icon_edu{
	color: #ac0443;
}
.col_right .name-Subitem{
	color: #ac0443;
}
.tit-item .tit{
 	border-bottom: 5px solid #ac0443;
 }
.col_left .h-curent{
	border-bottom: 15px solid #ac0443;
}
.col_right .h-curent{
	border-bottom: 15px solid #ac0443;
}
.avatar .img_ava{
	border: 1px solid #ac0443;
}
.ItemEdu .subName {
	color: #ac0443;
}


@media screen and (max-width: 680px) {
	.info_top_right {
	    border: 35px solid transparent;
		border-left-color: #ac0443;
	}
}