body.page-preview,body.page-view,body.page-viewdemo{background:url(/images3/bg-cv/3.jpg) no-repeat;background-size:cover;background-attachment:fixed}
body.page-preview .xbgcv.xbgcv1{position:fixed;width:150px;height:150px;background:url(/images3/bg-cv/7.2.png) no-repeat;background-size:cover;right:0;bottom:0;z-index:99}
#cv-document{font-size:10px}
#cv-document *{box-sizing:border-box}
#cv-document #cv-watermark a:after{content:"Joboko.com"}
#cv-document .page:last-child #cv-watermark{position:absolute;bottom:2em;right:1em}
#cv-document .relative{position:relative}
#cv-document .inline-block{display:inline-block}
/*#cv-document .bullet::before{content:attr(data-x-bullet);margin-right:.25em}*/
#cv-document [contenteditable=true] ul, #cv-document [contenteditable=true] ol{
    margin-left: 18px
}
#cv-document [contenteditable=true] ol li {
    list-style: auto;
}
#cv-document [contenteditable=true] ul li, #cv-document [contenteditable=true] ol li {
    padding: 0;
}
#cv-document [contenteditable=true] ul li {
    list-style-type: disc
}
#cv-document [contenteditable=true] ul li::marker {
    color:#b1b1b1
}
#cv-document .icon-title{position:relative}
#cv-document .icon-title::before{content:"";position:absolute;left:0;top:0;transform:rotate(-45deg);width:.8em;height:.8em}
#cv-document .page__inner{padding:4em 0 0}
#cv-document .two-up{flex-wrap:wrap;display:flex}
#cv-document .two-up--center{align-items:center}
#cv-document .two-up__left{width:24em}
@media screen and (max-width:767px){
#cv-document .two-up__left{width:100%}
}
#cv-document .two-up__left--spacing{padding:0 2.5em 0 2.5em}
@media screen and (max-width:767px){
#cv-document .two-up__left--spacing{padding:0 2em}
}
#cv-document .two-up__left-item{margin-bottom:3.4em}
#cv-document .two-up__right{width:calc(100% - 24em)}
@media screen and (max-width:767px){
#cv-document .two-up__right{width:100%}
}
#cv-document .two-up__right--spacing{padding:0 4.3em 0 2.5em}
@media screen and (max-width:767px){
#cv-document .two-up__right--spacing{padding:0 2em}
}
#cv-document .two-up__right-item{margin-bottom:1.1em}
#cv-document .full-width{position:relative;display:flex;margin:0 4.6em 3.7em 2.6em;border-width:1px;border-style:solid;padding:.8em 2.3em 1em 2.3em}
@media screen and (max-width:767px){
#cv-document .full-width{flex-wrap:wrap;margin-right:2em;margin-left:2em}
}
#cv-document .full-width::before{content:"";position:absolute;top:-8px;right:-10px;bottom:-8px;left:-10px;border-width:.3em;border-style:dashed;pointer-events:none}
#cv-document .full-width__left{flex-shrink:0}
@media screen and (max-width:767px){
#cv-document .full-width__left{width:100%}
}
#cv-document .full-width__right{flex-grow:1}
@media screen and (max-width:767px){
#cv-document .full-width__right{width:100%;text-align:center}
}
#cv-document .h1,#cv-document .h2,#cv-document .uppercase{text-transform:uppercase}
#cv-document .lowercase{text-transform:lowercase}
#cv-document .h1,#cv-document .h2,#cv-document .h3,#cv-document h1,#cv-document h2,#cv-document h3,#cv-document p{margin:0}
#cv-document .cvo-skillrate--radial::after{font-weight:500}
#cv-document .regular{font-weight:400}
#cv-document .light{font-weight:300}
#cv-document .medium{font-weight:500}
#cv-document .bold{font-weight:700}
#cv-document .heading{display:inline-flex;margin-bottom:.5em}
#cv-document .heading::after,#cv-document .heading::before{display:inline-block;font:inherit;color:inherit}
#cv-document .heading::before{content:"<"}
#cv-document .heading::after{content:"/>"}
#cv-document .heading:empty::after,#cv-document .heading:empty::before{display:none}
#cv-document .action__item{margin-bottom:1.4em}
#cv-document .action__item:last-child{margin-bottom:2.5em}
#cv-document .action__item-title{display:inline-flex;margin-bottom:.1875em}
#cv-document .action__item-title::after,#cv-document .action__item-title::before{display:inline-block;font:inherit;color:inherit}
#cv-document .action__item-title::before{content:"{"}
#cv-document .action__item-title::after{content:"}"}
#cv-document .action__item-title br:first-of-type,#cv-document .action__item-title br:last-of-type{display:none}
#cv-document .action__item-date{margin-bottom:.4em}
#cv-document .avatar{position:relative;z-index:2;justify-content:center;align-items:center;display:flex;overflow:hidden;margin-top:1em;margin-right:5.1em;border-width:.4em;border-style:solid;border-radius:50%;width:13.8em;height:13.8em}
@media screen and (max-width:767px){
#cv-document .avatar{margin:0 auto 1em}
}
#cv-document .avatar img{border-radius:50%;width:12em;height:12em}
#cv-document .certification__item{margin-bottom:1.3em;padding-left:2.5em}
#cv-document .certification__item::before{top:.9em;left:.2em}
#cv-document .certification__item:last-child{margin-bottom:0}
#cv-document .certification__item-title{margin-bottom:.3125em}
#cv-document .cvo-skillrate-bar{flex-shrink:0}
#cv-document .cvo-skillrate{align-items:center;display:flex;margin-top:.5em;margin-bottom:.7em}
#cv-document .cvo-skillrate>span{position:relative;margin-right:.7em;width:1.2em;height:1.2em}
#cv-document .cvo-skillrate>span:last-child{margin-right:0}
#cv-document .cvo-skillrate>span::before{content:"";position:absolute;z-index:1;top:50%;left:50%;transform:translate3d(-50%,-50%,0) rotate(45deg);width:.9em;height:.9em}
#cv-document .cvo-skillrate-radial{position:relative;margin:0 auto .5em;border-radius:50%;width:5.8em;height:5.8em;text-align:center}
#cv-document .cvo-skillrate-radial::before{content:"";position:absolute;top:50%;left:50%;justify-content:center;align-items:center;display:flex;transform:translate3d(-50%,-50%,0);border-radius:50%;width:4.8em;height:4.8em}
#cv-document .cvo-skillrate-radial::after{content:"";position:absolute;top:50%;left:50%;transform:translate3d(-50%,-50%,0)}
#cv-document .cvo-skillrate-radial[value="1"]::after{content:"20%"}
#cv-document .cvo-skillrate-radial[value="2"]::after{content:"40%"}
#cv-document .cvo-skillrate-radial[value="3"]::after{content:"60%"}
#cv-document .cvo-skillrate-radial[value="4"]::after{content:"80%"}
#cv-document .cvo-skillrate-radial[value="5"]::after{content:"100%"}
#cv-document .cvo-skillrate-progress{display:flex}
#cv-document .cvo-skillrate-progress>span{width:16.4em;height:.6em;background-repeat:no-repeat}
#cv-document .education__item{margin-bottom:1.8em}
#cv-document .education__item:last-child{margin-bottom:0}
#cv-document .education__item-title{margin-bottom:.1176470588em}
#cv-document .education__item-title::after,#cv-document .education__item-title::before{display:inline;font:inherit;color:inherit}
#cv-document .education__item-title::before{content:"{";margin-right:-.15em}
#cv-document .education__item-title::after{content:"}";margin-left:-.15em}
#cv-document .education__item-title br:first-of-type,#cv-document .education__item-title br:last-of-type{display:none}
#cv-document .education__item-title [contenteditable=true]:empty:before{display:inline}
#cv-document .education__item-date{margin-bottom:.4em}
#cv-document .education__item-content{position:relative;flex-grow:1}
#cv-document .education__item-content div:first-child{margin-bottom:1px}
/*#cv-document .education__item-text br{content:"";display:block;margin-top:.375em}*/
#cv-document .experience__item{display:flex;margin-top:.6em;margin-bottom:1.5em}
@media screen and (max-width:767px){
#cv-document .experience__item{display:block}
}
#cv-document .experience__item:last-child{margin-bottom:0}
@media screen and (max-width:767px){
#cv-document .experience__item:last-child{margin-bottom:3em}
}
#cv-document .experience__item-head{flex-shrink:0;width:19.8em;padding-right:1em}
@media screen and (max-width:767px){
#cv-document .experience__item-head{width:100%;padding-right:0}
}
#cv-document .experience__item-title{margin-bottom:.1875em}
#cv-document .experience__item-title::after,#cv-document .experience__item-title::before{display:inline;font:inherit;color:inherit}
#cv-document .experience__item-title::before{content:"{";margin-right:-.17em}
#cv-document .experience__item-title::after{content:"}";margin-left:-.17em}
#cv-document .experience__item-title br:first-of-type,#cv-document .experience__item-title br:last-of-type{display:none}
#cv-document .experience__item-title [contenteditable=true]:empty:before{display:inline}
#cv-document .experience__item-content{flex-grow:1}
#cv-document .experience__item-position{margin-bottom:.25em}
/*#cv-document .experience__item-text br{content:"";display:block;margin-top:.375em}*/
#cv-document .hobby__item{position:relative;margin-bottom:.375em;padding-left:1.6875em}
#cv-document .hobby__item:last-child{margin-bottom:0}
#cv-document .hobby__item::before{content:"\f101";position:absolute;top:0;left:0;font-family:FontAwesome;font-size:inherit}
#cv-document .info-detail{flex-wrap:wrap;display:flex}
@media screen and (max-width:767px){
#cv-document .info-detail{text-align:left}
}
#cv-document .info-detail__item{display:flex;margin-bottom:.5em;width:50%}
@media screen and (max-width:575px){
#cv-document .info-detail__item{width:100%}
}
@media screen and (min-width:767px){
#cv-document .info-detail__item:nth-last-child(-n+2){margin-bottom:0}
}
@media print and (min-width:767px){
#cv-document .info-detail__item:nth-last-child(-n+2){margin-bottom:0}
}
#cv-document .info-detail__item:last-child{margin-bottom:0}
@media screen and (min-width:576px){
#cv-document .info-detail__item:nth-child(even){margin-left:auto;width:45%}
}
@media print and (min-width:576px){
#cv-document .info-detail__item:nth-child(even){margin-left:auto;width:45%}
}
#cv-document .info-detail__item i{position:relative;top:.1428571429em;margin-right:.5em;min-width:1em;text-align:center}
#cv-document .info-main{position:relative;display:inline-block;margin-bottom:.7em;padding:.8em 2em .5em}
@media screen and (max-width:767px){
#cv-document .info-main{margin-right:auto;margin-left:auto;text-align:center}
}
#cv-document .info-main::after,#cv-document .info-main::before{position:absolute;z-index:1;top:50%;transform:translate3d(0,-50%,0);font-weight:300}
#cv-document .info-main::before{content:"{";left:0}
#cv-document .info-main::after{content:"}";right:0}
#cv-document .info-main__item{margin:0 0 .3em}
#cv-document .info-main__item:last-child{margin-bottom:0}
#cv-document .references__item{margin-bottom:1em}
#cv-document .references__item:last-child{margin-bottom:0}
#cv-document .skill__item{margin-bottom:1.9em}
#cv-document .skill__item:last-child{margin-bottom:0}
#cv-document .skill-ta{display:flex;flex-wrap:wrap;text-align:center}
#cv-document .skill-ta__item{width:34%;margin-top:1em;margin-bottom:1.3em}
#cv-document .skill-ta__item:nth-child(even){margin-left:auto}
#cv-document .skill-ta__item:nth-last-child(-n+2){margin-bottom:0}
#cv-document .skill-th__item{margin-bottom:1em;border-bottom-width:1px;border-bottom-style:dashed;padding-bottom:1.5em}
#cv-document .skill-th__item:last-child{border-bottom:none}
#cv-document .skill-th__item-content{max-width:16.5em;margin-top:.7em}
#cv-document .target{margin-bottom:1.4375em}
/*#cv-document .target br{content:"";display:block;margin-top:.375em}*/
#cv-document .project__item{margin-bottom:3.5em}
#cv-document .project__item-head{flex-wrap:wrap;display:flex;margin-top:.3em;margin-bottom:1.4em}
#cv-document .project__item-title{position:relative;margin-right:1.7em;padding:0 1.5em 0 0}
#cv-document .project__item-title::after{content:"";position:absolute;top:.2em;right:0;bottom:.4em;width:1px}
#cv-document .project__item-time{flex-shrink:0}
#cv-document .project__item-table{position:relative;width:100%;border-collapse:collapse}
#cv-document .project__item-table::after{content:"";position:absolute;top:0;right:0;bottom:0;left:0;border-width:1px;border-style:solid;pointer-events:none}
#cv-document .project__item-table .tr{display:flex}
#cv-document .project__item-table .td,#cv-document .project__item-table .th{border-width:1px 1px 0 1px;border-style:dashed;padding:.9em 1em;vertical-align:top}
#cv-document .project__item-table .th{border-right:none;border-left:none;width:35%}
#cv-document .project__item-table .td{border-right:none;width:65%;padding-left:1.3em}
#cv-document .project__item-table .tr:first-child .td,#cv-document .project__item-table .tr:first-child .th{border-top:none}
#cv-document .project__item-table .tr:last-child .td,#cv-document .project__item-table .tr:last-child .th{border-bottom:none}
#cv-document .cletter{border-width:1px;border-style:solid;padding:1.3em 1.9em 2.2em}
#cv-document .cletter>div{line-height:1.5}
/*#cv-document .cletter br{content:"";display:block;margin-top:1.5em}*/
#cv-document [contentEditable] *{font-size:1em!important}
[contenteditable]:focus{outline:1pt dashed #77a5cc!important;cursor:text}
[contentEditable=true]:empty{outline:1pt dashed #fc4b08!important}
[contenteditable=true]:empty:before{content:attr(placeholder)!important}
#cv-document span.x_add.fa.fa-plus-circle,#cv-document span.x_del.fa.fa-remove{width:70px!important}
#cv-document .height-curent>[data-x-name=group-item]{padding-bottom:3em}
.template-special .x_hide{display: flex !important;}

#cv-document .inline {display:inline;min-width: 1em;}
#cv-document .inline:empty {display:inline-block}

.plr {
    padding-left: 2px;
    padding-right: 2px;
}