.header-row, .year-tag {
      background-color: #3e3e3e !important;
      color: #fff; 
}

#about-me-content {
      background-color: #3e3e3e !important;
      border-color: #fff !important;
}

.year-tag::after {
      border-left: 32px solid #3e3e3e !important
}

.footer-row {
      border-bottom: 8px solid #3e3e3e !important;
}

#skill-progress div .progress-bar .progress-core {
      background: #3e3e3e !important
}