.box-name{
	background: #1fbc89;
}

.cv-left .h3, .cv-content .head{
    color: #1fbc89;
}
.cv-content .h3{
	color:#1fbc89
}
.bar-exp span {
    background: #1fbc89;
}

#cv-box-ava img{
	border:4px solid #3adfab;
}