.box-name{
	background: #2a6598;
}

.cv-left .h3, .cv-content .head{
    color: #2a6598;
}
.cv-content .h3{
	color:#2a6598
}
.bar-exp span {
    background: #2a6598;
}
#cv-box-ava img{
	border:4px solid #2a6598;
}