.box-name{
	background: #3b900f;
}

.cv-left .h3, .cv-content .head{
    color: #3b900f;
}
.cv-content .h3{
	color:#3b900f
}
.bar-exp span {
    background: #3b900f;
}
#cv-box-ava img{
	border:4px solid #3b900f;
}