.box-name{
	background: #a9ac77;
}

.cv-left 
.h3, .cv-content .head{
    color: #a9ac77;
}
.cv-content .h3{
	color:#a9ac77
}
.bar-exp span {
    background: #a9ac77;
}
#cv-box-ava img{
	border:4px solid #b9bb90;
}