body.page-preview, body.page-view, body.page-viewdemo {
	*background: url(/images3/bg-cv/4.jpg) no-repeat;
	background-color: #a7d9ff !important;
    background-size: cover;
    background-attachment: fixed;
}

body.page-preview .xbgcv.xbgcv1{
	position: fixed;
	width: 150px;
	height: 150px;
	background: url(/images3/bg-cv/5.2.png) no-repeat;
	background-size: cover;	
	right: 0;
	top: 0;
	z-index: 99;
}
	body.page-preview .xbgcv.xbgcv2{
		bottom: 0;
		position: fixed;
		width: 100px;
		height: 100px;
		background: url(/images3/bg-cv/3.2.png) no-repeat;
		background-size: cover;
		left: 0;
		z-index: 99;
	}


.xbgcv.xbgcv2{

}
.xbgcv.xbgcv3{

}
.xbgcv.xbgcv4{

}
*{box-sizing:border-box;}
.pageCV{
	background: #fff;
	color: #636f7d;
}
.col_top {
	width: 100%;
	max-width: 100%;
	position: relative;
}
.pageCV:nth-child(n+2) #cv_top {
	display: none;
}
.cv_main {
	width: 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.cv_main .h-curent{
	width: 100%;
	max-width: 100%;
}
.col_left{
	width: 50%;
	max-width: 50%;
	border-left: 30px solid #e1e1e1;
}
.col_left .height_content{
	padding:  0 20px 20px;
}
.pageCV:nth-child(1) .col_left .h-curent {
	padding : 180px 0 15px;
}
.pageCV:nth-child(n+2) .col_left .h-curent {
	padding: 50px 0 15px;
}
.pageCV:nth-child(1) .col_left .height_content{
	min-height: 911px;
}
.pageCV:nth-child(n+2) .col_left .height_content{
	min-height: 1042px;
}
.pageCV .col_right {
    background: url(/MyCV/templates/1076/images/bg.jpg) no-repeat;
    background-position-x: right;
    background-position-y: top;
    width: 50%;
    max-width: 50%;
}
.col_right .height_content {
    padding: 0 20px 20px;
    box-shadow: inset 1px 0 0 0 #bbb9b9;
	border-left: 1px solid #e1e1e1;
}
.pageCV:nth-child(1) .col_right .h-curent {
	padding: 180px 0 15px;
}
.pageCV:nth-child(n+2) .col_right .h-curent {
	padding: 50px 0 15px;
}
.pageCV:nth-child(1) .col_right .height_content{
	min-height: 911px;
}
.pageCV:nth-child(n+2) .col_right .height_content{
	min-height: 1042px;
}
.col_top .info_top{
	height: 90px;
	position: absolute;
	top: 70px;
    left: 0;
    width: 50%;
    padding-left: 40px;
    margin: auto; 
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    display: flex;
}
.name-x-rel{
	margin: auto 0;
}
.info_top_right {
	position: absolute;
    left: 100.28%;
    top: 0;
    height: 0;
    width: 0;
}
.tit-item{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	color: #000;
	margin-bottom: 20px;
	display: flex;
}
.tit-item .tit{
	padding-bottom: 5px;
}
.border_tit {
 	flex-grow: 1;
	border-bottom: 1px solid #827f7e;
	margin-bottom: 2px;
 }
.border_tit{
	display: flex;
}
.icoweb{
	display: flex;
	padding-bottom: 10px; 
	justify-content: flex-start;
	align-items: baseline;
}
.avatar {
	padding-bottom: 30px; 
}
.icoweb i{
	width: 10%;
	max-width: 10%;
	color: #6f6f6f;
	font-size: 16px;
}
.icoweb div{
	flex-grow: 1;
	max-width: 90%;
}
.info_bottom {
	padding-bottom: 30px;
}
.pageCV .groupItem .items_space:nth-child(n+2){
	padding-top: 30px;
}
.pageCV .groupItem .items_space:nth-child(1){
	padding-top: 0;
}
.col_left .subItem:nth-child(n+2){
	padding-top: 15px;
}
.col_right .subItem:nth-child(n+2){
	padding-top: 20px;
}
.col_right .ItemSkill .subItem:nth-child(n+2) {
	padding-top: 20px;
}
.col_right .ItemSkill .desItem {
	padding-top: 0px;
	font-style: italic;
}
.col_right .ItemAct .desItem{
	font-style: normal;
	margin-left: 15px;
}
.col_right .ItemAct .desItem:before {
	

	font-style: normal;		
}

.pageCV .ItemEdu .subTime{
	display: flex;
    color: #000;
    font-style: italic;
    font-weight: 600;
    margin: 2px 0 2px;
}
.pageCV .ItemEdu .subCat {
	margin-bottom: 5px;
}

.pageCV .ItemEdu .subDes {
	font-style: italic;
}
.space_subTime{
	padding: 0 5px;
}
.col_right .name-Subitem {
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 3px;
	font-style: italic;
}
.col_right .subTime{
	margin-bottom: 8px;
	display: flex;
    color: #000;
    font-style: italic;
    font-weight: 600;
}

.desItem {
	padding-top: 8px;
	font-style: italic;
}
.desItem b {
	color: #000;
}
.desItem strong {
	color: #000;
}
/*.desItem br{
	padding-top: 5px;
}*/
.subEdu_PosDes{
	display: flex;
}
.subEdu_PosDes .subEdu_Pos{
	width: 13%;
	max-width: 13%;
	color: #000;
	font-weight: 600;
	font-size: 17px;
	text-transform: uppercase;
	margin: auto 0;
	font-style: italic;
	display: flex;
}
.subEdu_Pos .after_posEdu{
	flex-grow: 1;
	border-bottom: 1px solid #ddd;
	margin: auto 0;
}
.subEdu_PosDes .subEdu_Des{
	flex-grow: 1;
	max-width: 87%;
	padding-left: 5%;
	border-left: 1px solid #ddd;
}
.subEdu:nth-child(n+1){
	margin-top: 20px;
}
.avatar .img_ava{
	width: 220px;
	height: auto;
	border-radius: 50%;
	display: flex;
	margin: 0 auto;
}
.subItem-award{
	display: flex;
	justify-content: space-between;
	max-width: 100%;
}
.subItem-award  .itemName{
	max-width: 65%;
	width: 65%;
	margin-right: 10px;
}
.subItem-award  .itemTime{
	text-align: end;
	max-width: 30%;
	width: 30%;
}
.col_right .ItemCer .subTime {
	margin-bottom: 0px;
}
.info_job {
	max-width: 100% !important;
	width: 100%;
	text-align: center;
	font-weight: 500;
	font-size: 22px;
	text-transform: uppercase;
}
.ItemEdu .subItem:nth-child(n+2) {
	padding-top: 22px;
}
.ItemEdu .subName {
	font-size: 18px;
	font-weight: 550;
}
.pageCV:nth-child(n+2) .col_right{ 
       background: none;
}

.page:last-child #cv-watermark{
    display: block !important;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#cv-watermark a:after{
    content: "Joboko.com";
}


/*---------------------------RESPONSIVE--------------------------------*/

/* -------------TABLET PORTRAIT--------- */
@media screen and (max-width: 780px) {
	.cv_main{
		display: inline-block;
	}
	.col_left{
		width: 100%;
		max-width: 100%;
		border-left: unset;
	}
	.col_left .height_content{
		border-bottom: unset;
		padding-bottom: 0 15px  20px;
	}
	.col_right{
		width: 100%;
		max-width: 100%;
	}
	.col_right .height_content{
		box-shadow: unset;
		padding-bottom: 0 15px  20px;
	}
	.tit-item {
	    margin-bottom: 20px;
	}
	.pageCV:nth-child(1) .col_left .height_content{
		min-height: unset;
	}
	.pageCV:nth-child(n+2) .col_left .height_content{
		min-height: unset;
	}
	.pageCV:nth-child(1) .col_right .height_content{
		min-height: unset;
	}
	.pageCV:nth-child(n+2) .col_right .height_content{
		min-height: unset;
	}
	.pageCV .col_right {
		width: 100%;
		max-width: 100%;
	}
	
}
/* -----------------MOBILE---------------- */
@media screen and (max-width: 680px) {
	.col_top .info_top{
		width: 60%;
		font-size: 25px;
		height: 70px;
	}
	.ItemEdu .subItem:nth-child(n+1) {
	    padding-top: 10px;
	}
	.tit-item {
	    margin-bottom: 10px;
	}
	.pageCV .groupItem .items_space {
	    padding-top: 15px;
	}
}
/* -----------------SMALL MOBILE---------------- */
@media screen and (max-width: 470px) {
	.col_top .info_top{
		width: 86%;
		font-size: 20px;
		padding-left: 20px;
	}
	.col_top  .info_top_right{
		left: 100.3%;
	}
}
/* -----------------iphone 6/7/8 plus ---------------- */
@media screen and (max-width: 414px) {
	.pageCV{
		font-size: 13px;
	}
	
}
/* -----------------iphone 6/7/8/X ---------------- */
@media screen and (max-width: 375px) {
}
/* -----------------SMALLER MOBILE---------------- */
@media screen and (max-width: 360px) {	
}
.page-preview .page-scale .cv_main .h-curent   {
	height: 100%;
}
/*#cv-document .bullet::before{content:attr(data-x-bullet);margin-right:.25em}
#cv-document .bullet:empty::before{content:""}*/

[contentEditable=true]:empty {
    outline: 1pt dashed #fc4b08!important;
}
[contenteditable=true]:empty:before {
    content: attr(placeholder)!important;
}
#cv-document [contenteditable=true] ul, #cv-document [contenteditable=true] ol{
    margin-left: 18px
}
#cv-document [contenteditable=true] ol li {
    list-style: auto;
}
#cv-document [contenteditable=true] ul li, #cv-document [contenteditable=true] ol li {
    padding: 0;
}
#cv-document [contenteditable=true] ul li {
    list-style-type: disc
}
#cv-document .bullet-dot[contenteditable=true] ul li::marker {
    font-size:18px;
}