@import url('/css/font-awesome.min.css');
body.page-preview,body.page-view,body.page-viewdemo{background:url(/images3/bg-cv/3.jpg) no-repeat;background-size:cover;background-attachment:fixed}
body.page-preview .xbgcv.xbgcv1{position:fixed;z-index:99;right:0;bottom:0;width:150px;height:150px;background:url(/images3/bg-cv/7.2.png) no-repeat;background-size:cover}
#cv-document{font-size:10px}
#cv-document *{box-sizing:border-box}
#cv-document #cv-watermark a:after{content:"Joboko.com"}
#cv-document .page:last-child #cv-watermark{position:absolute;right:1em;bottom:2em}
#cv-document .relative{position:relative}
#cv-document .inline-block{display:inline-block}
#cv-document .education__item-text, #cv-document .experience__item-text, #cv-document .action__item-text, #cv-document .target, #cv-document .more, #cv-document .cletter {
    line-height: 24px
}
#cv-document .page__inner{overflow:hidden;padding:5em 3.4em 0}
@media screen and (max-width:767px){
#cv-document .page__inner{padding-right:2em;padding-left:2em}
}
#cv-document .bottom__item{margin-bottom:4rem}
#cv-document .full-width{position:relative;margin:-5em -3.4em 5.5em}
@media screen and (max-width:767px){
#cv-document .full-width{margin-right:-2em;margin-left:-2em;margin-bottom:3em}
}
#cv-document .full-width__top {
    padding: 8em 2em 0;
    background: url(/MyCv/templates/1180/images/bg-01.png) no-repeat center/cover;
    text-align: center
}
@media screen and (max-width:767px){
#cv-document .full-width__top{margin-bottom:8.6em}
}
#cv-document .full-width__bottom{position:relative;padding:0 4em}
@media screen and (max-width:767px){
#cv-document .full-width__bottom{padding:0 2em}
}
#cv-document .full-width__bottom::after,#cv-document .full-width__bottom::before{content:"";position:absolute;bottom:0;width:47.5%;height:6.6em;background-repeat:no-repeat}
@media screen and (max-width:767px){
#cv-document .full-width__bottom::after,#cv-document .full-width__bottom::before{content:none}
}
#cv-document .full-width__bottom::before{left:0;background-position:right bottom}
#cv-document .full-width__bottom::after{right:0;transform:scaleX(-1);background-position:left bottom}
#cv-document .two-up{flex-wrap:wrap;display:flex}
#cv-document .two-up__left{position:relative;width:50%;padding-right:2.6em}
@media screen and (max-width:767px){
#cv-document .two-up__left{margin-bottom:2em;width:100%;padding-right:0}
}
#cv-document .two-up__left::after{content:"";position:absolute;top:0;right:0;bottom:0;border-right-width:1px;border-right-style:dashed}
@media screen and (max-width:767px){
#cv-document .two-up__left::after{content:none}
}
#cv-document .two-up__left-item{margin-bottom:3.2em}
#cv-document .two-up__right{width:50%;padding-left:2.6em}
@media screen and (max-width:767px){
#cv-document .two-up__right{width:100%;padding-left:0}
}
#cv-document .two-up__right-item{margin-bottom:3.5em}
#cv-document .h1,#cv-document .h2,#cv-document .h3,#cv-document .h4,#cv-document .h5,#cv-document .h6,#cv-document h1,#cv-document h2,#cv-document h3,#cv-document h4,#cv-document h5,#cv-document h6,#cv-document p{margin:0}
#cv-document .cvo-skillrate-progress::after{font-weight:700}
#cv-document .regular{font-weight:400}
#cv-document .light{font-weight:300}
#cv-document .medium{font-weight:500}
#cv-document .bold{font-weight:700}
#cv-document .black{font-weight:900}
#cv-document .uppercase{text-transform:uppercase}
#cv-document .heading{position:relative;margin-bottom:1.6em}
#cv-document .heading__icon{position:absolute;z-index:2;top:50%;left:0;justify-content:center;align-items:center;display:flex;transform:translate3d(0,-50%,0);border-radius:50%;width:3.6em;height:3.6em}
#cv-document .heading__title{display:block;margin-left:1em;border-radius:1.6em;padding:.3em 1.5em .3em 3.5em}
#cv-document .avatar{position:relative;z-index:2;display:inline-block;margin:0 auto -8.6em;border-radius:50%;width:16.6em;height:16.6em}
#cv-document .avatar img{position:relative;z-index:2;border-radius:50%;width:16.6em;height:16.6em}
#cv-document .avatar>span{position:absolute;top:-.3em;right:-.3em;left:-.3em;overflow:hidden;width:17.2em;height:8.7em}
#cv-document .avatar>span::before{content:"";position:absolute;top:0;left:0;border-radius:50%;width:17.2em;height:17.2em}
#cv-document .info-main{margin-bottom:1.4em;text-align:center}
#cv-document .info-main__title{margin:0 0 .4em}
#cv-document .info-detail{flex-wrap:wrap;display:flex;margin:0 -10.9em}
@media screen and (max-width:767px){
#cv-document .info-detail{margin:0}
}
#cv-document .info-detail__item{width:50%;padding:0 10.9em}
@media screen and (max-width:767px){
#cv-document .info-detail__item{width:100%;padding:0}
}
#cv-document .info-detail__item:nth-child(odd) .info-detail__item-wrap{flex-direction:row-reverse}
@media screen and (max-width:767px){
#cv-document .info-detail__item:nth-child(odd) .info-detail__item-wrap{flex-direction:row}
}
#cv-document .info-detail__item:nth-child(odd) .info-detail__item-icon{margin:0 0 0 1.2em}
@media screen and (max-width:767px){
#cv-document .info-detail__item:nth-child(odd) .info-detail__item-icon{margin:0 1.2em 0 0}
}
#cv-document .info-detail__item-wrap{align-items:center;display:flex;border-bottom-width:1px;border-bottom-style:dashed;padding:1.3em 0}
#cv-document .info-detail__item-icon{position:relative;flex-shrink:0;justify-content:center;align-items:center;display:flex;margin-right:1.2em;border-radius:50%;width:2.6em;height:2.6em;text-align:center}
#cv-document .skill{margin-top:2em}
#cv-document .skill__item{position:relative;margin-bottom:1.2em;padding-left:2.8em}
#cv-document .skill__item::before{content:"";position:absolute;top:.6em;left:1.3em;border-radius:50%;width:.9em;height:.9em}
#cv-document .skill__item:last-child{margin-bottom:0}
#cv-document .skill-ta{margin-top:2em}
#cv-document .skill-ta__item{position:relative;margin-bottom:1.2em;padding-left:2.8em}
#cv-document .skill-ta__item::before{content:"";position:absolute;top:.6em;left:1.3em;border-radius:50%;width:.9em;height:.9em}
#cv-document .skill-ta__item:last-child{margin-bottom:0}
#cv-document .skill-th{margin-top:2.1em}
#cv-document .skill-th__item{position:relative;margin-bottom:.7em;padding-left:3.6em}
#cv-document .skill-th__item::before{content:"";position:absolute;top:.3em;left:1em;width:1.6em;height:1.6em}
#cv-document .skill-th__item:last-child{margin-bottom:0}
#cv-document .cvo-skillrate{align-items:center;display:flex}
#cv-document .cvo-skillrate i{margin-right:3px;font-size:22px}
#cv-document .cvo-skillrate-progress{position:relative;justify-content:space-between;align-items:center;display:flex}
#cv-document .cvo-skillrate-progress::after{content:"";flex-shrink:0;line-height:1.2;text-align:right}
#cv-document .cvo-skillrate-progress>span{position:relative;display:flex;border-width:1px;border-style:solid;border-radius:99.9em;width:calc(100% - 5em);height:2.4em;padding:.4em}
#cv-document .cvo-skillrate-progress>span::before{content:"";display:inline-block;border-radius:99.9em;width:20%}
#cv-document .cvo-skillrate-progress[value="1"]::after{content:"20%"}
#cv-document .cvo-skillrate-progress[value="1"]>span::before{width:20%}
#cv-document .cvo-skillrate-progress[value="2"]::after{content:"40%"}
#cv-document .cvo-skillrate-progress[value="2"]>span::before{width:40%}
#cv-document .cvo-skillrate-progress[value="3"]::after{content:"60%"}
#cv-document .cvo-skillrate-progress[value="3"]>span::before{width:60%}
#cv-document .cvo-skillrate-progress[value="4"]::after{content:"80%"}
#cv-document .cvo-skillrate-progress[value="4"]>span::before{width:80%}
#cv-document .cvo-skillrate-progress[value="5"]::after{content:"100%"}
#cv-document .cvo-skillrate-progress[value="5"]>span::before{width:100%}
.xicon{display:inline-block;width:3.1em;height:4.3em;background-repeat:no-repeat;background-size:auto!important;background-position:center;vertical-align:middle}
#cv-document .action{margin-top:2em}
#cv-document .action__item{margin-bottom:1.7em}
#cv-document .action__item:last-child{margin-bottom:0}
#cv-document .action__item-head{position:relative;padding-left:5.1em}
#cv-document .action__item-head::before{content:"";position:absolute;top:.3em;left:.4em;width:3.3em;height:3.3em}
#cv-document .action__item-title{position:relative;margin-bottom:1px}
#cv-document .action__item-date{margin-bottom:.6em}
#cv-document .action__item-text{margin-left:.7em}
#cv-document .education__item{margin-bottom:1.9em;padding-top:.2em;padding-left:.7em}
#cv-document .education__item:last-child{margin-bottom:0}
#cv-document .education__item-head{position:relative;padding-left:4em}
#cv-document .education__item-head::before{content:"";position:absolute;z-index:1;top:.6em;left:1px;opacity:.9;width:2.5em;height:3em}
#cv-document .education__item-title{margin-bottom:.2em}
#cv-document .education__item-date{margin-bottom:.9em}
#cv-document .experience{margin-top:2em}
#cv-document .experience__item{position:relative;padding-bottom:2.2em;padding-left:5.1em}
#cv-document .experience__item::before{content:"";position:absolute;top:0;left:1.1em;border-width:.3em;border-style:solid;border-radius:50%;width:2.1em;height:2.1em}
#cv-document .experience__item::after{content:"";position:absolute;top:2.1em;bottom:0;left:2.1em;width:1px}
#cv-document .experience__item:last-child{padding-bottom:0}
#cv-document .experience__item-title{margin-bottom:1px}
#cv-document .experience__item-date{margin-bottom:.5em}
/*#cv-document .hobby{flex-wrap:wrap;justify-content:space-between;display:flex;margin-top:-1.2em}*/
#cv-document .hobby__item{position:relative;/*margin-top:2.2em;width:50%*/margin-top:1em;padding-left:4.1em}
#cv-document .hobby__item:nth-child(even){margin-left:auto}
#cv-document .hobby__item::before{content:"";position:absolute;top:.2em;left:1em;width:1.9em;height:1.7em}
#cv-document .references{padding:.8em 0 0 1em}
#cv-document .references__item{margin-bottom:.6em}
#cv-document .references__item:last-child{margin-bottom:0}
#cv-document .advantage{margin-top:2.5em}
#cv-document .advantage__item{margin-bottom:1.1em;padding-left:3.7em}
#cv-document .advantage__item::before{content:"";position:absolute;top:.3em;left:.8em;width:1.9em;height:1.7em}
#cv-document .advantage__item:last-child{margin-bottom:0}
#cv-document .advantage__item-title>*{line-height:1.375}
#cv-document .certification__item{position:relative;justify-content:space-between;align-items:flex-start;display:flex;margin-bottom:.7em;padding-left:2.8em}
#cv-document .certification__item::before{content:"";position:absolute;top:.6em;left:1.3em;border-radius:50%;width:.9em;height:.9em}
#cv-document .certification__item:last-child{margin-bottom:0}
#cv-document .certification__item-date{flex-shrink:0;padding-left:1em;text-align:right}
#cv-document .project__item{position:relative;margin-bottom:2em}
#cv-document .project__item::after{content:"";position:absolute;top:0;right:0;bottom:0;left:0;border-width:1px;border-style:solid;pointer-events:none}
#cv-document .project__item:last-child{margin-bottom:0}
#cv-document .project__item-head{padding:.5em 1.1em .9em}
#cv-document .project__item-title{position:relative;margin-bottom:.3em}
#cv-document .project__item-time{flex-shrink:0}
#cv-document .project__item-table{width:100%;border-collapse:collapse}
#cv-document .project__item-table .tr{display:flex}
#cv-document .project__item-table .td,#cv-document .project__item-table .th{border-width:1px 1px 0 1px;border-style:dashed;padding:1.1em;vertical-align:top}
#cv-document .project__item-table .th{border-right:none;border-left:none;width:21%}
@media screen and (max-width:767px){
#cv-document .project__item-table .th{width:30%}
}
#cv-document .project__item-table .td{border-right:none;border-left-style:solid;width:79%;padding-left:1.5em}
@media screen and (max-width:767px){
#cv-document .project__item-table .td{width:70%}
}
#cv-document .project__item-table .tr:first-child .td,#cv-document .project__item-table .tr:first-child .th{border-top-style:solid}
#cv-document .project__item-table .tr:last-child .td,#cv-document .project__item-table .tr:last-child .th{border-bottom:none}
#cv-document .cletter{border-width:1px;border-style:solid;padding:.8em 2.2em 2.7em}
#cv-document .cletter>div{line-height:1.47}
/*#cv-document .cletter br{content:"";display:block;margin-top:1.4em}*/
#cv-document [contentEditable] *{font-size:1em!important}
[contenteditable]:focus{outline:1pt dashed #77a5cc!important;cursor:text}
[contentEditable=true]:empty{outline:1pt dashed #fc4b08!important}
[contenteditable=true]:empty:before{content:attr(placeholder)!important}
#cv-document span.x_add.fa.fa-plus-circle,#cv-document span.x_del.fa.fa-remove{width:70px!important}
.height-curent>[data-x-name=group-item]{padding-bottom:3em}
.template-special .x_hide{display: flex !important;}

#cv-document .inline {display:inline;min-width: 1em;}
#cv-document .inline:empty {display:inline-block}

#cv-document .haicham:after{content:":"}
