/*header*/
.icon_fb{
	border: 3px solid #f5c704;
}
.col_top .h_curent .height_content .icoweb_fb {
    color: #4462ab;
}
/*-------ben trai-------------*/
.itemInfo{
	background: #8dbdc4;
}
.radialProgressBar .overlay:after{
	color: #3a7987;
}
.radialProgressBar .overlay[value="1"] {
  background-image: linear-gradient(18deg, #bbcace 50%, transparent 50%), linear-gradient(90deg, #3a7987 50%, #bbcace 50%);
}
.radialProgressBar .overlay[value="2"] {
  background-image: linear-gradient(-54deg, #bbcace 50%, transparent 50%), linear-gradient(90deg, #3a7987 50%, #bbcace 50%);
}
.radialProgressBar .overlay[value="3"] {
  background-image: linear-gradient(90deg, #3a7987 50%, transparent 50%), linear-gradient(54deg, #3a7987 50%, #bbcace 50%);
}
.radialProgressBar .overlay[value="4"] {
  background-image: linear-gradient(90deg, #3a7987 50%, transparent 50%), linear-gradient(-18deg, #3a7987 50%, #bbcace 50%);
}
.radialProgressBar .overlay[value="5"] {
  background-image: linear-gradient(90deg, #3a7987 50%, transparent 50%), linear-gradient(-90deg, #3a7987 50%, #3a7987 50%);
}

.itemSkill .skillrate_val[value="5"]{
	content: url(../images/icon-skillvalue-rate5.png);
}
.itemSkill .skillrate_val[value="4"]{
	content: url(../images/icon-skillvalue-rate4.png);
}
.itemSkill .skillrate_val[value="3"]{
	content: url(../images/icon-skillvalue-rate3.png);
}
.itemSkill .skillrate_val[value="2"]{
	content: url(../images/icon-skillvalue-rate2.png);
}
.itemSkill .skillrate_val[value="1"]{
	content: url(../images/icon-skillvalue-rate1.png)
}
/*-------ben phai-------------*/
.itemMore {
	background: #3a7987;
}
.col_bottom_right{
	background: #eef5f6;
}
.tit-item {
	border-bottom: 1px solid #9fbfc5;
}