/*header*/
.icon_fb{
	border: 3px solid #3d4a8a;
}
.col_top .h_curent .height_content .icoweb_fb {
    color: #3d4a8a;
}
/*-------ben trai-------------*/
.itemInfo{
	background: #b1c3d9;
}
.radialProgressBar .overlay:after{
	color: #3d4a8a;
}
.radialProgressBar .overlay[value="1"] {
  background-image: linear-gradient(18deg, #bbcace 50%, transparent 50%), linear-gradient(90deg, #3d4a8a 50%, #bbcace 50%);
}
.radialProgressBar .overlay[value="2"] {
  background-image: linear-gradient(-54deg, #bbcace 50%, transparent 50%), linear-gradient(90deg, #3d4a8a 50%, #bbcace 50%);
}
.radialProgressBar .overlay[value="3"] {
  background-image: linear-gradient(90deg, #3d4a8a 50%, transparent 50%), linear-gradient(54deg, #3d4a8a 50%, #bbcace 50%);
}
.radialProgressBar .overlay[value="4"] {
  background-image: linear-gradient(90deg, #3d4a8a 50%, transparent 50%), linear-gradient(-18deg, #3d4a8a 50%, #bbcace 50%);
}
.radialProgressBar .overlay[value="5"] {
  background-image: linear-gradient(90deg, #3d4a8a 50%, transparent 50%), linear-gradient(-90deg, #3d4a8a 50%, #3d4a8a 50%);
}

.itemSkill .skillrate_val[value="5"]{
	content: url(../images/icon-skillvalue-rate5-colr1.png);
}
.itemSkill .skillrate_val[value="4"]{
	content: url(../images/icon-skillvalue-rate4-colr1.png);
}
.itemSkill .skillrate_val[value="3"]{
	content: url(../images/icon-skillvalue-rate3-colr1.png);
}
.itemSkill .skillrate_val[value="2"]{
	content: url(../images/icon-skillvalue-rate2-colr1.png);
}
.itemSkill .skillrate_val[value="1"]{
	content: url(../images/icon-skillvalue-rate1-colr1.png)
}
/*-------ben phai-------------*/
.itemMore {
	background: #3d4a8a;
}
.col_bottom_right{
	background: #edf4fc;
}
.tit-item {
	border-bottom: 1px solid #c4d2e2;
}