#form-cv{
	
	color:#049fae;
}
[data-x-name="parrent"] .page{
	background: #049fae;
}
.cv-content{
	color: #049fae;
}
.cv-content .head{
	background: #049fae;
}
.box-contact i.fa{
    color: #049fae!important;background-color: #fff;
}
.cv-content{
	background: #fff;
}
#cv-box-ava img{
	border: solid 2px #fff;
}
.bar-exp span {
    background: #a6a6a6;
}