#cv-top h1{    
    color:#00cc99;
}

#cv-right .h3 span[contenteditable], #cv-content .head span[contenteditable]{
	background: #00cc99;
}

#cv-content h3{	
    color: #00cc99;
}

#cv-content .h3{
	color:#00cc99;
}

.bar-exp span{
    background: #00cc99;
}

#cv-right .icoweb i.fa{
    color: #00cc99;
    border: solid 1px #00cc99;
}

#cv-right .h3, #cv-content .head{
    background: url(../images/line00cc99.png) left center repeat-x;
}