#cv-top h1{    
    color:#ff6600;
}

#cv-right .h3 span[contenteditable], #cv-content .head span[contenteditable]{
	background: #ff6600;
}

#cv-content h3{	
    color: #ff6600;
}

#cv-content .h3{
	color:#ff6600;
}

.bar-exp span {
    background: #ff6600;
}

#cv-right .icoweb i.fa{
    color: #ff6600;
    border: solid 1px #ff6600;
}
#cv-right .h3, #cv-content .head{
    background: url(../images/lineff6600.png) left center repeat-x;
}