<link id="cv-font" rel="stylesheet" href="/MyCV/templates/1075/fonts/default.css" />
<link id="cv-font-size-css" rel="stylesheet" href="/MyCV/templates/1075/font-sizes/font_normal.css" />
<link id="cv-spacing-css" rel="stylesheet" href="/MyCV/templates/1075/spacing/spacing_normal.css" />
<link id="cv-css" href="/MyCV/templates/1075/css/style-simple-back-ground.css?v=24" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Cookie|Open+Sans|Source+Code+Pro&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div id="form-cv" class="text-size line-size" data-x-name="parrent">
    <div class="container-main-container cv-main container-mains page" page='1' fix="true">
        <div class="head-info" data-x-id="info" data-x-name="item">
            <div id="logo-decor">
                <div></div>
            </div>
            <div id="head-name" contenteditable="true" data-x-id="name">
                Lê Thi Thu Ba
            </div>
            <div id="head-pos" contenteditable="true" data-x-id="job">
                thực tập sinh kế hoạch sản xuất
            </div>
            <div id="head-underline-decor">
                <span>O</span>
                <span>O</span>
                <span>O</span>
                <span>O</span>
                <span>O</span>
            </div>
        </div>
        <div class="content">
            <div class="col-left" data-x-name="col-parrent" data-x-col="1">
                <div class="height-curent">
                    <div id="contact" data-x-name="item" data-x-id="info">
                        <div contenteditable="true" class="title-head" data-x-name="head" data-x-id="tit">Liên hệ</div>
                        <div data-x-name="list-item">
                            <div class="sub-div clearfix">
                                <span contenteditable="true" data-x-id="tel">Phone: 078 934 2234</span>
                            </div>
                            <div class="sub-div clearfix">
                                <span contenteditable="true" data-x-id="email">Mail: aloha@hcmut.edu.vn</span>
                            </div>
                            <div class="sub-div clearfix">
                                <span contenteditable="true" data-x-id="add">497 Hòa Hảo, phường 7, quận 10, TP. HCM</span>
                            </div>
                        </div>
                    </div>
                    <div data-x-name="group-item">
                        <div id="education" data-x-id="edu" data-x-name="item">
                            <div contenteditable="true" class="title-head" data-x-name="head" data-x-id="tit">Học vấn</div>
                            <div data-x-name="list-item">
                                <div data-x-name="sub-item" class="sub-div clearfix">
                                    <span contenteditable="true" data-x-id="name" name="edu.name" class="sub-div-head">đại học bách khoa TP hồ chí minh</span>
                                    <span contenteditable="true" data-x-id="pos" name="edu.cat">Khoa cơ khí</span>
                                    <div contenteditable="true" data-x-id="des">
                                        Ngành Kỹ Thuật Hệ thống Công Nghiệp<br>
                                        GPI: 7.67
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="reference" data-x-name="item" data-x-id="ref">
                            <div contenteditable="true" class="title-head" data-x-name="head" data-x-id="tit">người giới thiệu</div>
                            <div data-x-name="list-item">
                                <div class="sub-div clearfix">
                                    <span contenteditable="true" data-x-id="name">Aloha Kaka Manila</span>
                                </div>
                            </div>
                        </div>
                        <div id="certifications" data-x-id="cer" data-x-name="item">
                            <div contenteditable="true" class="title-head" data-x-name="head" data-x-id="tit">Chứng chỉ</div>
                            <div data-x-name="list-item">
                                <div data-x-name="sub-item" class="sub-div clearfix">
                                    <div class="cer-info">
                                        <span contenteditable="true" data-x-id="name" name="cer.name" class="sub-div-head">IELts 7.0</span>
                                    </div>
                                    <span class="milestone" contenteditable="true" data-x-id="time" name="cer.time">2019</span>
                                </div>
                                <div data-x-name="sub-item" class="sub-div clearfix">
                                    <div class="cer-info">
                                        <span contenteditable="true" data-x-id="name" name="cer.name" class="sub-div-head">ccna</span>
                                    </div>
                                    <span class="milestone" contenteditable="true" data-x-id="time" name="cer.time">2019</span>
                                </div>
                            </div>
                        </div>
                        <div id="awards" data-x-id="award" data-x-name="item">
                            <div contenteditable="true" class="title-head" data-x-name="head" data-x-id="tit">Giải thưởng</div>
                            <div data-x-name="list-item">
                                <div data-x-name="sub-item" class="sub-div clearfix">
                                    <div class="aw-info">
                                        <span contenteditable="true" data-x-id="name" name="award.name" class="sub-div-head">Sinh viên thanh lịch</span>
                                    </div>
                                    <span class="milestone" contenteditable="true" data-x-id="time" name="award.time">2017</span>
                                </div>
                                <div data-x-name="sub-item" class="sub-div clearfix">
                                    <div class="aw-info">
                                        <span contenteditable="true" data-x-id="name" name="award.name" class="sub-div-head">bài báo xuất sắc nhất</span>
                                    </div>
                                    <span class="milestone" contenteditable="true" data-x-id="time" name="award.time">2019</span>
                                </div>
                            </div>
                        </div>
                        <div id="skills" data-x-id="skill" data-x-name="item">
                            <div contenteditable="true" class="title-head" data-x-name="head" data-x-id="tit">Skills</div>
                            <div data-x-name="list-item">
                                <div data-x-name="sub-item" class="sub-div clearfix">
                                    <span contenteditable="true" data-x-id="name">tiếng anh</span>
                                    <div class="cvo-skillrate-bar progress-bar">
                                        <div data-x-id="val" value="4" class="cvo-skillrate-value progress-core"></div>
                                    </div>
                                </div>
                                <div data-x-name="sub-item" class="sub-div clearfix">
                                    <span contenteditable="true" data-x-id="name">làm việc nhóm</span>
                                    <div class="cvo-skillrate-bar progress-bar">
                                        <div data-x-id="val" value="1" class="cvo-skillrate-value progress-core"></div>
                                    </div>
                                </div>
                                <div data-x-name="sub-item" class="sub-div clearfix">
                                    <span contenteditable="true" data-x-id="name">microsoft office</span>
                                    <div class="cvo-skillrate-bar progress-bar">
                                        <div data-x-id="val" value="2" class="cvo-skillrate-value progress-core"></div>
                                    </div>
                                </div>
                                <div data-x-name="sub-item" class="sub-div clearfix">
                                    <span contenteditable="true" data-x-id="name">thuyết trình</span>
                                    <div class="cvo-skillrate-bar progress-bar">
                                        <div data-x-id="val" value="3" class="cvo-skillrate-value progress-core"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="col-right" data-x-name="col-parrent" data-x-col="2">
                <div class="height-curent">
                    <div data-x-name="group-item">
                        <div id="tar" data-x-id="tar" data-x-name="item">
                            <div contenteditable="true" class="title-head" data-x-name="head" data-x-id="tit">mục tiêu nghề nghiệp</div>
                            <div data-x-name="list-item">
                                <div class="sub-div clearfix" contenteditable="true" data-x-id="name">
                                    Ứng dụng các kiến thức, công cụ, kỹ năng được học vào thực tế để trở 
                                    thành một nhân viên kế hoạch sản xuất trong tương lai.
                                </div>
                            </div>
                        </div>
                        <div id="experience" data-x-id="exp" data-x-name="item">
                            <div contenteditable="true" class="title-head" data-x-name="head" data-x-id="tit">kinh nghiêm làm việc</div>
                            <div data-x-name="list-item">
                                <div data-x-name="sub-item" class="sub-div clearfix">
                                    <div class="sub-div-head">
                                        <span contenteditable="true" data-x-id="name" name="exp.name">Công ty tnhh tân tân</span>
                                        <span> (</span>
                                        <span contenteditable="true" data-x-id="start" class="start">10/2018</span>
                                        <span> - </span>
                                        <span contenteditable="true" data-x-id="end" class="end">nay</span>
                                        <span>)</span>
                                    </div>
                                    <span contenteditable="true" data-x-id="pos">Thực tập nhân viên sản xuất</span>
                                    <span contenteditable="true" data-x-id="des">Đây là des</span>
                                </div>
                                <div data-x-name="sub-item" class="sub-div clearfix">
                                    <div class="sub-div-head">
                                        <span contenteditable="true" data-x-id="name" name="exp.name">Công ty gia sư chất lượng cao vclass</span>
                                        <span> (</span>
                                        <span contenteditable="true" data-x-id="start" class="start">10/2018</span>
                                        <span> - </span>
                                        <span contenteditable="true" data-x-id="end" class="end">nay</span>
                                        <span>)</span>
                                    </div>
                                    <span contenteditable="true" data-x-id="pos" name="exp.pos">Gia sư dạy kèm</span>
                                    <span contenteditable="true" data-x-id="des">Đây là des</span>
                                </div>
                            </div>
                        </div>
                        <div id="activities" data-x-id="act" data-x-name="item">
                            <div contenteditable="true" class="title-head" data-x-name="head" data-x-id="tit">hoạt động</div>
                            <div data-x-name="list-item">
                                <div data-x-name="sub-item" class="sub-div clearfix">
                                    <div class="sub-div-head">
                                        <span contenteditable="true" data-x-id="name" name="act.name">Xuân tình nguyện</span>
                                        <span> (</span>
                                        <span contenteditable="true" data-x-id="start" class="start">2017</span>
                                        <span> - </span>
                                        <span contenteditable="true" data-x-id="end" class="end">2018</span>
                                        <span>)</span>
                                    </div>
                                    <span contenteditable="true" data-x-id="pos" name="act.pos">Chiến sĩ thường trực xuân tình nguyện khoa Cơ</span>
                                    <div contenteditable="true" data-x-id="des" data-x-bullet="o">Chiến sĩ thường trực xuân tình nguyện khoa Cơ</div>
                                </div>
                                <div data-x-name="sub-item" class="sub-div clearfix">
                                    <div class="sub-div-head">
                                        <span contenteditable="true" data-x-id="name" name="act.name">Tư vấn tuyển sinh BKU</span>
                                        <span> (</span>
                                        <span contenteditable="true" data-x-id="start" class="start">2017</span>
                                        <span> - </span>
                                        <span contenteditable="true" data-x-id="end" class="end">2018</span>
                                        <span>)</span>
                                    </div>
                                    <span contenteditable="true" data-x-id="pos" name="act.pos">CTV Trường THPT Trần Kỳ Phong - 2016</span>
                                    <div contenteditable="true" data-x-id="des" data-x-bullet="o">Chiến sĩ thường trực xuân tình nguyện khoa Cơ</div>
                                </div>
                            </div>
                        </div>
                        <div id="profile" data-x-name="item" data-x-id="more">
                            <div contenteditable="true" class="title-head" data-x-name="head" data-x-id="tit">Thông tin khác</div>
                            <div data-x-name="list-item">
                                <div class="sub-div clearfix">
                                    <span contenteditable="true" data-x-id="name">Aloha Kaka Manila</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>