.cv-left .h3, .cv-content .head{
    color: #158461;
    border: solid 2px #158461; 
}
#cv-box-ava img{
	border: solid 3px #158461;
}
.bar-exp span[contenteditable] {
    background: #158461;
}
.icoweb i.fa{
    background-color: #158461;
}
.cv-content{
	border-left: solid 5px #158461;
}

#cv-top h1 span{
	color: #158461
}
.bar-exp span{background-color:#158461}