.cv-left .h3, .cv-content .head{
    color: #571f7a;
    border: solid 2px #571f7a; 
}
#cv-box-ava img{
	border: solid 3px #571f7a;
}
.bar-exp span[contenteditable] {
    background: #571f7a;
}
.icoweb i.fa{
    background-color: #571f7a;
}
.cv-content{
	border-left: solid 5px #571f7a;
}

#cv-top h1 span{
	color: #571f7a
}
.bar-exp span{background-color:#571f7a}