/* -----------------ma mau #000000  -------*/
.page-wrapper{
	color: #000 !important;
}
.page-pro-2 .logo {
	background: #000000;	
}
.page-pro-2 .ml_ttl {
	background: #000000;
}
.page-pro-2 .tar .ml_ttl .ml_ttl_inner{
	color: #000000 !important;
}
