#cv-right .h3{
	border-bottom: solid 3px #bf4040;
}

#cv-content .head{
	border-bottom: solid 3px #bf4040;
}
#cv-content span[contenteditable]{
	background: #669900;
}
#cv-content{
	background: #669900;

}

#form-cv{
	background: #d9ff66;
}