.tit-item .text_h2 {
    font-size: 18px !important;
    /* font-weight: bold; */
    
}


#cv-document .txt-content{
    font-size: 13px;
}

#cv-document .txt-job{
    font-size: 17px;
    font-weight: bold;
}
#cv-document .txt-name{
    font-size: 27px;
    font-weight: bold;
}
#cv-document .sub-name{
    font-size: 16px;
    font-weight:  bold;
}

#cv-document .sub-des{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}
